body, html
{
    height: 100%;
    margin: 0px;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}

.pimg1, .pimg2, .pimg3
{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.subSideSmallText
{
    font-size: 18px;
    padding-left:2%;
    font-weight: 600;
    line-height: 1.2;
	text-align:left;
    color: #4a4a4a;
}
.formSideSmallText
{
    font-size: 16px;
    margin-top: 2%;
    margin-left: 0%;
    padding-left:2%;
    font-weight: 500;
    line-height: 1.4;
	text-align:left;
    color: #4a4a4a !important;
}
.formSideSmallTextList
{
	font-size: 16px;
    margin-top: 2%;
	font-weight: 500;
    line-height: 1.4;
	text-align:left;
    color: #4a4a4a !important;
}
.ulSubText
{
	font-size:14px;padding-left:2%;padding-top:1%;
}
.pimg1
{
    background-image:url('../images/cvMain (2).png');
    min-height: 400px;
}
.pimg2
{
    background-image:url('../images/bgimg3.jpg');
    min-height: 400px;
}
.pimg3
{
    background-image:url('../images/bgimage.jpg');
    min-height: 400px;
}

.section
{
    text-align: center;
    padding: 50px 80px;
	background-color: #fff !important;
    color:#666;
}
.applyNowBtn
{
	background-color:#00B1EB !important;
	border:1px solid #00B1EB !important;
	position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
}
.applyNowLink
{
	color:#fff !important;
	font-size:20px !important;
}
.applyNowLink:hover
{
	text-decoration:none;
}
.section-light
{
    background-color: #ebebe0 !important;
	height:80px;
}


.ptext
{
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border
{
    background-color: #000;
    color:#fff;
    padding: 20px;
}

.ptext .border.trans
{
    background-color:transparent;
	color:#fff;
}