$defalut_font_family: "Segoe UI",
'Open Sans',
sans-serif,
serif;
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#roll {
    transition: all 1s ease-in-out;
}

#contain:hover #roll {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.9;
}

.top-bar {
    border-radius: 0px !important;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15)!important;
    margin-bottom: 0px !important;
    .item {
        color: #888 !important;
        font-family: $defalut_font_family !important;
        padding-top: 10px !important;
        font-size: 11px !important;
        .facebook,
        .google {
            font-size: 16px !important;
        }
    }
}

.info-grid {
    //height: 200px;
    background-color: #f6f6f6;
    background: url('../img/page-title-bkg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 18px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    .content {
        font-family: $defalut_font_family;
        font-size: 20px;
    }
}


.anim-grid {
	
    .segment {
		
        background: rgba(255, 255, 255, 0.8);
        h1 {
            font-family: $defalut_font_family;
            color: #7F7F7F;
            letter-spacing: 0.03em;
            margin-bottom: 7px!important;
        }
        h3 {
            font-size: 20px;
            font-family: $defalut_font_family !important;
            font-weight: 400;
            color: #666e73;
            -webkit-font-smoothing: antialiased;
            line-height: 1.25;
            font-size: 20px;
            margin-top: 7px!important;
        }
        .menu {
            //height: 42px!important;
            a {
                font-size: 20px;
                font-family: 'Raleway' !important;
            }
        }
        .form {
            .facebook.button {
                width: 100% !important;
                .facebook.icon {
                    float: left;
                }
            }
            .field {
                input {
                    border-left-width: 5px;
                }

                /*Css By @Shiva kumar*/
                /*

                select {
                    border-left-width: 5px;
                }
                .request_form_bar_head{
                    text-align: center;
                    background-color: yellow;
                }
                */

            }
            button {
                width: 150px;
            }
        }
    }
	
	background-color: #096b98;
    //background-color: rgba(0,0,0,0.5) !important;
   // background: url('../img/home-page-bg.png');
   // background-repeat: no-repeat !important;
   // background-attachment: fixed !important;
   // background-position: center !important;
   // background-size: cover !important;
}


#evaluate{
	
	background-color:#353535!important
}

#button{
	
	height:35px!important;
	width:130px;
	margin-left:7px;
}

#buttonsignup{
	
	height:35px!important;
	width:130px!important;
	margin-left:3px!important;
	
}

.evl-seg {
    .evl-info {
        padding-top: 20px!important;
        font-family: $defalut_font_family;
        font-size: 22px!important;
    }
    .ui.inverted.grey.button:hover {
        background-color: rgb(114, 124, 137);
    }
}

.evl-uni {
    background-color: #888 !important;
    //height: 35px!important;
    .evl-uni-info {
        font-family: $defalut_font_family;
        font-size: 12px!important;
    }
    .button {
        float: right;
    }
    .ui.inverted.grey.button:hover {
        background-color: rgb(114, 124, 137);
    }
}

.info-grid {
    padding-left: 35px;
    padding-right: 35px;
}

.what-we {
    height: 450px;
    padding-left: 35px;
    padding-right: 35px;
    /* padding-top:40px; */
    .content {
        font-family: $defalut_font_family;
        font-size: 20px;
    }
    .card {
        height: 150px;
    }
    #card1 {
        background-color: rgb(114, 124, 137);
        margin-top: 18px;
        margin-bottom: 1px;
        margin-right: 1px;
    }
    #card2 {
        background-color: rgb(114, 124, 137);
        margin-top: 18px;
        margin-left: 1px;
        margin-bottom: 1px;
    }
    #card3 {
        background-color: rgb(114, 124, 137);
        margin-top: 4px;
        margin-right: 1px;
    }
    #card4 {
        background-color: rgb(114, 124, 137);
        margin-top: 4px;
        margin-left: 2px;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        li {
            background: url('../img/checkmark.png') no-repeat 0 0;
            float: left;
            width: 100%;
            padding-left: 70px;
            margin-bottom: 30px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
    }
    h3 {
        text-align: center;
        color: #FFF;
        padding-top: 50px;
    }
    .column {
        &:first-child {
            margin-top: 10px;
        }
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.bottom-footer {
    height: 200px;
    padding-top: 50px!important;
}

.page-title {
    padding-left: 30px !important;
    padding-right: 30px !important;
    background: url('../img/pe_aboutus_page.jpg');
    //   height: 300px !important;
    //background-size: cover !important;
    overflow: hidden !important;
    position: relative !important;
   // background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
	
	
	
	
    .first-half {
        padding-top: 70px!important;
        font: 36px 'Raleway', $defalut_font_family !important;
        line-height: 38px!important;
        color: #39414b!important;
        padding-left: 50px!important;
    }
    b {
        font-weight: 600;
    }
    .second-half {
        //padding-top: 105px!important;
        padding-right: 150px!important;
        img {
            float: right;
            height: 450px !important;
        }
    }
}







 
#mobileview{
	display:none;
}





 @media (min-width: 300px)and (max-width: 1800px) {
		 

		 .page-title{
			 
		background: url('../img/pe_aboutus_page.jpg');
      //height: 300px !important;
    //background-size: cover !important;
    overflow: hidden !important;
   // position: relative !important;
   // background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
			 background-size: 100% 100%;
		 }
	
	}




.page-content {
    .saf-amb {
        li.safe {
            list-style-image: url("../img/DiplomaGreen%20-small.png") !important;
        }
        li.amb {
            list-style-image: url("../img/DiplomaOrange%20-small.png") !important;
        }
    }
    .team-cv {
        padding-top: 30px!important;
        padding-bottom: 30px!important;
        .special.cards {
            margin-bottom: 0px!important;
            .first-card {
                margin-right: 5px;
                .grey.button {
                    margin-bottom: 15px;
                }
                h5 {
                    font-family: 'Raleway', Arial, sans-serif;
                    font-size: 17px;
                }
            }
            .second-card {
                margin-left: 5px;
                .grey.button {
                    margin-bottom: 15px;
                }
                h5 {
                    font-family: 'Raleway', Arial, sans-serif;
                    font-size: 17px;
                }
            }
        }
    }
    .team-des {
        padding-top: 35px!important;
        .content {
            font-family: 'Raleway', Arial, sans-serif;
            font-size: 26px;
        }
        p {
            text-align: justify;
            text-justify: inter-word;
            color: #727C89;
            font: 13px 'Open Sans', Arial, sans-serif;
            line-height: 22px;
            margin-bottom: 25px;
        }
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                background: url('../img/checkmark.png') no-repeat 0 0;
                float: left;
                width: 100%;
                padding-left: 70px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                color: #727C89;
                .ui.header {
                    font: 18px 'Raleway', Arial, sans-serif;
                    line-height: 22px;
                    color: #727C89;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.contact-title {
    background: url('../img/2%20.png');
    //height: 350px;
    background-color: #cccccc !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    overflow: hidden !important;
    position: relative !important;
    .contact-fhalf {
        padding-top: 70px!important;
        font: 36px 'Raleway', Arial, sans-serif!important;
        line-height: 48px!important;
        color: #39414b!important;
        padding-left: 50px!important;
    }
    b {
        font-weight: 600;
    }
    .contact-shalf {
        padding-top: 87px!important;
        padding-right: 150px!important;
        img {
            float: right;
        }
    }
}

.google-view {
    padding: 30px!important;
    #map-canvas {
        height: 400px;
        width: 100%;
    }
}

.contact-info {
    padding-left: 35px!important;
    padding-right: 35px!important;
    .content {
        font-family: 'Raleway', Arial, sans-serif;
    }
    .contact-some {
        p {
            text-align: justify;
            text-justify: inter-word;
            color: #727C89;
            font: 13px 'Open Sans', Arial, sans-serif;
            line-height: 22px;
        }
        ul {
            list-style: none;
            padding-left: 5px;
            ;
            border-left: 3px solid #727c89;
        }
    }
    .contact-message {
        padding-bottom: 40px!important;
        #btn1 {
            float: right;
            border: 0px solid;
            font: 12px 'Open Sans', Arial, sans-serif;
            text-transform: uppercase;
            line-height: 11px;
            color: #fff;
            background-color: #333;
            padding: 10px 17px;
            cursor: pointer;
        }
        label {
            font: 13px Arial, sans-serif;
            line-height: 18px;
            margin-bottom: 5px;
            display: block;
            width: 100%;
            float: left;
        }
    }
}

.imp-data {
    padding-right: 0px !important;
    .small.ui.card {
        zoom: 0.875;
        height: 418px !important;
    }
    .content {
        span {
            font-weight: 700 !important;
            font-size: 16px !important;
            font-family: "Segoe UI", "Open Sans" !important;
        }
        .ui.header {
            font-family: 'Open Sans' !important;
            margin-top: 3px;
        }
    }
}

.imp-links {
    padding-right: 14px !important;
    padding-bottom: 14px !important;
    .five {
        background-color: rgba(190, 190, 190, 0.6) !important;
        h3 {
            font-weight: 900 !important;
            font-family: "Segoe UI", "Open Sans" !important;
        }
        p {
            font-size: 14px !important;
            font-family: "Raleway", "Open Sans" !important;
        }
    }
    .eleven {
        background-color: rgba(200, 200, 200, 0.5);
        h3 {
            font-weight: 900 !important;
            font-family: "Segoe UI", "Open Sans" !important;
        }
        h4 {
            font-weight: 500 !important;
            font-family: "Segoe UI", "Open Sans" !important;
            a {
                font-weight: 900 !important;
                font-family: "Raleway", "Open Sans" !important;
            }
        }
    }
}

.result-body {
    //      background: url("../img/result-background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .uni-data {
        padding-right: 0px!important;
        padding-left: 0px!important;
        .button {
            background-color: #888;
        }
        .ui.stackable.fluid.segment {
            padding-top: 0px;
            height: 367px!important;
            overflow: auto!important;
            position: relative!important;
            img {
                margin-bottom: 0px !important;
            }
            p {
                font-family: 'Open Sans' !important;
                font-size: 10pt;
                text-align: justify;
                justify-content: space-between;
            }
        }
    }
    .stackable.ui.grid {
        margin-left: 20px!important;
        margin-right: 20px !important;
        //height: 410px;
        margin-right: 5px !important;
    }
}

.map-course {
    padding-left: 0px;
    height: 385px;
    #map {
        width: 100%;
        height: 50vh;
        height: 145px;
    }
    .tab.segment {
        height: 164px;
    }
}

.extra-info {
    margin-top: 0px !important;
    .ui.column {
        span {
            font-size: 14px !important;
            font-weight: 700 !important;
            font-family: "Segoe UI", "Open Sans" !important;
        }
    }
}

.evaluator-box {
    background-color: rgba(0, 0, 0, 0.1)!important;
    //margin-top: 70px!important;
    padding-bottom: 50px!important;
    label {
        //color:#f6f6f6!important;
        font-family: 'Open Sans' sans-serif;
        font-size: 13px!important;
    }
    .ui.button {
        float: right;
    }
    .ui.button {
        background-color: rgba(0, 0, 0, 0.1);
        color: darkslategray;
    }
    .ui.button:hover {
        background-color: rgb(114, 124, 137);
        color: white;
    }
}

.ui.multiple.dropdown > .label {
    font-size: 0.75em;
}

.search-result {
    .ui.segment.container {
        width: 1302px !important;
        .ui.horizontal.list.relaxed {
            .first-itm {
                padding-right: 0px !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                .content {
                    height: 43px !important;
                    .ui.message {
                        height: 57px !important;
                        background-color: #BCBDBF !important;
                    }
                }
            }
            display: flex;
            justify-content: space-between;
            .content {
                font-family: 'Open Sans' !important;
                font-size: 12px;
                .header {
                    font-family: 'Raleway' !important;
                }
            }
        }
    }
}

.uni-filter {
    .result-header {
        margin-top: 10px !important;
        .column {
            padding-left: 100px;
            font-family: "Segoe UI", "Open Sans" !important;
            text-transform: uppercase;
            font-size: 14px;
        }
        .sort.icon {
            color: #aaa;
            &.active {
                color: #333;
            }
        }
    }
    margin-left: 23px !important;
    margin-right: 23px !important;
    label {
        font-family: 'Raleway' !important;
    }
}

.cont-imp {
    .column {
        font-family: "Segoe UI", "Open Sans" !important;
        font-size: 14px;
    }
}

.ui.star.rating .active.icon {
    color: #333 !important;
    text-shadow: 0px -1px 0px #222, -1px 0px 0px #222, 0px 1px 0px #222, 1px 0px 0px #222 !important;
}

.ceo-title {
    background: url('../img/page-title-bkg.jpg');
    background-attachment: fixed;
    height: 350px;
    .ceo-fhalf {
        .ui.header {
            padding-left: 53px!important;
            padding-top: 70px;
            font: 36px 'Raleway', Arial, sans-serif;
            line-height: 55px;
            color: #39414b;
        }
    }
    .ceo-shalf {
        padding-right: 150px!important;
        padding-bottom: 0px!important;
        img {
            float: right;
            margin-top: 20px!important;
            height: 315px;
        }
    }
}

.ceo-about {
    padding: 35px!important;
    .content {
        font-family: 'Raleway', Arial, sans-serif;
    }
    .ceo-des {
        p {
            text-align: justify;
            text-justify: inter-word;
            color: #727C89;
            font: 13px 'Open Sans', Arial, sans-serif;
            line-height: 22px;
        }
    }
}

.list-of-course {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .course {
        padding: 5px 10px;
        margin: 5px;
        background-color: #eee;
        color: #333;
        border-radius: 4px;
    }
}

.ng-invalid.ng-touched {
    background: #fff6f6 !important;
    border-color: #e0b4b4!important;
    color: #9f3a38!important;
    -webkit-appearance: none!important;
    box-shadow: none!important;
}

.sug-univ {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    .mini.image {
        width: 78px !important;
        height: 50px !important;
    }
    span {
        padding-top: 16px !important;
        font-size: 18px !important;
        font-weight: 900 !important;
    }
    .container {
        font-size: 14px !important;
        padding-top: 10px !important;
        padding-left: 130px !important;
    }
    .header {
        font-family: "Segoe UI", "Open Sans";
    }
}
.uniResultClass
{
    max-height: calc( 120vh - 35px ) !important;overflow-y:auto; width:80%;border-right:1px solid #ccc;float:left;
}
.uniFavClass
    {
        max-height: calc( 100vh - 315px );overflow-y:auto; max-width: calc( 100vw );overflow-x:auto
    }
.posClass
{
    height:1050px !important;
}
.dividerClass
{
    width:80%;
}
.mobileShow
{
    display: none !important;
}
.textAlign
{
    text-align: center !important;
}
.mobResult
{
    width:100% !important;
}
.mobResultSub
{
    width:100% !important;
}
.headClass
{
    display: none !important;
}
.hideInmob
{
    display: block !important;
}
.showInMob
{
    display: none !important;
}
.navShowInWeb
{
    display: block !important;
}
.navShowInMob
{
    display: none !important;
}
.favShowInWeb
{
     display: block !important;
}
.favShowMb
{
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .top-bar 
    {
        display: none !important;
    }
    .mobilesearchpage
    {
        display:none !important;
    }
    .navShowInWeb
    {
        display: none !important;
    }
    .navShowInMob
    {
        display: block !important;
    }
    .favShowInWeb
    {
        display: none !important;
    }
    .favShowMb
    {
        display: block !important;
    }

    .uniResultClass
    {
        max-height: calc( 380vh - 55px ) !important;overflow-y:auto; width:80%;border-right:1px solid #ccc;float:left;
    }
    .uniFavClass
    {
        max-height: calc( 180vh - 215px );overflow-y:auto; max-width: calc( 100vw );overflow-x:auto
    }
    .posClass
    {
        height:3100px !important;
    }
    .showInMob
    {
        display: block !important;
    }
    .hideInmob
    {
        display: none !important;
    }
    .headClass
    {
        display:block !important;float:left;
    }
    .textAlign
    {
        text-align: left !important;
    }
    .borderClass
    {
        border-left:1px solid rgba(34, 36, 38, 0.15);
    }
    .borderClassFav
    {
        border-left:1px solid rgba(34, 36, 38, 0.15);
        border-right:1px solid rgba(34, 36, 38, 0.15);
    }

    .uniLogoInMob
    {
        margin-top:7%;
    }
    .mobileShow
    {
        display: block !important;
    }

    .ui.stackable.grid.mobResult
    {
        width:50% !important;float: left;
    }
    .ui.stackable.grid.mobResultSub
    {
        width:50% !important;
    }
    .uniResultClass
    {
        width:100%;
    }
    .dividerClass
    {
        width:100%;
    }
}

.side {
    display: none !important;
}

.rng {
    position: relative;
    width: 1200px;
    height: 5px;
    color: black !important;
}

.rng input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}

.rng input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    border: 0 !important;
}

.rng input::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: black;
}

.range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}

.range-labels #li11 {
    position: relative;
    float: left;
    width: 100px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: black;
    font-weight: 900 !important;
}

.range-labels #li11::before {
    font-weight: bold !important;
    position: absolute !important;
    top: -31px !important;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
}

.range-labels .active {
    color: #37adbf;
}

.range-labels .active.selected::before {
    display: none;
}

#li11 {
    color: #666;
    font-size: 13px;
}

.blg-seg {
    margin-bottom: 0px !important;
    background-color: #83CFD0 !important;
    //height: 220px !important;
    border: 0px !important;
    box-shadow: none!important;
    padding: 0px !important;
    margin-top: 15px !important;
    //margin-bottom: 115px !important;
    border-radius: 0px !important;
    h3 {
        color: #414242 !important;
    }
    .image {
        margin-bottom: 6px !important;
    }
    #lab-1 {
        background-color: white !important;
    }
}

.planmsgrd {
    .tiny.image {
        height: 45px!important;
        width: 45px!important;
    }
    .column {
        height: 148px !important;
        .planmshd {
            font-family: 'Candal', sans-serif !important;
            font-size: 16px!important;
            a {
                color: black !important;
                //vertical-align: -webkit-baseline-middle !important;
            }
        }
    }
}

.blog-con {
    border: 0px !important;
    //box-shadow: none!important;
    border-radius: 0px !important;
    h3 {
        font-family: $defalut_font_family !important;
    }
    h2 {
        font-family: $defalut_font_family !important;
    }
    h4 {
        font-family: $defalut_font_family !important;
    }
    p {
        font-family: $defalut_font_family !important;
        text-align: justify !important;
    }
    ul {
        li {
            font-family: $defalut_font_family !important;
            text-align: justify !important;
        }
    }
}


#seconddiv{
	
    width:100%;height:625px;
	 background-image: url("../img/profileevaluatorhomepage.jpg");
    background-repeat: no-repeat;
 
    background-position: bottom right;

	background-size: 100% 100%;
	margin-top:-15px;
}












@media only screen and (max-width: 767px) {
    
	.ui.grid > .row > [class*="five wide"].column, .ui.grid > .column.row > [class*="five wide"].column, .ui.grid > [class*="five wide"].column, .ui.column.grid > [class*="five wide"].column {
    width:100% !important;
}
	
	#fisrtdiv{
		
		
		border-top:1px solid #023a5b!important;
		
	}
	
	.ui grid anim-grid{
		
		border-top:1px solid #023a5b!important;
	}
	
	#seconddiv {
    width: 100% !important;
   height: 600px;
    background-image: url("../img/profileevaluatorhomepage.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 100%;
    
}
	#button{
    width: 100%!important;
}
	
	#buttonsignup{
		width:115px!important;
		margin-left:5px!important;
	}
	
	.ui grid anim-grid{
		
		height:700px!important;
	}
	
#timer{
		
		font-size:28px!important;
	}

}

/* CSS for hiding form in search results for mobile*/

.mobilesearchpage
{
    display:block;
}




















