$dotted-border: 1px dotted rgba(150,
150,
150,
0.5);
.university.details-grid {
    height: 65vh;
    width: 85%;
    @media screen and (max-width: 600px) {
        width: 95%;
    }
    margin: auto;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
        flex-wrap: wrap;
    @media screen and (min-width: 600px) and (max-width: 900px){
    }
    @media screen and (min-width: 601px) {
        //        background-color: #234567;
    }
    justify-content: space-between;
    section {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        aside {
            background-color: ghostwhite;
            border: 1px solid rgba(255, 255, 255, 0.5);
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
            padding: 5px;
            &:not(:first-child) {
                margin-top: 10px;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            flex-grow: 1;
            header {
                margin: 0px;
                padding-bottom: 3px;
                border-bottom: 1px solid rgba(75, 45, 75, 0.5);
                font-size: 1.25em;
                font-weight: 400;
                color: darkslategrey;
                text-transform: capitalize;
            }
            main {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                article {
                    padding: 3px;
                    margin-bottom: 6px;
                    border: $dotted-border;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .logo.details {
        flex-grow: 2;
        max-width: 200px;
        .logo {
            max-height: 200px;
            img {
                margin: auto;
                border: $dotted-border;
            }
        }
        .details {
            flex-grow: 100%;
        }
    }
    .about-university {
        flex-grow: 6;
        max-width: 40%;
        div {
            overflow-y: auto;
            height: calc( 60vh - 22px );
            p {
                text-align: justify;
                margin-right: 5px;
            }
            p:before {
                content: '\00A0\00A0\00A0\00A0';
            }
        }
    }
    .university-scores {
        flex-grow: 2;
    }
    .fee-deadlines {
        flex-grow: 2;
    }
}