<div class="ui stackable grid page-title">
   <div class="three column row" style="height:400px">
	   
	   

	   
	   
   <!--<div class="column">
           <img class="ui centered small image" src="../img/pe_watch-04.png">
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:10px !important;margin-bottom: 37px !important;">With over <strong>6 years of experience</strong> in successfully guiding hundreds of students for various English language proficiency tests including IELTS, TOEFL and PTE, <strong>Ms. Supriya</strong>, our English trainer, is our strength.</p>
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:0px !important; margin-bottom: 39px !important;">She is popular among her students not only for her erudition but also for her patience in the classroom.</p>
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:0px !important; margin-bottom: 10px !important;">To ensure that <strong>quality</strong> is not compromised, she does not accept more than <strong>5 students per batch.</strong></p>
        </div>-->
        <!--<div class="column">
            <img class="ui centered small image" src="../img/pe_watch-05.png">
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:10px !important;margin-bottom: 28px !important;"><strong>Our profile evaluation service is free.</strong> Students need not pay any fee beforehand to get their profile evaluated</p>
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:0px !important; margin-bottom: 30px !important;">
                <strong>As a policy, we do not tie-up</strong> with any university because we want to remain unbiased to the students. University list is finalized completely in coordination with the student and list is communicated to him/her before finalizing the same.</p> 
			
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:0px !important; margin-bottom: 10px !important;"><strong>Transparency: </strong>We provide details of university application and courier tracking IDs and admission email account password to the students.</p>
        </div>-->
        <!--<div class="column"><img class="ui centered small image" src="../img/pe_watch-06.png">
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:10px !important;margin-bottom: 10px !important;">Our <strong>VISA success rate is 100%</strong> till date (2015 Fall and 2016 Spring). We have more than 50 students who joined only for VISA guidance till date.</p>
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:0px !important; margin-bottom: 10px !important;">
                Our CEO <strong>Mr. Chaitanya Vaddi</strong> with over 11 years of experience as an HR head various reputed IT companies, himself guides the students on important aspects of the visa interview like body language, maintaining a positive attitude and highlighting the positive features of one's profile and personality.</p>
            <p style="color: black;background-color: #aaa;padding: 10px;text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:0px !important; margin-bottom: 10px !important;">Students attending visa interviews say that his <strong>mock interviews</strong> sessions helped them in a big way.</p>
        </div>-->
    </div>

</div>
<div class="ui container" style="margin-top: 20px !important;">
</div>
<div class="ui grid container page-content" style=" margin-top: 20px !important; margin-bottom: 10px;">
    <p style=" margin-top: 20px !important; text-align:justify !important; font-family:Segoe UI, Open Sans !important;">Profile Evaluator (PE) offers free profile evaluation tool for students who want to pursue MS in US, it has real-time information about admissions criteria of US universities. Upon submitting the secured scores in standard tests, CGPA/percentage in B.Tech and choice of major in MS, our tool maps them with all the universities requirements and gives the list of 'Safe', 'Reach' and 'Ambitious' universities.</p>

    <p><img class="ui left floated avatar image" src="../img/DiplomaGreen.png"><strong>Safe.</strong> Your scores and GPA are more than those required by this university. You have a high chance of getting admission in this university if you apply on time.</p>
    <p><img class="ui left floated avatar image" src="../img/DiplomaOracangelite.png"><strong>Moderate.</strong>Your scores and CGPA are just matching the required scores by the university. Your chances of getting a i20 depends on the number of applications already applied and in the queue. Apply as early as you can. If you have strong SoP, LoRs and profile you still have a good chance of getting into this university.</p>
    <p><img class="ui left floated avatar image" src="../img/DiplomaOrange.png"><strong>Ambitious.</strong>Your scores and CGPA are very less than those required by this university for its previous intake.Unless you have good work experience, strong SOP and a known reference, dont try. You have to make a lot of effort to convince the university to take you in.</p>

    <p style="text-align:justify !important; font-family:Segoe UI, Open Sans !important; margin-top:10px !important; margin-bottom: 5px !important;">Profile Evaluator is an initiative from a group of current and former students pursuing MS in US who felt the need for a student-friendly platform to help the aspiring students to pursue their higher education in US.</p>
    <p style="text-align:justify !important; font-family:Segoe UI, Open Sans !important;">Our student-partners who are spread across hundreds of universities in US provide us first-hand information and latest updates on eligibility criteria for admissions, availability of scholarships, assistantships and other on-campus jobs, living conditions and other relevant information of most US universities. <b>For more information, you can reach us at..</b></p>
    <div class="ui content" style="border-left:3px solid #888 !important; background-color: #DCDCDC !important;">
        <!--<span style="font-family:Segoe UI, Open Sans !important;"><b>For more information, you can reach us at:</b></span><br>-->
        <span style="font-family:Segoe UI, Open Sans !important;"><b>E-mail Address:</b> chaitanya@profileevaluator.com</span>
        <br>
        <span style="font-family:Segoe UI, Open Sans !important;"><b>Ph:</b> +91 72888 40555</span>
    </div>
    