

<div class="ui secondary menu top-bar" ng-hide="currentState==='PES' || currentState==='searchdb' || currentState==='university'">
    <div class="ui container">
        <a href="tel:7306220220" class="item">
            <i class="phone small icon"></i>+91 72888 40555
        </a>
        <a href="mailto:admin@futureinusa.com" class="item">
            <i class="mail icon"></i>charan@futureinusa.com   
        </a>
        <a href="https://www.facebook.com/futureinusa?fref=ts" target=_blank; class="right item"><i class="facebook icon"></i></a>
        <a href="https://plus.google.com/u/0/116503241597402591490/posts" target=_blank; class="item"><i class="google plus icon"></i></a>
    </div>
</div>


		<div class="ui stackable fluid menu show-sec" style="margin-top: 0px; border-width: 0px; border-radius:0px;background-color:#023a5b;"> 
    <div class="ui container" style="height:55px!important">
        <a href="/" target="_self" class="item" style="color:white;font-size:14px">
            <img src="../img/logo.png" style="margin-top: 0px;margin-right: 5px;height:35px;width:35px">Profile Evaluator
        </a>
		<div style="padding-left:500px;padding-top:12px">
        <a href="/" target="_self" class="item" style="color:white;font-size:14px;padding-top:8px" class="right item">Home</a>
				</div>
        <a href="/about-us" target="_self" class="item" style="color:white;font-size:14px" class="item">About Us</a>
		
		
        <a ui-sref-active="active" ng-if="user" ui-sref="LOUnivs" class="item" style="color:white">Universities</a>
        <a ui-sref-active="active" ng-if="user" ui-sref="searchdb" class="item" style="color:white">Search Results</a>
        <a ui-sref-active="active" ng-if="user" ui-sref="favUnivs" class="item" style="color:white">Favourite</a>
        <a href="/contact-us" target="_self" class="item" style="color:white;font-size:14px">Contact Us</a>
		<a href="/pricing" target="_self" class="item" style="color:white;font-size:14px">Pricing</a>
		<a href="/blogs" target="_self" class="item" style="color:white;font-size:14px">Blogs</a>
		 
       
	
        <div class="right menu side">
            <a class="item">
                <i class="sidebar icon" style="font-size:20px;"></i>
            </a>
        </div>
    </div>
</div>
   
		