<div class="ui black inverted vertical footer segment" style="border-radius:0px !important;">
    <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
            <div class="four wide column">
                <div style="font-size:15px !important;font-weight:700;"><i class="comments outline icon"></i>CONTACT US</div>
                <br>
                <i class="phone icon"></i>+91 7306220220
                <br>
                <i class="mail icon"></i>charan@futureinusa.com
            </div>
            <div class="twelve wide column">
                <div style="font-size:15px !important;font-weight:700; margin-bottom: 15px;"><i class="settings icon"></i>OUR MISSION</div>
                <p style="text-align: justify;text-align: center;">Our Mission is to provide end to end services for your dream of studying <b style="font-size:16px !important;">MS in USA</b></p>
            </div>
        </div>
        <div class="ui divider"></div>
        <p style="padding-left:350px">© 2016 cvcorp.in Except where noted, all rights reserved.</p>
    </div>
</div>
