<div class="ui stackable grid contact-title">
    <div class="nine wide column" style="padding-bottom: 78px;">
        <div class="ui header contact-fhalf">If you have any questions about <b>Profile Evaluation</b>, please call or E-mail us.
            <br><small>chaitanya@profileevaluator.com / 72888 40555</small>
            <br>
            <br>We look forward to helping you.</div>
    </div>
    <div class="seven wide column contact-shalf">
        <img class="ui fluid large image" src="../img/contact_us.png">
    </div>
</div>


<div class="ui grid google-view">
    <div class="sixteen wide column">
       <div id="map_canvas" style=" width:100%;height: 350px;"></div>
    </div>


    <div class="ui stackable grid contact-info">
        <div class="eight wide column contact-some">
            <h2 class="ui header">
  <div class="content">
   Contact us
  </div>
    </h2>
            <div class="ui divider"></div>
            <p>Our team is here 24/7 for you, If you have any questions, please feel free to drop a line here or directly give us a call.</p>
            <p>Call us in prior for appointments to avoid waiting. We would love to hear from you.</p>
            <ul>
                <li>
                    <p><i class="home icon"></i>
                        <b>Address:</b>&nbsp;  Triveni Towers,3rd Floor,Near Prime Hospitals,KPHB Road No.1,Hyderabad - 500 072.</p>
                </li>
                <li>
                    <p><i class="phone icon"></i>
                        <b>Phone:</b>&nbsp; &nbsp; +91 72888 40555</p>
                </li>
            </ul>
        </div>
        <div class="eight wide column">
            <h2 class="ui header">
      <div class="content">
          Contact our Senior Counselor now!
      </div>
    </h2>
            <div class="ui divider"></div>
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <img class="right floated mini ui image" src="../img/lalitha.JPG">
                        <div class="header">
                            Lalitha
                        </div>
                        <div class="meta" style="color:#888; font-family: 'Open Sans', sans-serif;">
                            <strong> +91 7842648127 </strong>
                        </div>
                        <div class="description" style="text-align: justify;">
                            Lalitha has close to 3 years of experience in successfully guiding hundreds of students on getting I-20s and clearing visa interviews.
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a href="https://www.facebook.com/profileevaluator/" target="_blank" class="ui basic facebook blue button">
                                <i class="facebook icon"></i> Facebook
                            </a>
                        </div>
                    </div>
                </div>
                <!--<div class="card">
                    <div class="content">
                        <img class="right floated mini ui image" src="../img/Krishna.JPG">
                        <div class="header">
                            Krishna
                        </div>
                        <div class="meta" style="color:#888; font-family: 'Open Sans', sans-serif;">
                            <strong> +91 9133007642 </strong>
                        </div>
                        <div class="description" style="text-align: justify;">
                            Krishna is an expert on US universities. She has helped many students to choose the right university based on their profile.
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a href="https://www.facebook.com/profileevaluator/" target="_blank" class="ui basic facebook blue button">
                                <i class="facebook icon"></i> Facebook
                            </a>
                        </div>
                    </div>
                </div>-->
            </div>

        </div>

        <!--
  <div class="eight wide column contact-message">
    <h2 class="ui header">
      <div class="content">
        Send us a message
      </div>
    </h2> 
    <div class="ui divider"></div>
    <form class="ui form">
            <div class="two fields">
        <div class="field">
          <label>*&nbsp Name:</label>
          <input name="name" type="text">
        </div>
              </div>
      <div class="two fields">
        <div class="field">
          <label>*&nbsp Email:</label>
          <input name="email" type="email">
        </div>
      </div>
        <div class="field">
          <label>*&nbsp Message:</label>
          <textarea name="message" rows="2"></textarea>
        </div>
      <div class="ui blue submit button" id="btn1">Submit</div>
    </form>
  </div>
-->
    </div>
    <script>
        function initialize() {
             var myLatLng = {lat: 17.487100, lng: 78.399464};
            var mapOptions = {
                zoom: 15,
                center: myLatLng,
                scrollwheel: false
            }
            var map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);

            setMarkers(map, places);
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: 'CV Corp'
            });
        }

        /**
         * Data for the markers consisting of a name, a LatLng and a zIndex for
         * the order in which these markers should display on top of each
         * other.
         */
        var places = [["Place1", 17.486531, 78.388232, 1]];


        function setMarkers(map, locations) {
            // Add markers to the map

            // Marker sizes are expressed as a Size of X,Y
            // where the origin of the image (0,0) is located
            // in the top left of the image.

            // Origins, anchor positions and coordinates of the marker
            // increase in the X direction to the right and in
            // the Y direction down.
            var image = {
                url: 'images/icons/map-pin.png',
                // This marker is 20 pixels wide by 32 pixels tall.
                //size: new google.maps.Size(20, 32),
                // The origin for this image is 0,0.
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at 0,32.
                anchor: new google.maps.Point(0, 32)
            };
            // Shapes define the clickable region of the icon.
            // The type defines an HTML &lt;area&gt; element 'poly' which
            // traces out a polygon as a series of X,Y points. The final
            // coordinate closes the poly by connecting to the first
            // coordinate.
            var shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };
            for (var i = 0; i < locations.length; i++) {
                var beach = locations[i];
                var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    icon: image,
                    shape: shape,
                    title: beach[0],
                    zIndex: beach[3]
                });
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

   