<main class="ui main search-result">
    <div class="favShowInWeb">
    <div class="ui stackable equal width grid segment" style="margin-left:23px !important; margin-right:23px !important">
        <div class="column">
            <img class="ui avatar image" src="../img/DeadLine.jpg">
            <span>Deadline: <strong>{{searchParams.deadLine}}</strong></span>
        </div>
        <div class="column">
            <img class="ui avatar image" src="../img/MS-Major.jpg">
            <span>{{searchParams.course}} Major: <strong>{{searchParams.msMajor}}</strong></span>
        </div>
        <div class="column">
            <img class="ui avatar image" src="../img/GRE.jpg">
            <span>GRE Score: <strong>&#8804; {{searchParams.greScore}}</strong></span>
        </div>
        <div class="column">
            <img class="ui avatar image" src="../img/SCORE.jpg">
            <span>{{searchParams.exam}} Score: <strong>&#8804; {{searchParams.examScore}}</strong></span>
        </div>
        <div class="column">
            <img class="ui avatar image" src="../img/GPA.jpg">
            <span>GPA: <strong>&#8804; {{searchParams.gpa}}</strong></span>
        </div>
        <div class="column" ui-sref="PES({searchParams: searchParams})">
            <img class="ui avatar image" src="../img/circlearrow.png">
            <span><strong>Modify Search</strong></span>
        </div>
        <!--
        <div class="column">
                <button type="reset" class="ui blue submit button">Clear Fav</button>
        </div>
-->
    </div></div>
    <!-- code for mobile start-->
    <div class="favShowMb">
        <div class="ui stackable equal width grid segment" style="margin-left:23px !important; margin-right:23px !important">
        <div class="" style="width:50% !important;float:left !important;height:50px;margin-top:1.5%;">
            <img class="ui avatar image" src="../img/DeadLine.jpg">
            <span>Deadline: <strong>{{searchParams.deadLine}}</strong></span>
        </div>
        <div class="" style="width:50% !important;height:50px;margin-top:1.5%;">
            <img class="ui avatar image" src="../img/MS-Major.jpg">
            <span>{{searchParams.course}} Major: <strong>{{searchParams.msMajor}}</strong></span>
        </div>
        <div class="" style="width:50% !important;float:left !important;height:50px;">
            <img class="ui avatar image" src="../img/GRE.jpg">
            <span>GRE Score: <strong>&#8804; {{searchParams.greScore}}</strong></span>
        </div>
        <div class="" style="width:50% !important;height:50px;">
            <img class="ui avatar image" src="../img/SCORE.jpg">
            <span>{{searchParams.exam}} Score: <strong>&#8804; {{searchParams.examScore}}</strong></span>
        </div>
        <div class="" style="width:100% !important;height:50px;">
            <img class="ui avatar image" src="../img/GPA.jpg">
            <span>GPA: <strong>&#8804; {{searchParams.gpa}}</strong></span>
        </div><br>
        <div class="column" ui-sref="PES({searchParams: searchParams})">
            <img class="ui avatar image" src="../img/circlearrow.png">
            <span><strong>Modify Search</strong></span>
        </div>
        <!--
        <div class="column">
                <button type="reset" class="ui blue submit button">Clear Fav</button>
        </div>
-->
    </div>
    </div>

    <!-- code for mobile end-->


    <div class="ui segment uni-filter">
        <div class="ui inverted dimmer" ng-class="active_loader && 'active'">
            <div class="ui text loader">Loading</div>
        </div>
       
        <div class="ui stackable grid result-header favShowInWeb">
            <div class="one wide column"><b>Fav</b></div>
            <div class="one wide column" style="font-size: 16px;"><b>{{universities.length}}/377</b></div>
            <div class="two wide column"><b>University</b></div>
            <div class="two wide column"><b>GRE</b></div>
            <div class="two wide column"><b>{{searchParams.exam}}</b></div>
            <div class="two wide column"><b>GPA</b></div>
            <!--
            <div class="two wide column"><b>Eligibility</b> <a href="#" class="help-eligible" data-html="<p>Green: Safe</p><p> Orange: Moderate</p><p> Red: Ambitious</p>">?</a>
            </div>
-->
            
            <div class="two wide column" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc"><b>Fee</b></div>
            <div class="one wide column"><b>Rating</b></div>
            <div class="two wide column"><b>Dead Line</b></div>
        </div>
        <div class="ui divider"></div>
        <div class="container-fluid custom-scroll" style="">
            <div class="ui stackable grid cont-imp borderClassFav" ng-repeat-start="university in universities" ng-if="university.favouriteIndicator">
                <div class="four wide column">
                    <div class="ui grid">
                        <div class="two wide column">
                            <p class="mobileShow">Favourite</p>
                            <input type="checkbox" ng-model="university.favouriteIndicator" ng-true-value="true" ng-false-value="false" ng-change="addToWish(university)">
                        </div>
                        <div class="four wide column uniLogoInMob">
                            <a class="ui small image">
                                <img ng-src="{{university.Logo}}" width="40px" height="40px" style="margin-left:10px;">
                            </a>
                        </div>
                        <div class="ten wide column">
                            <p class="mobileShow">University</p>
                            <a style="border-bottom:1px dashed" target="_blank" ui-sref="university({id : university.objectId})"><strong>{{university.UniversityName}}</strong></a>
                            <p><small>{{university.Place}}, {{university.State}}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="two wide column favShowInWeb">
                    <div class="content">
                        <b>{{university.GRE}}</b>
                        <img class="ui avatar image" ng-src="{{university.GRE < searchParams.greScore ? '/img/DiplomaGreen.png' : university.GRE == searchParams.greScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.greScore-university.GRE" style="cursor:help;">
                    </div>
                </div>
                <div class="two wide column favShowInWeb">
                    <div class="content">
                        <b>{{university[searchParams.exam]}}</b>
                        <img class="ui avatar image" ng-src="{{university[searchParams.exam] < searchParams.examScore ? '/img/DiplomaGreen.png' : university[searchParams.exam] == searchParams.examScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.examScore-university[searchParams.exam]" style="cursor:help;">
                    </div>
                </div>
                <div class="two wide column favShowInWeb">
                    <div class="content">
                        <b>{{university.GPA}}</b>
                        <img class="ui avatar image" ng-src="{{university.GPA < searchParams.gpa ? '/img/DiplomaGreen.png' : university.GPA == searchParams.gpa ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.gpa-university.GPA" style="cursor:help;">
                    </div>
                </div>
                <!--<div class="two wide column favShowInWeb">
                    <div class="content">
                        <b>{{university.FullDeadLine|date:'dd/MMM/yyyy'}}</b>
                    </div>
                </div>-->
                <!--<b>{{university[searchParams.deadLine+'Deadline']}} </b>-->
                <div class="two wide column favShowInWeb">
                    <div class="content">
                        <div class="header"><b>{{university.TutionFee|currency}}</b></div>
                        <small>Per two Year </small>
                    </div>
                </div>
                <div class="two wide column favShowInWeb">
                    <div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div>
                </div>
                <div class="two wide column favShowInWeb">
                    <div class="content">
                        <b>FallDeadLine - {{university.FallDeadline || 'N.A'}}</b><br>
                        <b>SpringDeadLine - {{university.SpringDeadline || 'N.A'}}</b><br>
                        <b>SummerDeadLine - {{university.SummerDeadline || 'N.A'}}</b><br>
                    </div>
                </div>
                
                <!-- this code for mobile start-->
                <div class="five wide column headClass" style="display:none;width:50% !important;float:left;">
                    <div class="ui stackable grid">
                        <div class="five wide column" style="">
                            <div class="content">
                                <span class="headClass">GRE : </span><span><b>{{university.GRE}}</b></span>
                                <img class="ui avatar image" ng-src="{{university.GRE < searchParams.greScore ? '/img/DiplomaGreen.png' : university.GRE == searchParams.greScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.greScore-university.GRE"
                                    style="cursor:help;">
                            </div>
                        </div>

                        <div class="five wide column" style="">
                            <div class="content">
                                <span class="headClass">English : </span><span><b>{{university[searchParams.exam]}}</b></span>
                                <img class="ui avatar image" ng-src="{{university[searchParams.exam] < searchParams.examScore ? '/img/DiplomaGreen.png' : university[searchParams.exam] == searchParams.examScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.examScore-university[searchParams.exam]"
                                    style="cursor:help;">
                            </div>
                        </div>

                        <div class="five wide column" style="">
                            <div class="content">
                                <span class="headClass">GPA : </span><span><b>{{university.GPA}}</b></span>
                                <img class="ui avatar image" ng-src="{{university.GPA < searchParams.gpa ? '/img/DiplomaGreen.png' : university.GPA == searchParams.gpa ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.gpa-university.GPA" style="cursor:help;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six wide column headClass" style="width:50% !important; display:none">
                    <div class="ui stackable grid">
                        <div class="six wide column">
                            <div class="content">
                                <span class="headClass">Dead line : </span><span><b>{{university.FullDeadLine|date:'dd/MMM/yyyy'}}</b></span>
                            </div>
                        </div>
                        <div class="five wide column">
                            <div class="content">
                                <div class="header">
                                    <span class="headClass">Fee : </span><span><b>{{university.TutionFee|currency}}</b></span>
                                </div>
                                <small>Per two Years </small>
                            </div>
                        </div>
                        <div class="five wide column">
                            <span class="headClass">Rating : </span><span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                        </div>
                    </div>
                </div>
                 <!-- this code for mobile end-->

            </div>
            <div class="ui divider"></div>
            <hr ng-repeat-end ng-show="university.show">
            <!--            <div class="ui divider" ng-repeat-end ng-show="university.show"></div>-->
            <div class="ui divider"></div>

            <div class="ui center aligned grid stackable cont-imp" ng-if="universities.length === 0">
                <div class="sixteen wide column">
                    <div class="ui message">
                        <h3>You can add favourite university from search results page or all universities page.</h3>
                        <div class="ui equal width center aligned celled stackable grid">
                            <div class="row">
                                <div class="column">
                                    <img class="ui fluid image" src="../img/favoriate.PNG">
                                </div>
                                <div class="column">
                                    <img class="ui fluid image" src="../img/Fav2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment container" ng-if="universities.length >= 1">
        <div class="ui middle aligned stackable grid segment">
            <div class="row">
                <div class="six wide column">
                    <a href="http://www.futureinusa.com/blog/" target="_blank">
                        <img src="../img/thingstoconsiderwhilechossinguniversity-formsinusa-bigimage.jpg" class="ui medium image"></a>
                </div>
                <div class="eight wide right floated column">
                    <p style=" text-align:justify !important; font-family:Segoe UI, Open Sans !important;padding:0px 18px 0px 5px !important;">Don’t finalize the universities only based on your scores, major and Fees. There are many factors that need to be considered in which we will be assisting you with our experience.</p>
                    <p style=" text-align:justify !important; font-family:Segoe UI, Open Sans !important;padding:0px 18px 0px 5px !important;">Our team will provide you with the information about course structure, course duration, cost of living, fee structure, payment schedule, part time job on campus job, safety climatic conditions, scholarships and funding.</p>
                    <p style=" text-align:justify !important; font-family:Segoe UI, Open Sans !important;padding-left:5px !important;"><b>Please reach out to us for further details.</b></p>
                    <div class="ui content">
                        <span style="padding-left:5px !important;"><b>Email:</b> chaitanya@profileevaluator.com</span>
                        <br>
                        <span style="padding-left:5px !important;"><b>Ph:</b> +91 72888 40555</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="image content">
            <div class="description">
                <div class="ui container">
                    <p style="margin-bottom:23px;"><img class="ui left floated avatar image" src="../img/DiplomaGreen.png"><strong>Safe.</strong> Your scores and GPA are more than those required by this university. You have a high chance of
                        <br>getting admission in this university if you apply on time.</p>
                    <p><img class="ui left floated avatar image" src="../img/DiplomaOracangelite.png"><strong>Moderate.</strong>Your scores and CGPA are just matching the required scores by the university. Your chances
                        <br> of getting a i20 depends on the number of applications already applied and in the queue. Apply as early as
                        <br> you can. If you have strong SoP, LoRs and profile you still have a good chance of getting into this university.</p>
                    <p><img class="ui left floated avatar image" src="../img/DiplomaOrange.png"><strong>Ambitious.</strong>Your scores and CGPA are very less than those required by this university for its previous
                        <br> intake.Unless you have good work experience, strong SOP and a known reference, dont try. You have
                        <br> to make a lot of effort to convince the university to take you in.</p>
                </div>
            </div>
        </div>
    </div>

</main>
