<div class="ui black inverted vertical footer segment" style="border-radius:0px !important;">
    <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
            <div class="four wide column">
                <div style="font-size:15px !important;font-weight:700;"><i class="comments outline icon"></i>CONTACT US</div>
                <br>
                <i class="phone icon"></i>+91 72888 40555
                <br>
                <i class="mail icon"></i>chaitanya@profileevaluator.com
            </div>
            <div class="twelve wide column">
                <div style="font-size:15px !important;font-weight:700; margin-bottom: 15px;"><i class="settings icon"></i>OUR MISSION</div>
                <p style="text-align: justify;text-align: center;">Our Mission is to provide end to end services for your dream of studying <b style="font-size:16px !important;">MS in USA</b></p>
            </div>
        </div>
        <div class="ui divider"></div>
        <p>© 2016 cvcorp.in Except where noted, all rights reserved. <a ui-sref-active="active" ui-sref="privacypolicy" target="blanck">Privacy Policy</a> and <a ui-sref-active="active" ui-sref="terms" target="blanck">Terms & Conditions</a></p>
    </div>
</div>
