<div class="ui secondary menu top-bar hidebar" ng-hide="currentState==='PES' || currentState==='searchdb' || currentState==='university'">
    <div class="ui container">
        <a href="tel:7306220220" class="item">
            <i class="phone small icon"></i>+91 72888 40555
        </a>
        <a href="mailto:admin@futureinusa.com" class="item">
            <i class="mail icon"></i>chaitanya@profileevaluator.com   
        </a>
        <a href="https://www.facebook.com/profileevaluator/" target=_blank; class="right item"><i class="facebook icon"></i></a>
        
    </div>
</div>
<!--baneer head code starts
<div class="container-fluid">
        <div class="row bannerHeader">
            <div class="col-md-12">
                <p class="headerHideInMob headTitle">Promotional Banner or Important Information Goes Here</p>
                <p class="headerHideInWeb"><img src="images/page-13.png" id="bannerImg" alt="Contact Number"> Toll Free: +91 72888 40111</p>
            </div>
        </div>
      </div>
<!--baneer head code ends-->
<div class="ui stackable fluid menu show-sec" style="margin-top: 0px; border-width: 0px; border-radius:0px;background-color:#023a5b;"> 
    <div class="ui container">
        <a ui-sref="home" class="item logoImgLink">
            <img src="../img/logo.png" /><span class="myClass" style="color:#fff;padding-left:2px;">Profile Evaluator</span>
        </a>
        <a ui-sref-active="active" ui-sref="home" style="color:#fff" class="right item navShowInWeb myClass" tyle="border-right:1px solid #E8E8E8; !important">Home</a>
        <a ui-sref-active="active" ui-sref="aboutus" style="color:#fff" class="item navShowInWeb myClass">About Us</a>
        <a ui-sref-active="active" ui-sref="services" class="item navShowInWeb myClass" style="color:#fff">Services</a>
        <a ui-sref-active="active" ng-if="user" ui-sref="LOUnivs" class="item navShowInWeb myClass" style="color:#fff">Universities</a>
        <a ui-sref-active="active" ng-if="user" ui-sref="searchdb" class="item navShowInWeb myClass" style="color:#fff">Search Results</a>
        <a ui-sref-active="active" ng-if="user" ui-sref="favUnivs" class="item navShowInWeb myClass" style="color:#fff">Compare University</a>
        <a ui-sref-active="active" ui-sref="contactus" class="item navShowInWeb myClass" style="color:#fff">Contact Us</a>
        
		<!-- <a ui-sref-active="active" ui-sref="pricing" class="item" style="color:white">Pricing</a>-->
		 <a ui-sref-active="active" ui-sref="blogs" class="item navShowInWeb myClass" style="color:#fff">Blogs</a>
	
        <a ng-if="user" ng-click="logout()" class="item navShowInWeb myClass" style="color:#fff">Logout&nbsp;<i class="sign out medium icon"></i></a>
        <div class="right menu side navShowInWeb">
            <a class="item">
                <i class="sidebar icon" style="font-size:20px;"></i>
            </a>
        </div>

        <!-- menu code for mobile start-->
        <div class="navShowInMob myClass">
            <span style="float:left;"><a ui-sref-active="active" ui-sref="home" style="color:#fff" class="right item" style="border-right:1px solid #E8E8E8; !important">Home</a></span>
            <span style="float:left;"><a ui-sref-active="active" ui-sref="aboutus" style="color:#fff" class="item">About Us</a></span>
            <span style="float:left;"><a ui-sref-active="active" ui-sref="services" class="item" style="color:#fff">Services</a></span>
            <span style="float:left;"><a ui-sref-active="active" ng-if="user" ui-sref="LOUnivs" class="item" style="color:#fff">Universities</a></span>
        </div>

        <div class="navShowInMob myClass">
                <span style="float:left;"><a ui-sref-active="active" ng-if="user" ui-sref="searchdb" class="item" style="color:#fff">Search Results</a></span>
            <span style="float:left;"><a ui-sref-active="active" ng-if="user" ui-sref="favUnivs" class="item" style="color:#fff">Compare University</a></span>
            <span style="float:left;"><a ui-sref-active="active" ui-sref="contactus" class="item" style="color:#fff">Contact Us</a></span>
            <!-- <a ui-sref-active="active" ui-sref="pricing" class="item" style="color:white">Pricing</a>-->
            <span style="float:left;"><a ui-sref-active="active" ui-sref="blogs" class="item" style="color:#fff">Blogs</a></span>
        
            <span style="float:left;"><a ng-if="user" ng-click="logout()" class="item" style="color:#fff">Logout&nbsp;<i class="sign out medium icon"></i></a></span>
        <div class="right menu side">
            <a class="item">
                <i class="sidebar icon" style="font-size:20px;"></i>
            </a>
        </div>
        </div>
        <!-- menu code for mobile end-->
    </div>
</div>
 

<!-- Sidebar Menu -->
<!--
<div class="ui vertical sidebar menu side-sec">
  <a ui-sref="home" class="item"><img src="../img/logo.png" style="margin-top: 0px;margin-right: 5px; height:35px; width:35px;"><b>
    Profile Evaluator</b></a>
    <a ui-sref-active="active" ui-sref="home" class="right item">Home</a>
    <a ui-sref-active="active" ui-sref="aboutus" class="item">About Us</a>
    <a ui-sref-active="active" ng-if="user" ui-sref="LOUnivs" class="item">Universities</a>
    <a ui-sref-active="active" ng-if="user" ui-sref="searchdb" class="item">Search Results</a>
    <a ui-sref-active="active" ng-if="user" ui-sref="favUnivs" class="item">Favourite</a>
    <a ui-sref-active="active" ui-sref="contactus" class="item">Contact Us</a>
    <a ng-if="user" ng-click="logout()" class="item">Logout&nbsp;<i class="sign out medium icon"></i></a>
</div>
-->




<!--
<script>
      $(document)
    .ready(function() {
      $('.side-sec')
        .sidebar('attach events', '.toc.item');
    });
</script>-->


