
<script>
    function signinFun()
    {
        var signin=document.getElementById('signinId');
        var signup=document.getElementById('signupId');
        if(signin.style.display == 'none')
        {
            signin.style.display='block';
            signup.style.display='none';
        }
        else
        {
            signin.style.display='block';
        }
    }
    function signupFun()
    {
        var signin=document.getElementById('signinId');
        var signup=document.getElementById('signupId');
        if(signin.style.display == 'none')
        {
            signup.style.display='block';
            signin.style.display='none';
        }
        else
        {
            signup.style.display='block';
        }
    }

            $(document).ready(function(){
    $(this).scrollTop(0);
});
function scrolltotop()
{
    $(document).ready(function(){
    $(this).scrollTop(0);
});
}


</script>


<div class="ui grid" style="padding:0px !important;">
    <div class="eight wide column">
        <p style="padding-left:2%;">Welcome! {{user.FullName}}</p>
    </div>
    <div class="eight wide column">
        <div class="ui small buttons" ng-if="!user" style="float:right;">
            <a ng-click="$parent.sign_in_up='signin'" onclick="signinFun()" ng-class="sign_in_up==='signin' && 'active'"><div class="ui button" style="background-color:#096b98!important;color:#fff;">Sign-In</div></a>
            <div class="or"></div>
            <a ng-click="$parent.sign_in_up='signup'" onclick="signupFun()" ng-class="sign_in_up==='signup' && 'active'"><div class="ui button teal">Sign-Up</div></a>
        </div>
    </div>
</div>
    <div>
        <!--Login form start-->
        <div id="signinId" style="display:none;">
        <form ng-if="sign_in_up==='signin'" class="ui stackable fluid small form formsHome" novalidate name="signin" ng-submit="signIn(login, search)">
            <!--<div class="field">-->
            <!--<button type="button" ng-click="facebookSignInUp()" class="ui facebook button">-->
            <!--<i class="facebook icon"></i> Sign-In With Facebook-->
            <!--</button>-->
            <!--</div>-->
            <h2>SignIn</h2>
            <div class="required field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input required type="email" name="email" placeholder="E-mail address" ng-model="login.username" style="height:40px">
                </div>
            </div>
            <div class="required field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input required type="password" name="password" placeholder="Password" ng-model="login.password" style="height:40px">
                </div>
            </div>
            <div class="two fields">
                <button type="submit" id="button" class="ui blue submit button" ng-class="signin.$invalid && 'disabled'" ng-disabled="signin.$invalid,signin.$valid" style="margin-bottom:10px;background-color:#353535	!important">SignIn</button>

                <button type="reset" id="button" style="background-color:#353535!important" class="ui blue submit button">Clear</button>
            </div>

        </form>
    </div>
        <!--Login form end-->

        <!--Signup form start-->
        <div id="signupId" style="display:none;">
        <form ng-if="sign_in_up==='signup'" class="ui fluid small form formsHome" novalidate name="signup" ng-submit="signUp(newUser)">
            <!--<div class="field">-->
            <!--<button ng-click="facebookSignInUp()" class="ui facebook button">-->
            <!--<i class="facebook icon"></i> <span>Sign-Up With Facebook</span>-->
            <!--</button>-->
            <!--</div>-->
            <h2>SignUp</h2>
            <div class="required field">
                <div class="ui left icon input">
                    <input type="text" placeholder="Name" ng-model="newUser.FullName" required>
                    <i class="user icon"></i>
                </div>
            </div>


            <div class="required field">
                <div class="ui left icon input">
                    <input type="text" placeholder="Phone number" pattern="^\d{10}$" ng-model="newUser.phone" required>
                    <i class="phone icon"></i>

                </div>
                <p style="color:#4e4e4e;font-size:12px;text-align:center !important;">Give only 10 digit mobile number(Don't give +91)</p>
            </div>
            <div class="required field">
                <div class="ui left icon input">
                    <input type="email" placeholder="Email" ng-model="newUser.username" required>
                    <i class="mail icon"></i>
                </div>
            </div>
            <div class="required field">
                <div class="ui left icon input">
                    <input type="text" placeholder="Current location (City)" ng-model="newUser.currentLocation" required>
                    <i class="marker icon"></i>
                </div>
            </div>
            <div class="required field">
                <div class="ui left icon input">
                    <input type="password" placeholder="Password" ng-model="newUser.password" required>
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="required field">
                <div class="ui left icon input">
                    <input type="password" name="retypPassword" placeholder="Re-Type Password" ng-model="reTypePassword" required>
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="required field">
                <div class="ui checkbox">
                    <input type="checkbox" ng-model="signup.$valid" required>
                    <label>I agree to  <a ui-sref-active="active" ui-sref="terms" target="blanck">Terms & Conditions</a></label>
                </div>
            </div>

            <div class="two fields">
                <div style="margin-left:5px">
                    <button type="submit" id="buttonsignup" style="background-color:#353535!important;" class="ui blue submit button" ng-class="signup.$invalid && 'disabled'" ng-disabled="signup.$invalid" style="margin-bottom:10px;">SignUp</button>
                </div>
                <div>
                    <button type="reset" id="buttonsignup" style="background-color:#353535!important" class="ui blue submit button">Clear</button>
                </div>
            </div>
        </form>
    </div>
        <!--Signup form end-->
    </div>
<br>

<div class="ui grid stackable" style="height:400px;">
    <div class="sixteen wide column backImgClass">
        <div class="ui stackable grid" style="margin-top:2%;">
            <div class="four wide column"></div>
            <div class="eight wide column">
                <h2 class="textBackImg">A FREE Profile Evaluation Tool
                        <br>for Higher Studies in USA</h2>
                <p class="textBackImg" style="font-size: 22px;">Take a step towards living your 'American Dream'
                       <br> What do you want to do?</p>
                <div class="ui stackable grid">
                    <div class="two wide column"></div>
                    <div class="twelve wide column"><!--ui-sref="LOUnivs"-->
                        <a ui-sref="PES" ng-click="$parent.sign_in_up='signin'" onclick="signinFun();scrolltotop();" ng-class="sign_in_up==='signin' && 'active'"><div class="ui button searchBtnClass btnSearch1">
                            <img src="img/page-10.png" style="width:60%;height:40%"/>
                            <p class="btnTextCLass" style="color:#fff;">Search<br>Universities</p>
                        </div>
                        </a>
                        <a ui-sref="PES" ng-click="$parent.sign_in_up='signin'" onclick="signinFun();scrolltotop();" ng-class="sign_in_up==='signin' && 'active'"><div class="ui button searchBtnClass btnSearch2">
                            <img src="img/pageP-1.png" style="width:40%;height:50%"/>
                            <p class="btnTextCLass" style="color:#4a4a4a;">Evaluate<br>Your Profile</p>
                        </div></a>
                    </div>
                    <div class="two wide column"></div>
                </div>
            </div>
            <div class="four wide column"></div>
        </div>
    </div>
</div>
<div class="ui stackable grid" style="background-color:#fff;">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui grid" style="padding:0% !important">
            <div class="four wide column">
                <img src="img/page111.png" class="numberUniImg"/>
                <h3 class="numberClass1 textSixzeInMob">400+</h3>
                <p class="numSubText">Listed Universities</p>
            </div>
            <div class="four wide column">
                <img src="img/page-1DE.png" class="numberUniImg" style="margin-top:5% !important;"/>
                <h3 class="numberClass2 textSixzeInMob">1600+</h3>
                <p class="numSubText">Students Admitted</p>
            </div>
            <div class="four wide column">
                <img src="img/page-451.png" class="numberUniImg"/>
                <h3 class="numberClass3 textSixzeInMob">{{usersCount}}</h3>
                <p class="numSubText">Profiles Evaluated</p>
            </div>
            <div class="four wide column">
                <img src="img/page-1(1).png" class="numberUniImg" style="margin-top:2% !important;">
                <h3 class="numberClass4 textSixzeInMob">12300+</h3>
                <p class="numSubText">Recommendation Given</p>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
</div><br>
<div class="sixteen wide column" style="background-color:#ecf0f1;"><br>
    <h1 style="text-align:center;"><span style="font-weight: 600;color: #39393a;">Our Services</span></h1><br>
</div>
<div class="ui stackable grid" style="background-color:#ecf0f1;">
    <div class="four wide column" style="">
        <div class="sixteen wide column segment">
            <h2 id="hideHeadInWeb" style="text-align:center;">University Shortlisting</h2>
            <img class="ui image" style="width:100%;height:100%;padding:2%;margin:auto;display:block;" src="img/11.png">
            <h2 id="showHeadInWeb" style="text-align:center;color: rgb(31, 54, 92);">University Shortlisting</h2>
            <p style="text-align:center;padding:1%;">Choosing the right course from the right university is a major step in the application process for MS in US. Students aiming to...</p>
        </div>
        
        <br>
        <a ui-sref-active="active" ui-sref="services" target="blanck"><button class="ui teal fluid button">ReadMore...</button></a>
    </div>
    <div class="four wide column" style="padding:1%">
        <div class="sixteen wide column segment">
            <h2 id="hideHeadInWeb" style="text-align:center;">SOP/VISA Guidance(F1/B2)</h2>
            <img class="ui image" style="width:100%;height:100%;padding:2%;margin:auto;display:block;" src="img/33.png">
            <h2 id="showHeadInWeb" style="text-align:center;color: rgb(31, 54, 92);">SOP/VISA Guidance(F1/B2)</h2>
            <p style="text-align:center;padding:1%;">The statement of purpose - the only essay which tells the review committee of the university the
                    eligibility of a particular...</p>
        </div>
        <br>
        <a ui-sref-active="active" ui-sref="services" target="blanck"><button class="ui teal fluid button">ReadMore...</button></a>
    </div>
    <div class="four wide column" style="padding:1%">
        <div class="sixteen wide column segment">
            <h2 id="hideHeadInWeb" style="text-align:center;">Total I-20 Process</h2>
            <img class="ui image" style="width:100%;height:100%;padding:2%;margin:auto;display:block;" src="img/i20.png">
            <h2 id="showHeadInWeb" style="text-align:center;color: rgb(31, 54, 92);">Total I-20 Process</h2>
            <p style="text-align:center;padding:1%;">Around 300+ students processed and received admit in their desired universities. We at FutureInUsa   process the applications...</p>
        </div>
        <br>
        <a ui-sref-active="active" ui-sref="services" target="blanck"><button class="ui teal fluid button">ReadMore...</button></a>
    </div>
    <div class="four wide column" style="padding:1%">
        <div class="sixteen wide column segment">
            <h2 id="hideHeadInWeb" style="text-align:center;">Education Loan Search</h2>
            <a href="https://www.credila.info/psites/profile-evaluator/" target="blanck">
                <img class="ui image" style="width:100%;height:100%;padding:2%;margin:auto;display:block;" src="/img/hdfc_credila.jpg"></a>
            <h2 id="showHeadInWeb" style="text-align:center;color: rgb(31, 54, 92);">Education Loan Search</h2>
            <p style="text-align:center;padding:1%;">“HDFC Credila allows students studying abroad to search for education loan options in India, the U.S. and elsewhere, including no cosigner loan options…”</p>
        </div>
        <br>
        <a href="https://www.credila.info/psites/profile-evaluator/" target="blanck"><button class="ui teal fluid button">ReadMore...</button></a>
    </div>
</div>
<div class="ui stackable grid">
    <div class="three wide column"></div>
    <div class="ten wide column" style="">
        <h1 style="text-align:center;"><span style="font-weight: 600;color: #39393a;">How it works</span></h1>
        <div class="videoDiv1">
            <video autoplay muted class="fillwidth" style="width: 90%;height:60% !important;" controls>
                <source src="img/pe.mp4" style="" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="img/profileevaluator.mp4" style=""type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="img/profileevaluator.ogg" type="video/ogg"/>
                <source src="img/profileevaluator.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video> 
        </div>
    </div>
    <div class="three wide column"></div>
</div>


<script>
    (function($) {
        $.fn.countTo = function(options) {
            options = options || {};

            return $(this).each(function() {
                // set options for current element
                var settings = $.extend({}, $.fn.countTo.defaults, {
                    from: $(this).data('from'),
                    to: $(this).data('to'),
                    speed: $(this).data('speed'),
                    refreshInterval: $(this).data('refresh-interval'),
                    decimals: $(this).data('decimals')
                }, options);

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(settings.speed / settings.refreshInterval),
                    increment = (settings.to - settings.from) / loops;

                // references & variables that will change with each update
                var self = this,
                    $self = $(this),
                    loopCount = 0,
                    value = settings.from,
                    data = $self.data('countTo') || {};

                $self.data('countTo', data);

                // if an existing interval can be found, clear it first
                if (data.interval) {
                    clearInterval(data.interval);
                }
                data.interval = setInterval(updateTimer, settings.refreshInterval);

                // initialize the element with the starting value
                render(value);

                function updateTimer() {
                    value += increment;
                    loopCount++;

                    render(value);

                    if (typeof(settings.onUpdate) == 'function') {
                        settings.onUpdate.call(self, value);
                    }

                    if (loopCount >= loops) {
                        // remove the interval
                        $self.removeData('countTo');
                        clearInterval(data.interval);
                        value = settings.to;

                        if (typeof(settings.onComplete) == 'function') {
                            settings.onComplete.call(self, value);
                        }
                    }
                }

                function render(value) {
                    var formattedValue = settings.formatter.call(self, value, settings);
                    $self.html(formattedValue);
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0, // the number the element should start at
            to: 0, // the number the element should end at
            speed: 1000, // how long it should take to count between the target numbers
            refreshInterval: 100, // how often the element should be updated
            decimals: 0, // the number of decimal places to show
            formatter: formatter, // handler for formatting the value before rendering
            onUpdate: null, // callback method for every time the element is updated
            onComplete: null // callback method for when the element finishes updating
        };

        function formatter(value, options) {
            var val = value.toFixed(options.decimals);
            var pad = "0000000";
            return pad.substring(0, pad.length - val.length) + val;
        }
    }(jQuery));
    jQuery(function($) {
        $('.timer1').countTo();
    });
</script>
<!-- <script>
        (function() {
          /**
           * Video element
           * @type {HTMLElement}
           */
          var video = document.getElementById("my-video");
        
          /**
           * Check if video can play, and play it
           */
          video.addEventListener( "canplay", function() {
            video.play();
          });
        })();
        </script> -->
<script>
    $( document ).ready(function() {

    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height();
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height(),
    videoWidth,
    videoHeight;

    // console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}
</script>
<!-- <script>
    $('.long.leaf.image')
  .transition('set looping')
  .transition('bounce', '2000ms')
;
</script> -->
<script>
    //Checkbox validation
$('#checky').click(function(){
     
    if($(this).attr('checked') == false){
         $('#buttonsignup').attr("disabled","disabled");   
    }
    else {
        $('#buttonsignup').removeAttr('disabled');
    }
});
</script>
