<div style="overflow:auto;">
<table class="ui celled table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>CreatedDate</th>
            <th>UpdatedDate</th>
            <th>emailVerified</th>
            <th>phone</th>
            <th>phoneVerified</th>
            <th>City</th>
            <th>currentLocation</th>
            <th ng-repeat="k in searchParams">{{k}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in Users.list">
            <td>{{user.FullName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.createdAt|date:'yyyy-MMM-dd'}}</td>
            <td>{{user.updatedAt|date:'yyyy-MMM-dd'}}</td>
            <td>{{user.emailVerified}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.phoneVerified}}</td>
            <td>{{user.City}}</td>
            <td>{{user.currentLocation}}</td>
            <td ng-repeat="k in searchParams">{{user.LastSearchParams[k]}}</td>
        </tr>
    </tbody>
</table>    
</div>