<table class="ui celled table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>CreatedDate</th>
            <th>IP</th>
            <th>City</th>
            <th>Function</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in Users.list">
            <td>{{user.UserId}}</td>
            <td>{{user.createdAt|date:'yyyy-MMM-dd'}}</td>
            <td>{{user.IP}}</td>
            <td>{{user.City}}</td>
            <td>{{user.Function}}</td>
        </tr>
    </tbody>
</table>