

<style>
	

/* Styling the Popup Window */
			/*.popup-trigger { display: block; margin: 0 auto; padding: 20px; max-width: 260px; background: #4EBD79; color: #fff;
    						 font-size: 18px; font-weight: 700; text-align: center; text-transform: uppercase; line-height: 24px; cursor: pointer; }*/
		  	.popup {display: none; position: absolute; top: 250px; left: 50%; width: 450px; margin-left: -350px; padding: 30px 30px;
  					background: #fff; color: #333; font-size: 19px; line-height: 30px; border: 5px solid #a01d49; z-index: 9999;}
	
  			.popup-mobile {position: relative; top: 0; left: 0; margin: 30px 0 0; width: 100%;}		
  		    .popup-btn-close {position: absolute; top: 8px; right: 14px; color: #4EBD79; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}	
  		
</style>




 <script type="text/javascript">
 $(document).ready(function(){
 
	 
	 var scrollTop = '';
		var newHeight = '100';

		$(window).bind('scroll', function() {
		   scrollTop = $( window ).scrollTop();
		   newHeight = scrollTop + 100;
		});
		
		$('.popup-trigger').click(function(e) {
  		 e.stopPropagation();
		 if(jQuery(window).width() < 767) {
		   $(this).after( $( ".popup" ) );
		   $('.popup').show().addClass('popup-mobile').css('top', 0);
		   $('html, body').animate({
				scrollTop: $('.popup').offset().top
			}, 500);   
		 } else {
		   $('.popup').removeClass('popup-mobile').css('top', newHeight).toggle();
		 };
		});
		
		$('html').click(function() {
		 $('.popup').hide();
		});

		$('.popup-btn-close').click(function(e){
		  $('.popup').hide();
		});

		$('.popup').click(function(e){
		  e.stopPropagation();
		});
	 
	 
	 
	 
	 
	 
	 
	 
	 
 $('input:checkbox').change(function(){ 
var tot=0;
$('input:checkbox:checked').each(function(){
tot+=parseInt($(this).val());
});
     tot+=parseInt($('#dropdown').val());
$('#total').html(tot)
});
     
     $('#dropdown').change(function(){
		 var total=$('#dropdown').val();
		 $("#totalprice").val(total);
      $('input:checkbox').trigger('change');
		 
     });
  
  
  
$(".ieltsmainmodule").change(function() {
    if ( $(this).is(':checked') ) {
		
		
		
		$('.ieltssubmodulecheck').attr('disabled','');
		
		
    } else {
        $(".ieltssubmodule").show();
		$('.ieltssubmodulecheck').removeAttr('disabled','');
		
    }
});
	 
	 $(".visamainmodule").change(function() {
    if ( $(this).is(':checked') ) {
		
		
		
		$('.visasubmodulecheck').attr('disabled','');
		
		
    } else {
        $(".visasubmodule").show();
		$('.visasubmodulecheck').removeAttr('disabled','');
		
    }
});
	 
 
	  $(".i20mainmodule").change(function() {
    if ( $(this).is(':checked') ) {
		
		
		
		$('.i20submodulecheck').attr('disabled','');
		$('.i20submoduledrop').attr('disabled','');
		
		
    } else {
        $(".i20submodule").show();
		$('.i20submodulecheck').removeAttr('disabled','');
		$('.i20submoduledrop').removeAttr('disabled','');
		
    }
});
	 
/*	 
 $(document).ready(function(){
  $('#wrapper').dialog({
    autoOpen: false,
    title: ' Team Future in USA'
});
$('#opener').click(function() {
    $('#wrapper').dialog('open');
    return false;
});
});*/
   
    });
	 
	/* $(document).ready(function(){
		 
	var scrollTop = '';
		var newHeight = '100';

		$(window).bind('scroll', function() {
		   scrollTop = $( window ).scrollTop();
		   newHeight = scrollTop + 100;
		});
		
		$('.popup-trigger').click(function(e) {
  		 e.stopPropagation();
		 if(jQuery(window).width() < 767) {
		   $(this).after( $( ".popup" ) );
		   $('.popup').show().addClass('popup-mobile').css('top', 0);
		   $('html, body').animate({
				scrollTop: $('.popup').offset().top
			}, 500);   
		 } else {
		   $('.popup').removeClass('popup-mobile').css('top', newHeight).toggle();
		 };
		});
		
		$('html').click(function() {
		 $('.popup').hide();
		});

		$('.popup-btn-close').click(function(e){
		  $('.popup').hide();
		});

		$('.popup').click(function(e){
		  e.stopPropagation();
		});
	 });*/
	 
	 
	
</script>
		<div class="popup">
		 Thankyou for choosing our services.<br><br>
			<p style="font-size:14px">Payment Integration  is in process</p>
			
		
			
			<p style="font-size:14px">For proceed further please drop an email to <strong>team@futureinusa.com</strong> or call us at <strong>72888 40555.</strong></p>
		  <span class="popup-btn-close">close</span>
			
		<br>
			
		<p style="margin-left:200px;font-size:16px">-Team FutureinUSA</p>
		</div>

<form class="ui form" style="margin:20px 0px 20px 0px">
	

	<div class="ui three column stackable grid container" style="margin-top:50px">
		
  <div class="column">
	 
	  <div class="sixteen wide column" style="border:2px solid #a01d49;">
	  
		   <div class="sixteen wide column">
   	<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#a01d49;text-align:center">IELTS / TOEFL / PTE</p>
	  
   </div>
		  
   <div class="ui grid" style="margin:0px 0px 0px 0px">
   <div class="sixteen wide column">
     <div class="ui grid" style="margin:0px 0px 0px 0px">
		  
	  <div class="twelve wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="5000" class="ieltsmainmodule">		
           <label style="font-size:14px;color:#a01d49;font-weight:900;">IELTS/TOEFL/PTE Training
			</label>
		  </div>
		  </div>
		  <div class="four wide column">
			<div class="ui input focus" id="textdiv">
  <input type="text" placeholder="Rs.5000" readonly="true" style="width:80px;">
</div>
		  </div>
	  
	  </div>
	  </div>
	    <div class="sixteen wide column" style="margin-bottom:3px">
	   <div class="ui grid" style="margin:0px 0px 0px 0px">
		  
	  <div class="thirteen wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="1500" class="ieltssubmodulecheck">
			
           <label style="font-size:14px;color:#a01d49;font-weight:900;">Module Based Training/<br>
			   Crash Course Training
			</label>
		  </div>
		  </div>
		  <div class="three wide column" style="margin-left:-20px">
			<div class="ui input focus" id="textdiv">
  <input type="text" placeholder="Rs.1500" readonly="true" style="width:80px;">
</div>
		  </div>
	  
	  </div>
	  
	</div>
   </div>
		  
	  </div>
   
   <div class="sixteen wide column" style="border:2px solid #0077b5;margin-top:20px">
	
	
	 <div class="sixteen wide column">
   	<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#0077b5;text-align:center">VISA</p>
	  
   </div>
   
     <div class="ui grid" style="margin:0px 0px 0px 0px">
 
   <div class="sixteen wide column">
     <div class="ui grid" style="margin:0px 0px 0px 0px">
		  
	  <div class="thirteen wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="2000" class="visamainmodule">		
           <label style="font-size:14px;color:#0077b5;font-weight:900;">VISA Guidance
			</label>
		  </div>
		  </div>
		  <div class="three wide column" style="margin-left:-15px">
			<div class="ui input focus" id="textdiv" >
  <input type="text" placeholder="Rs.2000" readonly="true" style="width:80px;margin-left:0px!important">
</div>
		  </div>
	  
	  </div>
	  </div>
	  
	   
	    <div class="sixteen wide column">
	   <div class="ui grid" style="margin:0px 0px 0px 0px">
		  
	  <div class="thirteen wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="1000" class="visasubmodulecheck">
			
           <label style="font-size:14px;color:#0077b5;font-weight:900;">Only for Slot
			   
			</label>
		  </div>
		  </div>
		  <div class="three wide column" style="margin-left:-7px">
			<div class="ui input focus" id="textdiv" style="margin-left:-12px">
  <input type="text" value="Rs.1000" readonly="true" style="width:80px;margin-left:0px!important;color:#888888">
</div>
		  </div>
	  
	  </div>
	  
	</div>
   </div>
   
   </div>
  
  </div>
  
  <div class="column">
  
   <div class="sixteen wide column" style="border:2px solid #102357;height:477px">
	  
		   <div class="sixteen wide column">
   	<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#102357;text-align:center">I-20 Processing</p>
	  
   </div>
		  
   <div class="ui grid" style="margin:0px 0px 0px 0px">
   <div class="sixteen wide column">
     <div class="ui grid" style="margin:0px 0px 0px 0px">
		  
	  <div class="twelve wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="6000" class="i20mainmodule">		
           <label style="font-size:14px;color:#102357;font-weight:900;">University Admission <br>End to end process
			</label>
		  </div>
		  </div>
		  <div class="four wide column">
			<div class="ui input focus" id="textdiv">
  <input type="text" value="Rs.6000" readonly="true" style="width:80px;color:#888888">
</div>
		  </div>
	  
	  </div>
	  </div>
	  
	     <div class="sixteen wide column">
	   <div class="ui grid" style="margin:-20px 0px 0px 0px">
		  
	  <div class="thirteen wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="1000" class="i20submodulecheck">
			
           <label style="font-size:14px;color:#102357;font-weight:900;">Shortlisting Universities
			</label>
		  </div>
		  </div>
		  <div class="three wide column" style="margin-left:-20px">
			<div class="ui input focus" id="textdiv">
  <input type="text" placeholder="Rs.1000" readonly="true" style="width:80px;">
</div>
		  </div>
	  
	  </div>
	  
	</div>
	
	 <div class="sixteen wide column">
	  
	   <div class="ui grid" style="margin:-20px 0px 0px 0px">
		  
	  <div class="four wide column" style="margin-left:-20px">
		 
<select class="ui dropdown i20submoduledrop" id="dropdown"  style="width:50px;margin-top:5px;height:40px">
  <option value="0">0</option>
  <option value="1500">1</option>
  <option value="3000">2</option>
	<option value="4500">3</option>
  <option value="6000">4</option>
	
</select>
				
		  </div>
		  
		  <div class="nine wide column">
		  
		  <label style="font-size:14px;color:#102357;font-weight:900;">Processing charge<br>per University
			</label>
		  
		  </div>
		  
		  <div class="three wide column" style="margin-left:-20px">
			<div class="ui input focus" id="textdiv">
  <input type="text" value="Rs.1500" readonly="true" id="totalprice" style="width:80px;color:#888888">
</div>
		  </div>
	  
	  </div>
	  
	</div>
	
	
	    <div class="sixteen wide column">
	   <div class="ui grid" style="margin:-15px 0px 0px 0px">
		  
	  <div class="thirteen wide column" style="margin-left:-20px">
		 <div class="ui checkbox">
        <input type="checkbox" value="1000" class="i20submodulecheck">
			
           <label style="font-size:14px;color:#102357;font-weight:900;">1 SOP & 3 LOR's
			</label>
		  </div>
		  </div>
		  <div class="three wide column" style="margin-left:-20px">
			<div class="ui input focus" id="textdiv">
  <input type="text" value="Rs.1000" readonly="true" style="width:80px;color:#888888">
</div>
		  </div>
	  
	  </div>
	  
	</div>
	
	 <div class="sixteen wide column" style="margin-bottom:15px">
	   <div class="ui grid" style="margin:-25px 0px 0px 0px">
		  
	  <div class="three wide column">
	 <p style="font-size:14px;color:#102357;font-weight:900;padding-top:3px">Total</p>
	  </div>
	  
	  <div class="four wide column">
	   <p  id="total" style="border:1px solid #dadada;height:30px;padding-top:2px;font-size:18px;font-weight:900;height:35px;width:80px;text-align:center;margin-bottom:2px"></p>

	  </div>
	  
		  <div class="three wide column">
		  </div>
	  </div>  
	</div> 
	
	
	 <div class="sixteen wide column" style="margin-top:-52px">
		 
	   <div class="ui grid" style="margin:-8px 0px 0px 0px">
		  
	 
	  
	  <div class="twelve wide column" style="margin-top:0px">
	
		  
	  <button class="ui primary button popup-trigger" id="opener" style="width:150px;margin-top:5px" >
  Pay Now
			 </button>
		 
		 

	  </div>
	  
		
	  </div>  
	</div> 
	
	   </div>
		  
	  </div>
       
  </div>
  
 
  <div class="column" style="margin-top:-30px">
  
  <div>
	  
	  <p style="font-size:60px;color:#777777;margin-bottom:0px!important">our</p>
			  <p style="font-size:60px;color:#f38720;margin-top:-30px!important">servives</p>
	  </div>
	
	  
 <img src="../img/futureinusalogo.png">
   
  </div>
	</div>
	</form>


