<style>
+
+
+ @media (max-width: 768px) {
+	 #systemview{
+		 
+		 display:none!important;
+		 
+	 }
+	 
+		#mobileview{
+			
+			display:block;	
+		}
+	}
+	 
+</style>
+<script>
+  $(document).ready(function(){
+  $('#wrapper').dialog({
+    autoOpen: false,
+    title: 'Future in USA'
+});
+$('#opener').click(function() {
+    $('#wrapper').dialog('open');
+    return false;
+});
+});
+  </script>
+
+
+<script>
+  $(document).ready(function(){
+  $('#wrapper').dialog({
+    autoOpen: false,
+    title: 'Future in USA'
+});
+$('#opener').click(function() {
+    $('#wrapper').dialog('open');
+    return false;
+});
+});
+  </script>
+
+
+
+
+
+
+<script>
+ $(document).ready(function(){
+	
+	
+	 
+
+	 
+	  $('input:checkbox').change(function(){ 
+		  
+var tot=0;
+var tot=0;
+$('input:checkbox:checked').each(function(){
+tot+=parseInt($(this).val());
+	
+});
+     tot+=parseInt($('#drop').val());
+		  
+  tot+=parseInt($('#dropmobile').val());
+		  
+$('#total').html(tot)
+$('#tax').html(tot*(15/100))
+$('#finaltotal').html(tot+tot*(15/100))
+
+
+$('#totalmobile').html(tot)
+$('#taxmobile').html(tot*(15/100))
+$('#finaltotalmobile').html(tot+tot*(15/100))
+
+
+});
+	 
+	
+	 
+
+     
+     $('#drop').change(function(){
+  var total = $('#drop').val();
+  $("#totalprice").val(total);
+		   
+      $('input:checkbox').trigger('change');
+		 
+     });
+	 
+	 $('#dropmobile').change(function(){
+  var total = $('#dropmobile').val();
+$('#totalpricemobile').html(total)
+		   
+      $('input:checkbox').trigger('change');
+		 
+     });
+	     
+    
+
+$(".mainmodule").change(function() {
+    if ( $(this).is(':checked') ) {
+		
+		
+		
+		$('.submodulecheck').attr('disabled','');
+		
+      /* $(".submodule").hide();
+		$(".submodulecheck").attr("checked", false);*/
+		
+    } else {
+        $(".submodule").show();
+		$('.submodulecheck').removeAttr('disabled','');
+		
+    }
+});
+	 
+	 
+	 $(".mainmodule1").change(function() {
+    if ( $(this).is(':checked') ) {
+		$('.submodulecheck1').attr('disabled','');
+		
+		
+       /* $(".submodule1").hide();
+		$(".submodule1check").attr("checked", false);*/
+		
+		
+    } else {
+        $(".submodule1").show();
+			$('.submodulecheck1').removeAttr('disabled','');
+    }
+});
+	
+	 $(".mainmodule2").change(function() {
+    if ( $(this).is(':checked') ) {
+		
+		$('.submodulecheck2').attr('disabled','');
+			$('.submodule2drop').attr('disabled','');
+       /* $(".submodule2").hide();
+		
+			$(".submodule2check").attr("checked", false);
+		$(".submodule2drop").prop("value", "0");*/
+		
+    } else {
+        $(".submodule2").show();
+			$('.submodulecheck2').removeAttr('disabled','');
+		$('.submodule2drop').removeAttr('disabled','');
+    }
+}); 
+
+
+	  });
+
+</script>
+
+
+
+
+
+
+
+ 
+<form class="ui form" style="margin:20px 0px 20px 0px">
+	
+
+	<div class="ui grid " id="mobileview">
+
+  <div class="sixteen wide column" style="height:200px;margin-top:25px">
+ 
+  <div style="width:100%;height:200px;">
+	  
+	 
+			<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#a01d49;text-align:center">IELTS / TOEFL / PTE</p>
+	  
+	  
+	  <div class="ui grid " style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox" >
+			
+			
+        <input type="checkbox" value="5000" class="mainmodule"id="mobcheckbox" >
+			
+           <label style="font-size:14px;color:#a01d49;font-weight:900;">IELTS/TOEFL/PTE Training
+			   
+			</label>
+			
+		  </div>
+		  
+		  
+		  
+		  </div>
+		  
+		  
+		  <div class="four wide column">
+		  
+			  <p style="font-weight:900">5000/-</p>
+
+		  
+		  </div>
+	  
+	  </div>
+	  
+	  
+	  <div class="ui grid submodule" style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox">
+			
+			
+        <input type="checkbox" value="1500" class="submodulecheck" id="mobcheckbox">
+			
+           <label style="font-size:14px;color:#a01d49;font-weight:900;">Module Based Training/<br>
+			   Crash Course Training
+			   
+			</label>
+			
+		  </div>
+		  
+		  </div>
+		  
+		   <div class="four wide column">
+		  
+			  <p style="font-weight:900">1500/-</p>
+			  
+			  
+		  </div>
+	  
+	  </div>
+	 
+	  
+	    </div> 
+	  
+	
+
+	</div>
+		
+		
+				
+  <div class="sixteen wide column " style="height:200px;margin-top:25px">
+ 
+  <div style="width:100%;height:280px;">
+	  
+	 
+			<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#0077b5;text-align:center">VISA</p>
+	  
+	  
+	  <div class="ui grid " style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox">
+			
+			
+        <input type="checkbox" value="2000" class="mainmodule1" id="mobcheckbox">
+			
+           <label style="font-size:14px;color:#0077b5;font-weight:900;">VISA Guidance
+			   
+			</label>
+			
+		  </div>
+		  
+		  
+		  
+		  </div>
+		  
+		  
+		  <div class="four wide column">
+		  
+			  <p style="font-weight:900">2000/-</p>
+			
+		  
+		  </div>
+	  
+	  </div>
+	  
+	 
+	  
+	  <div class="ui grid submodule1 " style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox">
+			
+			
+        <input type="checkbox" value="1000" class="submodulecheck1" id="mobcheckbox">
+			
+           <label style="font-size:14px;color:#0077b5;font-weight:900;">Only for Slot
+			   
+			</label>
+			
+		  </div>
+		  
+		  
+		  
+		  </div>
+		  
+		  
+		  <div class="four wide column">
+		  
+			  <p style="font-weight:900">1000/-</p>
+			  
+		 
+		  
+		  </div>
+	  
+	  </div>
+	  
+	  
+	    </div> 
+	  
+	  
+	
+	</div>
+	
+		
+		<div class="sixteen wide column " style="height:550px;margin-top:25px">
+ 
+  <div style="width:100%;height:280px;">
+	  
+	 
+			<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#102357;text-align:center">I-20 Processing</p>
+	  
+	  
+	  <div class="ui grid " style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox">
+			
+			
+        <input type="checkbox" value="6000" class="mainmodule2" id="mobcheckbox">
+			
+           <label style="font-size:14px;color:#102357;font-weight:900;">University Admission<br>End to end Service
+			   
+			</label>
+			
+		  </div>
+		  
+		  
+		  
+		  </div>
+		  
+		  
+		  <div class="four wide column">
+		  
+			  <p style="font-weight:900">6000/-</p>
+			  
+		  
+		
+		  
+		  </div>
+	  
+	  </div>
+	  
+	  
+	  
+	    
+	  
+	  <div class="ui grid submodule2" style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox">
+			
+			
+        <input type="checkbox" value="1000" class="submodulecheck2" id="mobcheckbox">
+			
+           <label style="font-size:14px;color:#102357;font-weight:900;">Shortlisting Universities
+			   
+			</label>
+			
+		  </div>
+		  
+		  
+		  
+		  </div>
+		  
+		  
+		  <div class="four wide column">
+		  
+			  <p style="font-weight:900">1000/-</p>
+			  
+		 
+		  
+		  </div>
+	  
+	  </div>
+	  
+	  
+	  <div class="ui grid submodule2" style="margin:20px 0px 20px 0px">
+		  
+		  <div class="four wide column">
+		  
+		  <div>	
+<select class="ui dropdown submodule2drop" id="dropmobile" name="drop" style="width:50px;margin-top:5px;height:40px">
+  <option value="0">0</option>
+  <option value="1500">1</option>
+  <option value="3000">2</option>
+	<option value="4500">3</option>
+  <option value="6000">4</option>
+	
+</select>
+				</div>
+		  
+		  
+		  </div>
+		  
+		    <div class="eight wide column" style="margin-left:-15px">
+				
+				
+           <label style="font-size:14px;color:#102357;font-weight:900;">Processing<br>per University
+			   
+			</label>	
+				
+		  </div>
+		  
+		  
+		  <div class="four wide column" style="margin-left:-4px">
+		  
+			  <p style="font-weight:900" id="totalpricemobile">1500/-</p>
+			  
+		 
+		  
+		  </div>
+		  
+		  
+		  
+	  </div>
+	  
+	 
+	   <div class="ui grid submodule2" style="margin:20px 0px 20px 0px">
+		  
+	  <div class="eleven wide column">
+
+		
+		
+		 <div class="ui checkbox">
+			
+			
+        <input type="checkbox" value="1000" class="submodulecheck2" id="mobcheckbox">
+			
+           <label style="font-size:14px;color:#102357;font-weight:900;">SOP & LOR
+			   
+			</label>
+			
+		  </div>
+		  
+		  </div>
+		  
+		  
+		  <div class="four wide column">
+		  
+			  <p style="font-weight:900">1000/-</p>
+			  
+		 
+		  
+		  </div>
+	  
+	  </div>
+	  
+	  <div class="ui grid container">
+	  
+	  <table style="width:100%">
+		  
+		  <tr>
+		  
+		  <td  style="width:20%">
+			 
+			  </td>
+			 
+		  <td>
+			  
+			 <p style="font-size:14px;color:#102357;font-weight:900;">Total</p>
+			 
+			  </td>
+			  	  
+		  <td>  
+				<p id="totalmobile" style="border:2px solid #102357;height:25px;padding-top:0px;float:left;font-size:18px;font-weight:900;width:72px;text-align:center;;">
+					
+					 
+					 </p>
+	
+			  </td>
+				  
+		  </tr>
+	
+		  
+		  </table>
+		  
+		   <table style="width:100%;margin-top:5px">
+		  
+		  <tr>
+		  
+		  <td  style="width:1%">
+			 
+			  </td>
+			 
+		  <td>
+			  
+			 <p style="font-size:14px;color:#102357;font-weight:900;">Service Tax 15%</p>
+			 
+			  </td>
+			  	  
+		  <td >  
+				<p id="taxmobile" style="border:2px solid #102357;height:25px;padding-top:0px;font-size:18px;font-weight:900;width:72px;text-align:center;margin-right:55px">
+					
+					 
+					 </p>
+	
+			  </td>
+				  
+		  </tr>
+
+		  </table>
+	   
+	  <table style="width:100%;margin-top:5px">
+		  
+		  <tr>
+		  
+		  <td  style="width:20%">
+			 
+			  </td>
+			 
+		  <td>
+			  
+			 <p style="font-size:14px;color:#102357;font-weight:900;">Total</p>
+			 
+			  </td>
+			  	  
+		  <td>  
+				<p id="finaltotalmobile" style="border:2px solid #102357;height:25px;padding-top:0px;float:left;font-size:18px;font-weight:900;width:72px;text-align:center;;">
+					
+					 
+					 </p>
+	
+			  </td>
+				  
+		  </tr>
+	
+		  
+		  </table>
+		  
+		  
+		  <table style="width:100%;margin-top:10px">
+		  
+		  <tr>
+		  
+		  <td  style="text-align:center">
+			 <button class="ui primary button" id="opener" style="margin-left:25px">
+  Pay Now
+</button>
+			  <div id="wrapper">
+<p style="font-size:16px;color:#102357">
+	
+	Payment Integration is in process........<br>
+	
+	Contact  7306220220 for details. 
+	
+	</p>
+						 </div>
+			  
+			  </td>
+		
+				  
+		  </tr>
+	
+		  
+		  </table>
+		  
+		  
+
+		   
+	  </div>
+	
+	  </div> 
+	  
+	  
+	  
+	</div>
+		
+		
+	
+		
+</div>
+	
+	
+	
+<div class="ui grid container" id="systemview">
+	
+	
+  <div class="six wide column " id="formdiv1" style="height:500px;margin-top:25px">
+ 
+  <div style="width:100%;margin-right:50px;border:2px solid #a01d49;height:220px;">
+	  
+	 
+			<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#a01d49;text-align:center">IELTS / TOEFL / PTE</p>
+	  
+	  
+	  <div class="ui grid container" style="margin:20px 0px 20px 0px">
+		  
+	  <div class="ten wide column">
+
+		
+		
+		 <div class="ui checkbox" style="margin-left:10px;">
+			
+			
+        <input type="checkbox" value="5000" class="mainmodule">
+			
+           <label style="font-size:14px;color:#a01d49;font-weight:900;">IELTS/TOEFL/PTE Training
+			   
+			</label>
+			
+		  </div>
+		  
+		  
+		  
+		  </div>
+		  
+		  
+		  <div class="six wide column">
+		  
+		  
+		  <div class="ui input focus" style="margin-left:50px;"id="textdiv">
+  <input type="text" value="5000/-" readonly="true" style="width:70px;height:30px">
+</div>
+		  
+		  </div>
+	  
+	  </div>
+	  
+	  <div class="ui grid container submodule">
+		  
+		  <div class="twelve wide column">
+		  <div class="ui checkbox" style="margin-left:10px">
+		
+        <input type="checkbox"  value="1500" class="submodulecheck">
+		
+           <label style="font-size:14px;color:#a01d49;font-weight:900;">Module Based Training/<br>
+			   Crash Course Training
+			</label>
+			
+                </div>
+		  
+		  </div>
+		  
+		  
+		  <div class="two wide column">
+		  
+		  <div class="ui input focus">
+  <input type="text" value="1500/-" readonly="true" style="width:70px;height:30px">
+</div>
+		  
+		  </div>
+		  
+	 
+	  </div>
+	  
+
+	  
+	  </div> 
+	  
+	  
+	 
+		
+	<div style="width:100%;border:2px solid #0077b5;height:200px;margin:20px 0px 10px 0px" >
+		
+			<p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#0077b5;text-align:center">VISA </p>
+			
+		<div class="ui grid container">
+		
+		<div class="twelve wide column">
+			
+			<div class="ui checkbox" style="margin-left:10px;">
+			
+			
+        <input type="checkbox" value="2000" class="mainmodule1">
+			
+           <label style="font-size:14px;color:#0077b5;font-weight:900;">Visa Guidance
+			   
+			</label>
+			
+                </div>
+			
+			
+			</div>
+			
+			<div class="four wide column">
+			
+			<div class="ui input focus">
+  <input type="text" value="2000/-" readonly="true" style="width:70px;height:30px">
+</div>
+			
+			
+			</div>
+			
+		
+		
+		</div>
+		
+		
+	
+		
+		<div class="ui grid container submodule1" style="margin-top:45px">
+		
+		
+		
+		<div class="twelve wide column">
+			<div class="ui checkbox" style="margin-left:10px;">
+			
+			
+        <input type="checkbox" value="1000" class="submodulecheck1">
+			
+           <label style="font-size:14px;color:#0077b5;font-weight:900;">Slot Booking
+			   
+			</label>
+			
+                </div>
+
+			
+			</div>
+			
+			
+			<div class="four wide colmn">
+			
+			<div class="ui input focus">
+  <input type="text" value="1000/-" readonly="true" style="width:70px;height:30px;margin-top:10px">
+</div>
+			
+			</div>
+		
+		
+		</div>
+		
+		
+	
+		
+			</div>
+	
+
+	</div>
+	
+	
+	 <div class="six wide column " id="formdiv1" style="height:500px;margin-top:25px">
+		 
+		 
+		 <div style="width:100%;margin-right:50px;border:2px solid #102357;height:440px">
+			 
+			 
+			 <p style="font-size:24px;color:white;font-weight:700;padding-top:2px;height:40;background-color:#102357;text-align:center">I-20 Processing</p>
+			 
+			 
+			 <div class="ui grid container" style="margin-bottom:-20px">
+				 
+				 <div class="twelve wide column">
+					 
+					 <div class="ui checkbox" style="margin-left:10px">
+			
+			
+        <input type="checkbox" value="6000" class="mainmodule2">
+			
+           <label style="font-size:14px;color:#102357;font-weight:900;">University Admission<br>
+			   End to End Process
+			   
+			   
+			</label>
+			
+                </div>
+				
+					 
+				 </div>
+				 
+				 
+				 <div class="four wide column">
+				 
+				 
+				 <div class="ui input focus">
+					 
+					 
+					 <input type="text" readonly="true" value="6000/-" style="width:70px;height:30px">
+							
+					 
+					 </div>
+				 
+				
+				 </div>
+				 
+		
+				 
+			 </div>
+			 
+			 
+			 
+			 
+			  <div class="ui grid container" style="margin-bottom:-20px">
+				 
+				 <div class="twelve wide column">
+					 
+					 <div class="ui checkbox" style="margin-left:10px">
+			
+			
+        <input type="checkbox" value="1000" class="submodulecheck2">
+			
+           <label style="font-size:14px;color:#102357;font-weight:900;">Shortlisting Universities
+			   
+			</label>
+			
+                </div>
+				
+					 
+				 </div>
+				 
+				 
+				 <div class="four wide column">
+				 
+				 
+				 <div class="ui input focus">
+					 
+					 
+					 <input type="text" readonly="true" value="1000/-" style="width:70px;height:30px">
+							
+					 
+					 </div>
+				 
+				
+				 </div>
+				 
+		
+				 
+			 </div>
+			 
+			 
+			 
+			 
+			  <div class="ui grid container" style="margin-bottom:-20px">
+				 
+				 <div class="four wide column">
+				
+					<div>	
+<select class="ui dropdown submodule2drop" id="drop" name="drop" style="width:50px;margin-left:10px;margin-top:5px;height:40px">
+  <option value="0">0</option>
+  <option value="1500">1</option>
+  <option value="3000">2</option>
+	<option value="4500">3</option>
+  <option value="6000">4</option>
+	
+</select>
+		
+				</div>
+					
+				</div>
+				  
+				  
+				  <div class="eight wide column">
+				  
+				  <label style="font-size:14px;color:#102357;font-weight:900;">Processing Charge <br>per University
+			   
+			</label>
+				  
+				  </div>
+				 
+				 <div class="four wide column">
+				 
+				 
+				 <div class="ui input focus">
+					 
+					 
+					 <input type="text" readonly="true" id="totalprice" value="1500/-" style="width:70px;height:30px">
+							
+					 
+					 </div>
+				 
+				
+				 </div>
+				 
+		
+				 
+			 </div>
+			 
+			 	
+			
+			<div class="ui grid container submodule2" style="margin-bottom:-20px">
+				
+				
+				<div class="twelve wide column">
+					
+					<div class="ui checkbox" style="margin-left:10px">
+			
+			
+        <input type="checkbox"  value="1500" class="submodulecheck2">
+			
+           <label style="font-size:14px;color:#102357;font-weight:900;">SOP & LOR 
+			   
+			   
+			</label>
+			
+                </div>
+					
+				</div>
+				
+				
+				
+				<div class="four wide column">
+				
+								
+			<div class="ui input focus" >
+  <input type="text"  value="1500/-" readonly="true" style="width:70px;height:30px;margin:10px 0px 0px 0px">
+</div>
+				
+				
+				</div>
+				
+				
+			 </div>
+			 
+			 <div class="ui grid container" style="margin-top:30px">
+			 
+			 <table style="width:100%">
+				 
+				 <tr>
+					 <td style="width:70%"></td>
+				 
+				 <td><p style="font-size:14px;color:#102357;font-weight:900">Total</p></td>
+					 
+					 <td> 
+					 
+						 <p id="total" style="border:2px solid #102357;height:25px;padding-top:0px;font-size:18px;font-weight:900;width:72px;text-align:center;"></p>
+					 		 
+					 </td>
+				 </tr>
+				 
+				 </table>
+				 
+				 
+				  
+			 <table style="width:100%;margin-top:2%">
+				 
+				 <tr>
+					 <td style="width:50%"></td>
+				 
+				 <td><p style="font-size:14px;color:#102357;font-weight:900">Service Tax 15%</p></td>
+					 
+					 <td> 
+					 
+						 <p id="tax" style="border:2px solid #102357;height:25px;padding-top:0px;font-size:18px;font-weight:900;width:72px;text-align:center;"></p>
+					 		 
+					 </td>
+				 </tr>
+				 
+				 </table>
+				 
+				 
+<table style="width:100%;margin-top:5px">
+				 
+				 <tr>
+					 <td style="width:70%"></td>
+				 
+				 <td><p style="font-size:14px;color:#102357;font-weight:900">Total</p></td>
+					 
+					 <td> 
+					 
+						 <p id="finaltotal" style="border:2px solid #102357;height:25px;padding-top:0px;font-size:18px;font-weight:900;width:72px;text-align:center;"></p>
+					 		 
+					 </td>
+				 </tr>
+				 
+				 </table>				 
+				 
+				 <table style="width:100%;margin-top:2%">
+				 
+				 
+				 
+				 <tr>
+					 <td style="width:75%"></td>
+					 
+					 <td>
+					  
+					<button class="ui primary button" id="opener" style="margin-left:23px">
+  Pay
+</button>
+					 
+						 			  
+
+<div id="wrapper">
+<p style="font-size:16px;color:#102357">
+	
+	Payment Integration is in process........<br>
+	
+	Contact  7306220220 for details. 
+	
+	</p>
+						 </div>
+						
+					 
+					 </td>
+					 </tr>
+				 
+				 </table>
+			 
+			 </div>
+			 
+			 
+		
+			 
+			 
+
+			 
+			 
+				 
+				 
+		 </div>
+		 
+			 
+	</div>
+	
+	
+ <div class="four wide column" id="formdiv3">
+	<div>
+	  
+	  <p style="font-size:60px;color:#777777;margin-bottom:0px!important">our</p>
+			  <p style="font-size:60px;color:#f38720;margin-top:-30px!important">servives</p>
+	  </div>
+	
+	  
+	   <div>
+	 
+	<img src="../img/logo_png_b.png">
+		   
+	  </div>
+	  
+	  
+	</div>
+	
+	
+
+	
+
+
+	
+	</div>
+
+	
+</form>
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+
+