<div class="ui stackable grid">
        <div class="two wide column"></div>
        <div class="twelve wide column segment">
            <div class="ui piled segment">
                <h2 class="ui header" style="text-align:center;">Privacy Policy </h2>
            </div>
            <div class="ui raised segment" style="text-align:justify;">
                <h3>Introduction</h3>
                <p>Welcome to www.profileevaluator.com (“Website”) owned and operated by CV Corporate Services Private Limited (CVCORP), a Hyderabad based company. We, at 'Profile Evaluator’, are committed to respecting your online privacy and recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us.</p>
                <h3>Personal Information & Applicability</h3>
                <p>"Personal Information" means any information that may be used to identify an individual, including, but not limited to, a first and last name, an email address or other contact information. In general, you can visit Profile Evaluator’s Web pages without telling us who you are or revealing any Personal Information about yourself.</p>
                <h3>Tracking Technologies</h3>
                <p>Some of our Web pages utilize "cookies" and other tracking technologies. A "cookie" is a small text file that may be used, for example, to collect information about Web site activity. Some cookies and other technologies may serve to recall Personal Information previously indicated by a Web user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.</p>
                <p>You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the Web site and some sections of the site would not work.</p>
                <p>Tracking technologies may record information such as Internet domain and host names; Internet protocol (IP) addresses; browser software and operating system types; clickstream patterns; and dates and times that our site is accessed. Our utilization of cookies and other tracking technologies permits us to improve our Web site and your Web experience. We may also analyze information that for trends and statistics.</p>
                <p>Third parties provide certain services available on Profile Evaluator or Profile Evaluator App on Profile Evaluator's behalf. 'Profile Evaluator' may provide information, including Personal Information, that 'Profile Evaluator' collects on the Web to third-party service providers to help us deliver programs, products, information, and services. Service providers are also an important means by which 'Profile Evaluator’ maintains its Web site, Apps and mailing lists. 'CV Corporate Services Private Limited' will take reasonable steps to ensure that these third-party service providers are obligated to protect Personal Information on CV Corporate Services Private Limited's behalf.</p>
                <h3>Purpose and Usage</h3>
                <p>'CV Corporate Services Private Limited' does not intend to transfer Personal Information without your consent to third parties who are not bound to act on CV Corporate Services Pvt. Ltd.'s behalf unless such transfer is legally required. Similarly, it is against CV Corporate Services Pvt. Ltd.'s policy to sell Personal Information collected online without consent.</p>
                <p>By using this Web site, you consent to the terms of our Online Privacy Policy and to CV Corporate Services Private Limited's processing of Personal Information for the purposes given above as well as those explained where 'CV Corporate Services Private Limited' collects Personal Information on the Web.</p>
                <p>'CV Corporate Services Private Limited' does not rent, sell, or share personal information about you with other people (save with your consent) or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances:</p>
                <ul>
                    <li>We provide the information to trusted partners who work on behalf of or with 'CV Corporate Services Private Limited' under confidentiality agreements. These companies may use your personal information to help 'CV Corporate Services Private Limited' communicate with you about offers from 'CV Corporate Services Private Limited' and our marketing partners. However, these companies do not have any independent right to share this information.</li>
                    <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims;</li>
                    <li>We believe it is important to share information in order to investigate, prevent, or take action against illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of CV Corporate Services Pvt. Ltd.'s terms of use, or as otherwise required by law.</li>
                    <li>We transfer information about you if 'CV Corporate Services Private Limited' is acquired by or merged with another company. In this event, 'CV Corporate Services Private Limited' will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
                </ul>
                <h3>Partners</h3>
                <p>'CV Corporate Services Private Limited' displays targeted advertisements based on personal information. Advertisers (including ad serving companies) may assume that people who interact with, view, or click on targeted ads meet the targeting criteria.</p>
                <p>'CV Corporate Services Private Limited' does not provide any personal information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will make the assumption that you meet the targeting criteria used to display the ad.</p>
                <p>'CV Corporate Services Private Limited' advertisers include financial service providers (such as education loan providers, insurance agents and Forex) and non-financial companies (such as stores, travel, Job Training and IT Companies).</p>
                <p>'CV Corporate Services Private Limited' works with vendors, partners, advertisers, and other service providers in various industries and categories of business. For further information regarding providers of products or services that you've requested kindly read our detailed reference links.</p>
                <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. We restrict access to your personally identifying information to employees who need to know that information in order to operate, develop or improve our services.</p>
                <h3>Confidentiality and Security</h3>
                <p>We limit access to personal information regarding you to employees who we believe reasonably need to come into contact with that information to render products or services to you or in order to do their jobs.</p>
                <p>We have physical, electronic, and procedural safeguards that comply with the laws prevalent in India to safeguard personal information about you. We seek to ensure compliance with the requirements of the Information Technology Act, 2000 and Rules made there under to ensure the protection and preservation of your privacy.</p>
                <h3>Modifications to this Privacy Policy</h3>
                <p>'CV Corporate Services Private Limited' reserves the right to update, change or modify this policy at any time. The policy shall come to effect from the date of such update, change or modification.</p>
                <h3>Disclaimer</h3>
                <p>CV Corporate Services Private Limited does not store or keep credit card data in a location that is accessible via the Internet.  CV Corporate Services Private Limited uses the maximum care as is possible to ensure that all or any data / information in respect of electronic transfer of money does not fall in the wrong hands.</p>
                <p>CV Corporate Services Private Limited shall not be responsible for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any information concerning the user's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used whether or not in pursuance of a legal process or otherwise.</p>            </div>
        </div>
        <div class="two wide column"></div>
</div>
