<style>
    .column {
        font-size: 12px !important;
    }
    
    .ui.form {
        font-size: 12px !important;
    }
</style>
<main class="ui main search-result mainMarginInMob">
    <div class="ui stackable segment uni-filter" style="position:relative;">
        <div class="ui inverted dimmer" ng-class="active_loader && 'active'">
            <div class="ui text loader">Loading</div>
        </div> 
                    <!-- Search-results-start-->
    <!-- <div class="ui stackable grid result-header mobilesearchpage" ng-init="orderByKey='SponsoredBy'; orderByAsc=false">
            <div class="six wide column">
                <div class="ui stackable grid">
                    <div class="three wide column" ng-click="orderByKey='favouriteIndicator'; orderByAsc=!orderByAsc">
                        <b>Fav</b>
                    </div>
                    <div class="four wide column" style="font-size: 16px; padding-left: 0px !important;">
                        <b>{{universities.length}}/377</b>
                    </div>
                    <div class="eight wide column" ng-click="orderByKey='UniversityName'; orderByAsc=!orderByAsc">
                        <b>University</b><i class="sort icon" ng-click="orderByKey='UniversityName'; orderByAsc=!orderByAsc" ng-class="orderByKey==='UniversityName'&&'active'"></i>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui stackable grid">
                    <div class="five wide column" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <b>GRE</b><i class="sort icon" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GRE'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenGRE === 'Yes' ? searchParams.greScore : searchParams.greExpectedScore}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" style="text-align:center !important;">
                        <b>{{searchParams.exam}}</b>
                        <i class="sort icon" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" ng-class="orderByKey===searchParams.exam&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenEnglishTest === 'Yes' ? searchParams.examScore : searchParams.expectedExamScore}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <b>GPA</b><i class="sort icon" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GPA'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.gpa}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui stackable grid">
                    <div class="six wide column" ng-click="orderByKey='FullDeadLine'; orderByAsc=!orderByAsc">
                        <b>Dead Line</b><i class="sort icon" ng-click="orderByKey='FullDeadLine'; orderByAsc=!orderByAsc" ng-class="orderByKey==='FullDeadLine'&&'active'"></i>
                        <br>
                        <span style="text-align:center;"><strong>{{searchParams.deadLine}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc" style="padding-left: 25px;">
                        <b>Fee</b><i class="sort icon" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc" ng-class="orderByKey==='TutionFee'&&'active'"></i>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='Rating'; orderByAsc=!orderByAsc" style="padding-right: 0px;padding-left: 28px;">
                        <b>Rating</b><i class="sort icon" ng-click="orderByKey='Rating'; orderByAsc=!orderByAsc" ng-class="orderByKey==='Rating'&&'active'"></i>
                    </div>
                </div>
            </div> -->
            <!-- <div class="one wide column mobilesearchpage">
                <!-- <a href="/prodigyFinance/prodigy.html" target="_blank" style="position: absolute;right: 62px;top: -5px;">
                    <img style="height: 90px;text-align: center;" src="/img/prodigylogo_PE1.jpg">
                </a> -->
            <!--</div> -->
        <!-- </div>  -->
        <!-- <div class="ui divider dividerClass" style="width:100%;"></div> -->
        <div class="ui grid stackable borderClass" style="background-color:#ecf0f1;" style="width:100%;">
            <div class="four wide column">
                <div class="ui grid scoresHideInMob">
                    <div class="sixteen wide column">
                            <h5>Your Scores</h5>        
                    </div>
                </div>
                <div class="ui stackable grid segment scoresHideInMob">
                    <div class="five wide column" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <p>
                            <strong>GRE</strong><i class="sort icon" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GRE'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenGRE === 'Yes' ? searchParams.greScore : searchParams.greExpectedScore}}</strong></span>
                        </p>
                    </div>
                    <div class="five wide column" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" style="text-align:center !important;">
                        <strong>{{searchParams.exam}}</strong>
                        <i class="sort icon" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" ng-class="orderByKey===searchParams.exam&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenEnglishTest === 'Yes' ? searchParams.examScore : searchParams.expectedExamScore}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <strong>GPA</strong><i class="sort icon" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GPA'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.gpa}}</strong></span>
                    </div>
                </div>
                <!-- filters-start-->
                <div class="ui grid sticky segment" style="margin:0%;">
                    <div class="sixteen wide column">
                        <!-- <div id="locationMob">
                            <div class="ui grid">
                                <div class="ten wide column " ui-sref="PES({searchParams: searchParams})">
                                    <img class="ui avatar image modifyClass" src="../img/circlearrow.png">
                                    <span><strong>Modify Search</strong></span>
                                </div>
                                <div class="six wide column">
                                    <button class="mini ui basic button" onclick="hideShowFun()" style="float:right ;"><strong>Search</strong></button>
                                </div>
                            </div>
                        </div> -->
                        <form class="ui stackable horizontal form">
                            <div class="fields">
                                <div class="six wide field " ui-sref="PES({searchParams: searchParams})">
                                    <img class="ui avatar image modifyClass" src="../img/circlearrow.png">
                                    <span><strong>Modify Search</strong></span>
                                </div>
                                <!-- <button class="mini ui basic button showBtnInMob" style=""><strong>Search</strong></button> -->
                                <div class="ten wide field">
                                    <label>Filter by State</label>
                                    <select placeholder="Filter by State" class="ui fluid search dropdown" multiple="true" ng-model="searchfilter.State" ng-options="state for state in filters.States" ng-change="filterChange(universities, searchfilter, active_loader)">
                                        <option value="">Filter by State</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Filter by Uniersity</label>
                                    <select placeholder="Filter by Uniersity" class="ui fluid search dropdown" multiple="true" ng-model="searchfilter.UniversityName" ng-options="univ for univ in filters.Universities" ng-change="filterChange(universities, searchfilter, active_loader)">
                                        <option value="">Filter by Uniersity</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Fee/Year {{searchfilter.FeeRange[0]|currency}} - {{searchfilter.FeeRange[1]|currency}}</label>
                                    <div class="ui slider range">
                                        <div range-slider ng-model="searchfilter.FeeRange" on-change="changeFee(values)" style="margin-top: 20px;"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            <!-- filters-end-->
            <br>
            <a href="https://www.credila.info/psites/profile-evaluator/" class="addHideInMob" target="_blank" style="font-size:11px;text-align:center;">
                <img class="" style="width:60%;margin:auto;display:block;" src="/img/hdfc_credila.jpg">
                <p class="">OUR EDUCATIONAL LOAN PARTNER</p>
            </a> 
            </div>
            <div class="twelve wide column" id="topMarginInMob">
                <div class="ui grid stackable codeForWeb" style="height:600px;overflow: scroll;">
                    <div class="sixteen wide column segment"  style="background-color:#fff;margin:1%;" ng-repeat-start="university in universities|orderBy:orderByKey:orderByAsc" ng-show="university.show">               
                    <div class="ui grid">
                    <div class="two wide column uniLogoInMob"> 
                        <a class="ui small image">
                            <img ng-src="{{university.Logo}}" style="width:70%;height:70%;">
                        </a>
                    </div>
                    <div class="four wide column">
                        <a style="border-bottom:1px dashed; font-size:14px" target="_blank" ui-sref="university({id : university.objectId})"><strong>{{university.UniversityName}}</strong></a>
                        <div><small>{{university.Place}}, {{university.State}}</small>
                        </div>
                        <p ng-if="university.SponsoredBy">
                            Supported By:
                            <a target="_blank" ng-href="{{university.SponsorLink}}">
                                <img ng-if="university.SponsorLogo" style="height:25px;" ng-src="{{university.SponsorLogo}}">
                                <span ng-if="!university.SponsorLogo">{{university.SponsoredBy}}</span>
                            </a>
                        </p>
                    </div>
                    <div class="two wide column" style="border:0px solid red;">
                        <div class="ui stackable grid">
                            <div class="sixteen wide column textAlign">
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;color:{{university.GRE < searchParams.greScore ? '#1abc9c' : university.GRE == searchParams.greScore ? '#c30016' : 'orange'}};"><strong>GRE :</strong>
                                        <span><strong>{{university.GRE}}</strong></span>
                                        <!-- <img class="ui avatar image" ng-src="{{university.GRE < searchParams.greScore ? '/img/DiplomaGreen.png' : university.GRE == searchParams.greScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.greScore-university.GRE"
                                            style="cursor:help;"> -->
                                    </p> 
                                </div>  
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;color:{{university[searchParams.exam] < searchParams.examScore ? '#1abc9c' : university[searchParams.exam] == searchParams.examScore ? '#c30016' : 'orange'}};"><strong>{{searchParams.exam}} :</strong>
                                        <span><strong>{{university[searchParams.exam]}}</strong></span>
                                        <!-- <img class="ui avatar image" ng-src="{{university[searchParams.exam] < searchParams.examScore ? '/img/DiplomaGreen.png' : university[searchParams.exam] == searchParams.examScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.examScore-university[searchParams.exam]"
                                            style="cursor:help;"> -->
                                    </p>
                                </div>
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;color:{{university.GPA < searchParams.gpa ? '#1abc9c' : university.GPA == searchParams.gpa ? '#c30016' : 'orange'}};"><strong>GPA :</strong>
                                        <span><strong>{{university.GPA}}</strong></span>
                                        <!-- <img class="ui avatar image" ng-src="{{university.GPA < searchParams.gpa ? '/img/DiplomaGreen.png' : university.GPA == searchParams.gpa ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.gpa-university.GPA" style="cursor:help;"> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui stackable grid">
                            <div class="eight wide column">
                                <div class="content">
                                <p style="text-align:left;font-weight:600;">Dead line :   
                                    <span><b>{{university.FullDeadLine|date:'dd/MMM/yyyy'}}</b></span>
                                </p>
                                </div>
                                <div class="content">
                                    <div class="header">
                                        <p style="text-align:left;font-weight:600;">Fee :  
                                        <span><b>{{university.TutionFee|currency}}</b></span>
                                        </p>
                                    </div>
                                    <small>Per two Years </small>
                                </div>
                            </div>  
                            <div class="eight wide column">
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;">Rating : 
                                    <span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                                    </p>
                                </div>
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;">Rank : 
                                        <span><b>{{university.Ranking || 'N.A'}}</b></span>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide column">
                        <p><strong>Compare</strong></p>
                        <input type="checkbox" style="width:15x;height:15px;" ng-model="university.favouriteIndicator" ng-true-value="true" ng-false-value="false" ng-change="addToWish(university)">
                        <!-- <p id="msg"></p> -->
                    </div>
                </div>
                <!-- <div class="ui grid">
                    <div class="five wide column">
                        <button style="background-color: #1f9fd2;border:1px solid #1f9fd2;width:100%;height:35px;"><a style="font-size:12px;color:#fff;" target="_blank" ui-sref="university({id : university.objectId})"><strong>UNIVERSITY PROFILE</strong></a></button>
                    </div>
                    <div class="five wide column">
                        <button style="background-color: #f1c40f;border:1px solid #f1c40f;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>CHECK YOUR CHANCES</strong></a></button>
                    </div>
                    <div class="five wide column">
                        <button style="background-color: #d8d8d8;border:1px solid #d8d8d8;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>COMPARE UNIVERSITY</strong></a></button>
                    </div>
                </div> -->
                </div>
                <hr ng-repeat-end ng-hide="university.show" />
                <!--<div class="ui divider" ng-repeat-end ng-show="university.show"></div>-->
                <div class="ui center aligned grid stackable cont-imp" ng-if="universities.length === 0">
                    <div class="sixteen wide column">
                        <div class="ui warning message">
                            <h3> No Results found for the given search parameters. Please try modifying your search parameters.</h3>
                        </div>
                    </div>
                </div>
                </div>
                

                <!--code for mobile start-->
                <div class="ui grid stackable codeForMob" style="height:600px;overflow: scroll;">
                        <div class="sixteen wide column segment"  style="background-color:#fff;margin:0%;" ng-repeat-start="university in universities|orderBy:orderByKey:orderByAsc" ng-show="university.show">               
                        <div class="ui grid">
                            <div class="four wide column"> 
                                <a class="ui small image">
                                    <img ng-src="{{university.Logo}}" style="width:80%;height:80%;margin-top:-1%;">
                                </a>
                            </div>
                            <div class="twelve wide column">
                                <a style="border-bottom:1px dashed; font-size:14px" target="_blank" ui-sref="university({id : university.objectId})"><strong>{{university.UniversityName}}</strong></a>
                                <div><small>{{university.Place}}, {{university.State}}</small>
                                </div>
                                <p ng-if="university.SponsoredBy">
                                    Supported By:
                                    <a target="_blank" ng-href="{{university.SponsorLink}}">
                                        <img ng-if="university.SponsorLogo" style="height:25px;" ng-src="{{university.SponsorLogo}}">
                                        <span ng-if="!university.SponsorLogo">{{university.SponsoredBy}}</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="ui grid" style="margin-top:-1%;">
                        <div class="four wide column" style="border:0px solid red;">
                            <div class="ui stackable grid">
                                <div class="sixteen wide column textAlign">
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;color:{{university.GRE < searchParams.greScore ? '#1abc9c' : university.GRE == searchParams.greScore ? '#c30016' : 'orange'}};">GRE :
                                            <span><strong>{{university.GRE}}</strong></span>
                                            <!-- <img class="ui avatar image" ng-src="{{university.GRE < searchParams.greScore ? '/img/DiplomaGreen.png' : university.GRE == searchParams.greScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.greScore-university.GRE"
                                                style="cursor:help;"> -->
                                        </p> 
                                    </div>  
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;color:{{university[searchParams.exam] < searchParams.examScore ? '#1abc9c' : university[searchParams.exam] == searchParams.examScore ? '#c30016' : 'orange'}};">{{searchParams.exam}} :
                                            <span><strong>{{university[searchParams.exam]}}</strong></span>
                                            <!-- <img class="ui avatar image" ng-src="{{university[searchParams.exam] < searchParams.examScore ? '/img/DiplomaGreen.png' : university[searchParams.exam] == searchParams.examScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.examScore-university[searchParams.exam]"
                                                style="cursor:help;"> -->
                                        </p>
                                    </div>
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;color:{{university.GPA < searchParams.gpa ? '#1abc9c' : university.GPA == searchParams.gpa ? '#c30016' : 'orange'}};">GPA :
                                            <span><strong>{{university.GPA}}</strong></span>
                                            <!-- <img class="ui avatar image" ng-src="{{university.GPA < searchParams.gpa ? '/img/DiplomaGreen.png' : university.GPA == searchParams.gpa ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.gpa-university.GPA" style="cursor:help;"> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nine wide column">
                            <div class="ui grid">
                                <div class="eight wide column">
                                    <div class="content">
                                    <p style="text-align:left;font-weight:600;">Dead line :   
                                        <span><b>{{university.FullDeadLine|date:'dd/MMM/yyyy'}}</b></span>
                                    </p>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <p style="text-align:left;font-weight:600;">Fee :  
                                            <span><b>{{university.TutionFee|currency}}</b></span>
                                            </p>
                                        </div>
                                        <small>Per two Years </small>
                                    </div>
                                </div>  
                                <div class="eight wide column">
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;">Rating : 
                                        <span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                                        </p>
                                    </div>
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;">Rank : 
                                            <span><b>{{university.Ranking || 'N.A'}}</b></span>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two wide column">
                            <!-- <p class="mobileShow">Favourite</p> -->
                            <p  style="padding-left:-5px;"><strong>Compare</strong></p>
                            <input type="checkbox" style="width:15px;height:15px;" ng-model="university.favouriteIndicator" ng-true-value="true" ng-false-value="false" ng-change="addToWish(university)">
                        </div>
                    </div>
                    <!-- <div class="ui grid">
                        <div class="five wide column">
                            <button style="background-color: #1f9fd2;border:1px solid #1f9fd2;width:100%;height:35px;"><a style="font-size:12px;color:#fff;" target="_blank" ui-sref="university({id : university.objectId})"><strong>UNIVERSITY PROFILE</strong></a></button>
                        </div>
                        <div class="five wide column">
                            <button style="background-color: #f1c40f;border:1px solid #f1c40f;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>CHECK YOUR CHANCES</strong></a></button>
                        </div>
                        <div class="five wide column">
                            <button style="background-color: #d8d8d8;border:1px solid #d8d8d8;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>COMPARE UNIVERSITY</strong></a></button>
                        </div>
                    </div> -->
                    <div class="ui divider dividerClass" style="width:100%;"></div>
                    </div>
                        <hr ng-repeat-end ng-hide="university.show" />
                        <!--            <div class="ui divider" ng-repeat-end ng-show="university.show"></div>-->
                        <div class="ui center aligned grid stackable cont-imp" ng-if="universities.length === 0">
                            <div class="sixteen wide column">
                                <div class="ui warning message">
                                    <h3> No Results found for the given search parameters. Please try modifying your search parameters.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <!--code for mobile end-->
            </div>
                
        </div>    
        <div style="clear:both;"></div>
    </div>
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="image content">
            <div class="description">
                <div class="ui container">
                    <p style="margin-bottom:23px;"><img class="ui left floated avatar image" src="../img/DiplomaGreen.png"><strong>Safe.</strong> Your scores and GPA are more than those required by this university. You have a high chance of
                        <br>getting admission in this university if you apply on time.</p>
                    <p><img class="ui left floated avatar image" src="../img/DiplomaOracangelite.png"><strong>Moderate.</strong>Your scores and CGPA are just matching the required scores by the university. Your chances
                        <br> of getting a i20 depends on the number of applications already applied and in the queue. Apply as early as
                        <br> you can. If you have strong SoP, LoRs and profile you still have a good chance of getting into this university.</p>
                    <p><img class="ui left floated avatar image" src="../img/DiplomaOrange.png"><strong>Ambitious.</strong>Your scores and CGPA are very less than those required by this university for its previous
                        <br> intake.Unless you have good work experience, strong SOP and a known reference, dont try. You have
                        <br> to make a lot of effort to convince the university to take you in.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function test() {
            $('#mode').modal('show')
        }
        var refreshId = setTimeout(test, 20000);
    </script>

    <!-- <script>
        function hideShowFun()
        {
            var x = document.getElementById("searchClass");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script> -->
    <!-- <script type="text/javascript">
        function checking()
        {
            if(document.getElementById('favr').checked == true)
            {
                document.getElementById('msg').innerHTML="Added to Compare University";
            }
            else if(document.getElementById('favr').checked == false)
            {
                document.getElementById('msg').innerHTML="Deleted from Compare University";
            }
            else
            {
                document.getElementById('msg').style.display="none";
            }
        }
    </script> -->
</main>
