<div class="ui grid container sug-univ">
    <img class="ui middle aligned mini image" src="../img/icon-fa-institution.png">
    <span>How to search Universities</span>
    <div class="ui divider container"></div>
    <div class="ui container">
        <p>Profile evaluator tool is user-friendly and self-explanatory, still we would like you guide on how to start your search process.</p>
    </div>
</div>
<div class="ui grid container">
    <div class="two column row">
        <div class="column ">
            <img class="ui mini left floated image" src="../img/numbers-01.png" style="margin-bottom: 0px;margin-right: 3px; height:26px; width:26px;">
            <b>Sign-in and Email Verification</b>
            <ul>
                <li style="text-align: justify;text-justify: inter-word;margin-top: 2px; font-family=Segoe UI, Open Sans !important;">Provide the mail address which you are using exclusively for your MS in USA admission process, we will be sending you few useful tips and updates on universities and admission process in USA to the provided mail address. We will send you the confirmation mail to your email for the security purpose, please use the link to confirm your login for the first time.</li>
                <li>After you confirm your mail address, it will take you to the home page to “Evaluate your Profile”</li>
            </ul>
        </div>
        <div class="column">
            <img src="../img/home.png">
        </div>
    </div>
</div>
<div class="ui divider container"></div>
<div class="ui grid container">
    <div class="two column row">
        <div class="column">
            <img src="../img/search-page.png">
        </div>
        <div class="column">
            <img class="ui mini left floated image" src="../img/numbers-02.png" style="margin-bottom: 0px;margin-right: 3px;  height:26px; width:26px;">
            <p style="text-align: justify;
    text-justify: inter-word;margin-top: 2px;"><b>Profile Evaluator</b>
                <br>
                <p>Please fill your score, course, percentage, deadline and few other details related to the admission process. Do fill them with accuracy to get the right list of universities that you could apply for. Few pointers that are to be considered before filling the details -</p>
                <ul>
                    <li>We calculated GPA based on the formula -(100% is 4 GPA, 75% is 3 GPA, 50% is 2 GPA …). But based on WES and few other parameters calculation differs. We recommend you to increase your percentage and then check for the list of universities.
                    </li>
                    <li>Few Universities have different deadlines from others and eligibility scores also differ from department to department. Here, we have considered the deadline which majority of the university follow and the eligibility score for CS as Major.
                    </li>
                    <li> If you short of few marks than the eligibility score for any particular university and you have good work experience, you still have hope to get accepted to the high score university !. You can apply by justifying your reason to get accepted by projecting your work experience.
                    </li>
                </ul>
        </div>
    </div>
</div>
<div class="ui divider container"></div>
<div class="ui grid container">
    <div class="two column row">
        <div class="column">
            <img class="ui mini left floated image" src="../img/numbers-03.png" style="margin-bottom: 0px;margin-right: 3px; height:26px; width:26px;">
            <p style="text-align: justify;
    text-justify: inter-word;margin-top: 2px;"><b>Search Results</b>
                <br>
            </p>
            <ul>
                <li>Based on your profile, you get the list of universities that you are eligible to apply.
                    <li>You can sort the data column wise.</li>
                    <li>We gave Green & Orange flags against your scores.</li>
                    <ul>
                        <div class="content">
                            <img class="ui avatar image" src="../img/DiplomaGreen.png">
                            <span><b>Safe</b></span>
                            <br>
                            <img class="ui avatar image" src="../img/DiplomaOrange.png">
                            <span><b>Exactly Matching or Ambitious</b></span>
                        </div>
        </div>
        <div class="column">
            <img src="../img/profile2.png">
        </div>
    </div>
</div>
<div class="ui divider container"></div>
<div class="ui grid container">
    <div class="two column row">
        <div class="column">
            <img src="../img/profile.png">
        </div>
        <div class="column">
            <img class="ui mini left floated image" src="../img/numbers-04.png" style="margin-bottom: 0px;margin-right: 3px; height:26px; width:26px;">
            <p style="text-align: justify;
    text-justify: inter-word;margin-top: 2px;"><b>Favourite Universities</b></p>
            <ul>
                <li>
                    Before adding the universities to your favourite list go through each and every university page and the respective links which we have provided.
                </li>
                <li>
                    You can add your Favourite universities from <b>Search Results</b> or <b>Universities Pages</b> from the top menu bar.
                </li>
        </div>
    </div>
</div>
<div class="ui divider container"></div>
<div class="ui container">
    <h3>How to Choose a University for MS in USA</h3>
    <p>Don’t finalize the universities only based on your scores, major and Fees. There are many factors that need to be considered in which we will be assisting you with our experience.</p>
    <p>Our team will provide you with the information about core structure, course duration, cost of living, fee structure, payment schedule, part time job on campus job, safety climatic conditions, scholarships and funding.</p>
    <p><b>Please reach out to us for further details.</b></p>
    <div class="ui content">
        <span><b>Email</b> admin@futureinusa.com</span>
        <br>
        <span><b>Ph</b> 72888 40555</span>
    </div>
