<style>
    .column {
        font-size: 12px !important;
    }
    
    .ui.form {
        font-size: 12px !important;
    }
    
</style>
<main class="ui main search-result mainMarginInMob">
    <div class="ui stackable segment uni-filter" style="position:relative;">
        <div class="ui inverted dimmer" ng-class="active_loader && 'active'">
            <div class="ui text loader">Loading</div>
        </div> 
                    <!-- Search-results-start-->
    <!-- <div class="ui stackable grid result-header mobilesearchpage" ng-init="orderByKey='SponsoredBy'; orderByAsc=false">
            <div class="six wide column">
                <div class="ui stackable grid">
                    <div class="three wide column" ng-click="orderByKey='favouriteIndicator'; orderByAsc=!orderByAsc">
                        <b>Fav</b>
                    </div>
                    <div class="four wide column" style="font-size: 16px; padding-left: 0px !important;">
                        <b>{{universities.length}}/377</b>
                    </div>
                    <div class="eight wide column" ng-click="orderByKey='UniversityName'; orderByAsc=!orderByAsc">
                        <b>University</b><i class="sort icon" ng-click="orderByKey='UniversityName'; orderByAsc=!orderByAsc" ng-class="orderByKey==='UniversityName'&&'active'"></i>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui stackable grid">
                    <div class="five wide column" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <b>GRE</b><i class="sort icon" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GRE'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenGRE === 'Yes' ? searchParams.greScore : searchParams.greExpectedScore}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" style="text-align:center !important;">
                        <b>{{searchParams.exam}}</b>
                        <i class="sort icon" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" ng-class="orderByKey===searchParams.exam&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenEnglishTest === 'Yes' ? searchParams.examScore : searchParams.expectedExamScore}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <b>GPA</b><i class="sort icon" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GPA'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.gpa}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui stackable grid">
                    <div class="six wide column" ng-click="orderByKey='FullDeadLine'; orderByAsc=!orderByAsc">
                        <b>Dead Line</b><i class="sort icon" ng-click="orderByKey='FullDeadLine'; orderByAsc=!orderByAsc" ng-class="orderByKey==='FullDeadLine'&&'active'"></i>
                        <br>
                        <span style="text-align:center;"><strong>{{searchParams.deadLine}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc" style="padding-left: 25px;">
                        <b>Fee</b><i class="sort icon" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc" ng-class="orderByKey==='TutionFee'&&'active'"></i>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='Rating'; orderByAsc=!orderByAsc" style="padding-right: 0px;padding-left: 28px;">
                        <b>Rating</b><i class="sort icon" ng-click="orderByKey='Rating'; orderByAsc=!orderByAsc" ng-class="orderByKey==='Rating'&&'active'"></i>
                    </div>
                </div>
            </div> -->
            <!-- <div class="one wide column mobilesearchpage">
                <!-- <a href="/prodigyFinance/prodigy.html" target="_blank" style="position: absolute;right: 62px;top: -5px;">
                    <img style="height: 90px;text-align: center;" src="/img/prodigylogo_PE1.jpg">
                </a> -->
            <!--</div> -->
        <!-- </div>  -->
        <!-- <div class="ui divider dividerClass" style="width:100%;"></div> -->
        <div class="ui grid stackable borderClass" style="background-color:#ecf0f1;" style="width:100%;">
            <div class="four wide column">
                <div class="ui grid scoresHideInMob">
                    <div class="sixteen wide column" ng-click="orderByKey='favouriteIndicator'; orderByAsc=!orderByAsc">
                            <h5 style="float:left;">Your Scores</h5>  <p style="font-size: 14px; padding-left: 0px !important;float:right;"><strong>Universities: {{universities.length}}/377</strong></p>      
                    </div>
                </div>
                <div class="ui stackable grid segment scoresHideInMob">
                    <div class="five wide column" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <p>
                            <strong>GRE</strong><i class="large sort icon" ng-click="orderByKey='GRE'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GRE'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenGRE === 'Yes' ? searchParams.greScore : searchParams.greExpectedScore}}</strong></span>
                        </p>
                    </div>
                    <div class="five wide column" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" style="text-align:center !important;">
                        <strong>{{searchParams.exam}}</strong>
                        <i class="large sort icon" ng-click="orderByKey=searchParams.exam; orderByAsc=!orderByAsc" ng-class="orderByKey===searchParams.exam&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.writtenEnglishTest === 'Yes' ? searchParams.examScore : searchParams.expectedExamScore}}</strong></span>
                    </div>
                    <div class="five wide column" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" style="text-align:center;">
                        <strong>GPA</strong><i class="large sort icon" ng-click="orderByKey='GPA'; orderByAsc=!orderByAsc" ng-class="orderByKey==='GPA'&&'active'"></i>
                        <br>
                        <span><strong>&#8804; {{searchParams.gpa}}</strong></span>
                    </div>
                </div>
                <!-- filters-start-->
                <div class="ui grid sticky segment" style="margin:0%;">
                    <div class="sixteen wide column">
                        <!-- <div id="locationMob">
                            <div class="ui grid">
                                <div class="ten wide column " ui-sref="PES({searchParams: searchParams})">
                                    <img class="ui avatar image modifyClass" src="../img/circlearrow.png">
                                    <span><strong>Modify Search</strong></span>
                                </div>
                                <div class="six wide column">
                                    <button class="mini ui basic button" onclick="hideShowFun()" style="float:right ;"><strong>Search</strong></button>
                                </div>
                            </div>
                        </div> -->
                        <form class="ui stackable horizontal form">
                            <div class="fields">
                                <div class="six wide field " ui-sref="PES({searchParams: searchParams})">
                                    <img class="ui avatar image modifyClass" src="../img/circlearrow.png">
                                    <span><strong>Modify Search</strong></span>
                                </div>
                                <!-- <button class="mini ui basic button showBtnInMob" style=""><strong>Search</strong></button> -->
                                <div class="ten wide field">
                                    <label>Filter by State</label>
                                    <select placeholder="Filter by State" class="ui fluid search dropdown" multiple="true" ng-model="searchfilter.State" ng-options="state for state in filters.States" ng-change="filterChange(universities, searchfilter, active_loader)">
                                        <option value="">Filter by State</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Filter by University</label>
                                    <select placeholder="Filter by University" class="ui fluid search dropdown" multiple="true" ng-model="searchfilter.UniversityName" ng-options="univ for univ in filters.Universities" ng-change="filterChange(universities, searchfilter, active_loader)">
                                        <option value="">Filter by University</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Fee/Year {{searchfilter.FeeRange[0]|currency}} - {{searchfilter.FeeRange[1]|currency}}</label>
                                    <div class="ui slider range">
                                        <div range-slider ng-model="searchfilter.FeeRange" on-change="changeFee(values)" style="margin-top: 20px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="six wide column" ng-click="orderByKey='FullDeadLine'; orderByAsc=!orderByAsc">
                                    <b>Dead Line</b><i class="large sort icon" ng-click="orderByKey='FullDeadLine'; orderByAsc=!orderByAsc" ng-class="orderByKey==='FullDeadLine'&&'active'"></i>
                                    <br>
                                    <span style="tex-align:center;"><strong>{{searchParams.deadLine}}</strong></span>
                                </div>
                                <div class="five wide column" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc" style="padding-left: 25px;">
                                    <b>Fee</b><i class="large sort icon" ng-click="orderByKey='TutionFee'; orderByAsc=!orderByAsc" ng-class="orderByKey==='TutionFee'&&'active'"></i>
                                </div>
                                <div class="five wide column" ng-click="orderByKey='Rating'; orderByAsc=!orderByAsc" style="padding-right: 0px;padding-left: 28px;">
                                    <b>Rating</b><i class="large sort icon" ng-click="orderByKey='Rating'; orderByAsc=!orderByAsc" ng-class="orderByKey==='Rating'&&'active'"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            <!-- filters-end-->
            <!--form code-->
            <div class="ui grid stackable" id="formShowInWebApp">
                <div class="sixteen wide column">
                    <!-- Form start -->
                    <div id="lsq-form-wrapper" class="lsq-form-wrapper" style="max-width: 100%; margin: 0 auto;">
                        <div class="form-block-holder block-inner-content" style="min-height: 150px;/* border: 1px solid rgb(16, 113, 201); */filter: none;/* padding-top: 20px; *//* border-radius: 5px; *//* box-shadow: rgba(71, 71, 71, 0.188235) 0px 0px 5px 0px; *//* padding-right: 5px; *//* padding-left: 5px; */background-image: none;/* background-color: rgb(247, 247, 247); */background-position: 0% 0%;background-repeat: no-repeat;"
                            data-hover-bg-color="#F7F7F7" data-bg-color-type="solid" data-border-radius="5" data-handler-position="1" data-shadow-b="5" data-shadow-s="0" data-shadow-c="rgba(71,71,71,0.19)" data-form-style="0" data-shadow-h="0" data-shadow-v="0" data-shadow-p="outset">
                            <style type="text/css">
                                #frmrlp-block-12 .lp-form-column ::-webkit-input-placeholder {
                                    /* WebKit browsers */
                                    color: #b4b4b4;
                                }
                                
                                #frmrlp-block-12 .lp-form-column :-moz-placeholder {
                                    /* Mozilla Firefox 4 to 18 */
                                    color: #b4b4b4;
                                    opacity: 1;
                                }
                                
                                #frmrlp-block-12 .lp-form-column ::-moz-placeholder {
                                    /* Mozilla Firefox 19+ */
                                    color: #b4b4b4;
                                    opacity: 1;
                                }
                                
                                #frmrlp-block-12 .lp-form-column :-ms-input-placeholder {
                                    /* Internet Explorer 10+ */
                                    color: #b4b4b4;
                                }
                            </style>
                            <div class="lp-form-header-wrapper">
                                <div class="lp-form-header-content-wrapper" style="padding: 1px 4px 0px; filter: none; background: none;" data-bg-color-type="none">
                                    <div style="text-align: center; color: rgb(64, 64, 64); font-family: 'open sans'; font-size: 12px;">
                                        <div style="background-color:#023a5b;border-radius:5px;padding:5px"> <span style="line-height:25px;color:white">
                                        <Strong>Looking for any help in SOP/LOR, Choosing Universities or VISA Guidance ?</strong></span></div>
                                    </div>
                                </div>
                            </div>
                            <form id="frmrlp-block-12" contenteditable="false" method="Post" enctype="multipart/form-data" action="https://web.mxradon.com/t/FormTracker.aspx" lsq-form-id="lp-form" name="FORM 0">
                                <div id="lp-form" class="lp-form label-placement inside" data-fieldlabel-fontsize="12" data-fieldlabel-fontfamily="Verdana" data-fieldlabel-fontweight="normal" data-fieldlabel-color="#b4b4b4" data-field-height="40" data-field-color="#b4b4b4" data-field-backgroundcolor="#ffffff"
                                    data-field-fontfamily="Lato" data-field-bordercolor="#dedede" data-field-borderwidth="2" data-field-cornerradius="4" data-field-shadow="0" data-buttontext-fontsize="16" data-buttontext-fontfamily="Open Sans" data-buttontext-fontweight="bold"
                                    data-buttontext-color="#ffffff" data-button-color="#82aed1" data-button-cornerradius="4" data-button-style="plain" data-button-alignment="center" style="width: 92%; margin: 4% 4% 0px;">
                                    <div id="sec-message-wrapper" class="lp-form-section sec-message-wrapper" style="display: none;">Thank you for your interest.</div>
                                    <div id="sec-fields-wrapper" class="lp-form-section sec-fields-wrapper">
                                        <div id="lp-form-column" class="lp-form-column  ui-sortable">
                                            <div class="field-control-group " data-field-name="FirstName" data-field-type="text" data-seq="1">
                                                <div class="field-control"> <input type="text" id="FirstName" name="FirstName" maxlength="100" placeholder="Name *" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;"
                                                        required="required"> </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                            <div class="field-control-group " data-field-name="EmailAddress" data-field-type="email" data-seq="2">
                                                <div class="field-control"> <input type="text" id="EmailAddress" name="EmailAddress" maxlength="100" placeholder="Email *" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;"
                                                        required="required"> </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                            <div class="field-control-group " data-field-name="Phone" data-field-type="phone" data-ph-control-type="textbox" data-seq="3">
                                                <div class="field-control"> <input type="text" id="Phone" name="Phone" maxlength="20" placeholder="Phone Number" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;">                                            </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                            <div class="field-control-group " data-field-name="SourceContent" data-field-type="text" data-seq="4">
                                                <div class="field-control"> <input type="text" id="SourceContent" name="SourceContent" maxlength="200" placeholder="SOP/LOR/UniversityList" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;">                                            </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sec-button-wrapper" class="lp-form-section sec-button-wrapper btn-align-center"><br><button id="form-submit-button" class="form-submit-button gradient btn center-block" style=" min-width: 163px; min-height: 48px; color: #ffffff; font-family: Open Sans; font-size: 16px; font-weight: bold;margin:auto !important;display:block !important; border: 1px #82aed1 solid; border-bottom-color:#688ba7; text-shadow: 0px -1px 1px #82aed1; background-image: none; background-color: #82aed1; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px; ">		I am Interested</button></div>
                                    <div id="sec-formdata-wrapper" class="lp-form-section sec-formdata-wrapper" style="display: none;"><textarea id="txtLoadedJson">{"LSQLeadFields":[{"Seq":1,"Name":"First Name","SchemaName":"FirstName","Type":"text","CtrlType":"textbox","IsMandatory":"1","DisplayName":"Name","MinLength":"","MaxLength":"100","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"First Name","Position":"1,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true},{"Seq":3,"Name":"Email","SchemaName":"EmailAddress","Type":"email","CtrlType":"email","IsMandatory":"1","DisplayName":"Email","MinLength":"","MaxLength":"100","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"Email","Position":"2,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true},{"Seq":4,"Name":"Phone Number","SchemaName":"Phone","Type":"phone","CtrlType":"textbox","IsMandatory":"0","DisplayName":"Phone Number","MinLength":"0","MaxLength":"20","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"Phone Number","Position":"3,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true},{"Seq":12,"Name":"Source Content","SchemaName":"SourceContent","Type":"text","CtrlType":"textbox","IsMandatory":"0","DisplayName":"IELTS/I-20/VISA","MinLength":"","MaxLength":"200","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"Source Content","Position":"4,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true}],"Version":"2.0","FormWidth":"185","FormSize":"","FieldLabelColor":"#b4b4b4","FieldLabelFontSize":12,"FieldLabelFontWeight":"normal","FieldLabelFontFamily":"Verdana","FieldHeight":"40","FieldColor":"#b4b4b4","FieldBackgroundColor":"#ffffff","FieldFontFamily":"Lato","FieldBorderColor":"#dedede","FieldBorderWidth":"2","FieldCornerRadius":"4","FieldShadow":"0","ButtonText":"I am Inteterested","ButtonTextFontFamily":"Open Sans","ButtonTextFontSize":16,"ButtonTextFontWeight":"bold","ButtonTextColor":"#ffffff","ButtonColor":"#82aed1","ButtonWidth":"163","ButtonHeight":"48","ButtonCornerRadius":"4","ButtonStyle":"plain","ButtonAlignment":"center","BackgroundColor":"transparent","Layout":"fluid","LabelPlacement":"inside","ContainsCaptcha":false,"ContainsPasswordField":false,"AccountPhoneNumberFormat":"DEFAULT","DefaultCountryCode":""}</textarea></div>
                                </div><input type="hidden" name="MXHOrgCode" value="8634"><input type="hidden" name="MXHLandingPageId" value="3b09fe28-15d1-11e6-b61b-22000aa8e760"><input type="hidden" name="MXHFormBehaviour" value="0"><input type="hidden" name="MXHOutputMessagePosition"
                                    value="0"><input type="hidden" name="MXHFormDataTransfer" value="0"><input type="hidden" name="MXHRedirectUrl" value="/"><input type="hidden" name="MXHAsc" value="5"><input type="hidden" name="MXHFormName" value="FORM 0">
                                <input type="hidden" name="MXHIsExternallyUsed" value="1">
                            </form>
                            <div class="lp-form-footer-wrapper mobilesearchpage">
                                <div class="lp-form-footer-content-wrapper" data-bg-color-type="none" style="filter: none; min-height: 0px; padding-bottom: 8px; padding-top: 4px; background: none;">
                                    <div style="text-align: center; font-size: 12px; color: rgb(64, 64, 64); font-family: 'open sans';"><span style="font-family: 'open sans'; color: rgb(64, 64, 64); font-size: 12px;">Thank you, Team FutureinUSA, www.futureinusa.com</span></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form end-->
            <br>
            <a href="https://www.credila.info/psites/profile-evaluator/" class="addHideInMob" target="_blank" style="font-size:11px;text-align:center;">
                <img class="" style="width:60%;margin:auto;display:block;" src="/img/hdfc_credila.jpg">
                <p class="">OUR EDUCATIONAL LOAN PARTNER</p>
            </a> 
            </div>
            <div class="twelve wide column" id="topMarginInMob">
                <div class="ui grid stackable codeForWeb searchHeightClass">
                    <div class="sixteen wide column segment"  style="background-color:#fff;margin:1%;" ng-repeat-start="university in universities|orderBy:orderByKey:orderByAsc" ng-show="university.show">               
                    <div class="ui grid">
                    <div class="two wide column uniLogoInMob"> 
                        <a class="ui small image">
                            <img ng-src="{{university.Logo}}" style="width:70%;height:70%;">
                        </a>
                    </div>
                    <div class="four wide column">
                        <a style="border-bottom:1px dashed; font-size:14px" target="_blank" ui-sref="university({id : university.objectId})"><strong>{{university.UniversityName}}</strong></a>
                        <div><small>{{university.Place}}, {{university.State}}</small>
                        </div>
                        <!--<p ng-if="university.SponsoredBy">
                            Supported By:
                            <a target="_blank" ng-href="{{university.SponsorLink}}">
                                <img ng-if="university.SponsorLogo" style="height:25px;" ng-src="{{university.SponsorLogo}}">
                                <span ng-if="!university.SponsorLogo">{{university.SponsoredBy}}</span>
                            </a>
                        </p>-->
                    </div>
                    <div class="two wide column" style="border:0px solid red;">
                        <div class="ui stackable grid">
                            <div class="sixteen wide column textAlign">
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;color:{{university.GRE < searchParams.greScore ? '#27ae60' : university.GRE == searchParams.greScore ? '#ff8322' : 'red'}};"><strong>GRE :</strong>
                                        <span><strong>{{university.GRE}}</strong></span>
                                        <!-- <img class="ui avatar image" ng-src="{{university.GRE < searchParams.greScore ? '/img/DiplomaGreen.png' : university.GRE == searchParams.greScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.greScore-university.GRE"
                                            style="cursor:help;"> -->
                                    </p> 
                                </div>  
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;color:{{university[searchParams.exam] < searchParams.examScore ? '#27ae60' : university[searchParams.exam] == searchParams.examScore ? '#ff8322' : 'red'}};"><strong>{{searchParams.exam}} :</strong>
                                        <span><strong>{{university[searchParams.exam]}}</strong></span>
                                        <!-- <img class="ui avatar image" ng-src="{{university[searchParams.exam] < searchParams.examScore ? '/img/DiplomaGreen.png' : university[searchParams.exam] == searchParams.examScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.examScore-university[searchParams.exam]"
                                            style="cursor:help;"> -->
                                    </p>
                                </div>
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;color:{{university.GPA < searchParams.gpa ? '#27ae60' : university.GPA == searchParams.gpa ? '#ff8322' : 'red'}};"><strong>GPA :</strong>
                                        <span><strong>{{university.GPA}}</strong></span>
                                        <!-- <img class="ui avatar image" ng-src="{{university.GPA < searchParams.gpa ? '/img/DiplomaGreen.png' : university.GPA == searchParams.gpa ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.gpa-university.GPA" style="cursor:help;"> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui stackable grid">
                            <div class="eight wide column">
                                <div class="content">
                                <p style="text-align:left;font-weight:600;">Dead line :   
                                    <span><b>{{university.FullDeadLine|date:'dd/MMM/yyyy'}}</b></span>
                                </p>
                                </div>
                                <div class="content">
                                    <div class="header">
                                        <p style="text-align:left;font-weight:600;">Fee :  
                                        <span><b>{{university.TutionFee|currency}}</b></span>
                                        </p>
                                    </div>
                                    <small>Per two Years </small>
                                </div>
                            </div>  
                            <div class="eight wide column">
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;">Rating : 
                                    <span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                                    </p>
                                </div>
                                <div class="content">
                                    <p style="text-align:left;font-weight:600;">Rank : 
                                        <span><b>{{university.Ranking || 'N.A'}}</b></span>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide column">
                        <p><strong>Compare</strong></p>
                        <input type="checkbox" style="width:15x;height:15px;" ng-model="university.favouriteIndicator" ng-true-value="true" ng-false-value="false" ng-change="addToWish(university)">
                        <!-- <p id="msg"></p> -->
                    </div>
                </div>
                <!-- <div class="ui grid">
                    <div class="five wide column">
                        <button style="background-color: #1f9fd2;border:1px solid #1f9fd2;width:100%;height:35px;"><a style="font-size:12px;color:#fff;" target="_blank" ui-sref="university({id : university.objectId})"><strong>UNIVERSITY PROFILE</strong></a></button>
                    </div>
                    <div class="five wide column">
                        <button style="background-color: #f1c40f;border:1px solid #f1c40f;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>CHECK YOUR CHANCES</strong></a></button>
                    </div>
                    <div class="five wide column">
                        <button style="background-color: #d8d8d8;border:1px solid #d8d8d8;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>COMPARE UNIVERSITY</strong></a></button>
                    </div>
                </div> -->
                </div>
                <hr ng-repeat-end ng-show="university.show" />
                <!--<div class="ui divider" ng-repeat-end ng-show="university.show"></div>-->
                <div class="ui center aligned grid stackable cont-imp" ng-if="universities.length === 0">
                    <div class="sixteen wide column">
                        <div class="ui warning message">
                            <h3> No Results found for the given search parameters. Please try modifying your search parameters.</h3>
                        </div>
                    </div>
                </div>
                </div>
                

                <!--code for mobile start-->
                <div class="ui grid stackable codeForMob" style="height:600px;overflow: scroll;">
                        <div class="sixteen wide column segment"  style="background-color:#fff;margin:0%;" ng-repeat-start="university in universities|orderBy:orderByKey:orderByAsc" ng-show="university.show">               
                        <div class="ui grid">
                            <div class="four wide column"> 
                                <a class="ui small image">
                                    <img ng-src="{{university.Logo}}" style="width:80%;height:80%;margin-top:-1%;">
                                </a>
                            </div>
                            <div class="twelve wide column">
                                <a style="border-bottom:1px dashed; font-size:14px" target="_blank" ui-sref="university({id : university.objectId})"><strong>{{university.UniversityName}}</strong></a>
                                <div><small>{{university.Place}}, {{university.State}}</small>
                                </div>
                                <p ng-if="university.SponsoredBy">
                                    Supported By:
                                    <a target="_blank" ng-href="{{university.SponsorLink}}">
                                        <img ng-if="university.SponsorLogo" style="height:25px;" ng-src="{{university.SponsorLogo}}">
                                        <span ng-if="!university.SponsorLogo">{{university.SponsoredBy}}</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="ui grid" style="margin-top:-1%;">
                        <div class="four wide column" style="border:0px solid red;">
                            <div class="ui stackable grid">
                                <div class="sixteen wide column textAlign">
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;color:{{university.GRE < searchParams.greScore ? '#27ae60' : university.GRE == searchParams.greScore ? '#ff8322' : 'red'}};">GRE :
                                            <span><strong>{{university.GRE}}</strong></span>
                                            <!-- <img class="ui avatar image" ng-src="{{university.GRE < searchParams.greScore ? '/img/DiplomaGreen.png' : university.GRE == searchParams.greScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.greScore-university.GRE"
                                                style="cursor:help;"> -->
                                        </p> 
                                    </div>  
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;color:{{university[searchParams.exam] < searchParams.examScore ? '#27ae60' : university[searchParams.exam] == searchParams.examScore ? '#ff8322' : 'red'}};">{{searchParams.exam}} :
                                            <span><strong>{{university[searchParams.exam]}}</strong></span>
                                            <!-- <img class="ui avatar image" ng-src="{{university[searchParams.exam] < searchParams.examScore ? '/img/DiplomaGreen.png' : university[searchParams.exam] == searchParams.examScore ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.examScore-university[searchParams.exam]"
                                                style="cursor:help;"> -->
                                        </p>
                                    </div>
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;color:{{university.GPA < searchParams.gpa ? '#27ae60' : university.GPA == searchParams.gpa ? '#ff8322' : 'red'}};">GPA :
                                            <span><strong>{{university.GPA}}</strong></span>
                                            <!-- <img class="ui avatar image" ng-src="{{university.GPA < searchParams.gpa ? '/img/DiplomaGreen.png' : university.GPA == searchParams.gpa ? '/img/DiplomaOracangelite.png' : '/img/DiplomaOrange.png'}}" modeel="searchParams.gpa-university.GPA" style="cursor:help;"> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nine wide column">
                            <div class="ui grid">
                                <div class="eight wide column">
                                    <div class="content">
                                    <p style="text-align:left;font-weight:600;">Dead line :   
                                        <span><b>{{university.FullDeadLine|date:'dd/MMM/yyyy'}}</b></span>
                                    </p>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <p style="text-align:left;font-weight:600;">Fee :  
                                            <span><b>{{university.TutionFee|currency}}</b></span>
                                            </p>
                                        </div>
                                        <small>Per two Years </small>
                                    </div>
                                </div>  
                                <div class="eight wide column">
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;">Rating : 
                                        <span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                                        </p>
                                    </div>
                                    <div class="content">
                                        <p style="text-align:left;font-weight:600;">Rank : 
                                            <span><b>{{university.Ranking || 'N.A'}}</b></span>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two wide column">
                            <!-- <p class="mobileShow">Favourite</p> -->
                            <p  style="padding-left:-5px;"><strong>Compare</strong></p>
                            <input type="checkbox" style="width:15px;height:15px;" ng-model="university.favouriteIndicator" ng-true-value="true" ng-false-value="false" ng-change="addToWish(university)">
                        </div>
                    </div>
                    <!-- <div class="ui grid">
                        <div class="five wide column">
                            <button style="background-color: #1f9fd2;border:1px solid #1f9fd2;width:100%;height:35px;"><a style="font-size:12px;color:#fff;" target="_blank" ui-sref="university({id : university.objectId})"><strong>UNIVERSITY PROFILE</strong></a></button>
                        </div>
                        <div class="five wide column">
                            <button style="background-color: #f1c40f;border:1px solid #f1c40f;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>CHECK YOUR CHANCES</strong></a></button>
                        </div>
                        <div class="five wide column">
                            <button style="background-color: #d8d8d8;border:1px solid #d8d8d8;width:100%;height:35px;"><a style="font-size:12px;color:#39393a;" target="_blank" href="#"><strong>COMPARE UNIVERSITY</strong></a></button>
                        </div>
                    </div> -->
                    <!--<div class="ui divider dividerClass" style="width:100%;"></div>-->
                    </div>
                        <hr ng-repeat-end ng-show="university.show" />
                        <!--            <div class="ui divider" ng-repeat-end ng-show="university.show"></div>-->
                        <div class="ui center aligned grid stackable cont-imp" ng-if="universities.length === 0">
                            <div class="sixteen wide column">
                                <div class="ui warning message">
                                    <h3> No Results found for the given search parameters. Please try modifying your search parameters.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <!--code for mobile end-->
            </div>
                
        </div>    
        <div style="clear:both;"></div>
    </div>
    <!--form code for mobile-->
            <div class="ui grid stackable" id="formShowInMobile">
                <div class="sixteen wide column">
                    <!-- Form start -->
                    <div id="lsq-form-wrapper" class="lsq-form-wrapper" style="max-width: 100%; margin: 0 auto;">
                        <div class="form-block-holder block-inner-content" style="min-height: 150px;/* border: 1px solid rgb(16, 113, 201); */filter: none;/* padding-top: 20px; *//* border-radius: 5px; *//* box-shadow: rgba(71, 71, 71, 0.188235) 0px 0px 5px 0px; *//* padding-right: 5px; *//* padding-left: 5px; */background-image: none;/* background-color: rgb(247, 247, 247); */background-position: 0% 0%;background-repeat: no-repeat;"
                            data-hover-bg-color="#F7F7F7" data-bg-color-type="solid" data-border-radius="5" data-handler-position="1" data-shadow-b="5" data-shadow-s="0" data-shadow-c="rgba(71,71,71,0.19)" data-form-style="0" data-shadow-h="0" data-shadow-v="0" data-shadow-p="outset">
                            <style type="text/css">
                                #frmrlp-block-12 .lp-form-column ::-webkit-input-placeholder {
                                    /* WebKit browsers */
                                    color: #b4b4b4;
                                }
                                
                                #frmrlp-block-12 .lp-form-column :-moz-placeholder {
                                    /* Mozilla Firefox 4 to 18 */
                                    color: #b4b4b4;
                                    opacity: 1;
                                }
                                
                                #frmrlp-block-12 .lp-form-column ::-moz-placeholder {
                                    /* Mozilla Firefox 19+ */
                                    color: #b4b4b4;
                                    opacity: 1;
                                }
                                
                                #frmrlp-block-12 .lp-form-column :-ms-input-placeholder {
                                    /* Internet Explorer 10+ */
                                    color: #b4b4b4;
                                }
                            </style>
                            <div class="lp-form-header-wrapper">
                                <div class="lp-form-header-content-wrapper" style="padding: 1px 4px 0px; filter: none; background: none;" data-bg-color-type="none">
                                    <div style="text-align: center; color: rgb(64, 64, 64); font-family: 'open sans'; font-size: 12px;">
                                        <div style="background-color:#023a5b;border-radius:5px;padding:5px"> <span style="line-height:25px;color:white">
                                        <Strong>Looking for any help in SOP/LOR, Choosing Universities or VISA Guidance ?</strong></span></div>
                                    </div>
                                </div>
                            </div>
                            <form id="frmrlp-block-12" contenteditable="false" method="Post" enctype="multipart/form-data" action="https://web.mxradon.com/t/FormTracker.aspx" lsq-form-id="lp-form" name="FORM 0">
                                <div id="lp-form" class="lp-form label-placement inside" data-fieldlabel-fontsize="12" data-fieldlabel-fontfamily="Verdana" data-fieldlabel-fontweight="normal" data-fieldlabel-color="#b4b4b4" data-field-height="40" data-field-color="#b4b4b4" data-field-backgroundcolor="#ffffff"
                                    data-field-fontfamily="Lato" data-field-bordercolor="#dedede" data-field-borderwidth="2" data-field-cornerradius="4" data-field-shadow="0" data-buttontext-fontsize="16" data-buttontext-fontfamily="Open Sans" data-buttontext-fontweight="bold"
                                    data-buttontext-color="#ffffff" data-button-color="#82aed1" data-button-cornerradius="4" data-button-style="plain" data-button-alignment="center" style="width: 92%; margin: 4% 4% 0px;">
                                    <div id="sec-message-wrapper" class="lp-form-section sec-message-wrapper" style="display: none;">Thank you for your interest.</div>
                                    <div id="sec-fields-wrapper" class="lp-form-section sec-fields-wrapper">
                                        <div id="lp-form-column" class="lp-form-column  ui-sortable">
                                            <div class="field-control-group " data-field-name="FirstName" data-field-type="text" data-seq="1">
                                                <div class="field-control"> <input type="text" id="FirstName" name="FirstName" maxlength="100" placeholder="Name *" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;"
                                                        required="required"> </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                            <div class="field-control-group " data-field-name="EmailAddress" data-field-type="email" data-seq="2">
                                                <div class="field-control"> <input type="text" id="EmailAddress" name="EmailAddress" maxlength="100" placeholder="Email *" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;"
                                                        required="required"> </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                            <div class="field-control-group " data-field-name="Phone" data-field-type="phone" data-ph-control-type="textbox" data-seq="3">
                                                <div class="field-control"> <input type="text" id="Phone" name="Phone" maxlength="20" placeholder="Phone Number" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;">                                            </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                            <div class="field-control-group " data-field-name="SourceContent" data-field-type="text" data-seq="4">
                                                <div class="field-control"> <input type="text" id="SourceContent" name="SourceContent" maxlength="200" placeholder="SOP/LOR/UniversityList" value="" autocomplete="off" style="width:100% !important;padding-left: 1%;margin-bottom:1% !important;height:40px !important;color:#b4b4b4;background-color:#ffffff !important;border:1px solid #dedede !important;border-width:2px !important;border-radius:4px !important;-webkit-border-radius:4px !important;-moz-border-radius:4px !important;-o-border-radius:4px !important;font-family:Lato !important;-webkit-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;-moz-box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;box-shadow:rgba(0,0,0,0) 0 0 0, inset rgba(0,0,0,0) 0 0 0 !important;">                                            </div>
                                                <div class="field-validation-messages"><label class="validation-msg hide"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sec-button-wrapper" class="lp-form-section sec-button-wrapper btn-align-center"><br><button id="form-submit-button" class="form-submit-button gradient btn center-block" style=" min-width: 163px; min-height: 48px; color: #ffffff; font-family: Open Sans; font-size: 16px; font-weight: bold;margin:auto !important;display:block !important; border: 1px #82aed1 solid; border-bottom-color:#688ba7; text-shadow: 0px -1px 1px #82aed1; background-image: none; background-color: #82aed1; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px; ">		I am Inteterested</button></div>
                                    <div id="sec-formdata-wrapper" class="lp-form-section sec-formdata-wrapper" style="display: none;"><textarea id="txtLoadedJson">{"LSQLeadFields":[{"Seq":1,"Name":"First Name","SchemaName":"FirstName","Type":"text","CtrlType":"textbox","IsMandatory":"1","DisplayName":"Name","MinLength":"","MaxLength":"100","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"First Name","Position":"1,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true},{"Seq":3,"Name":"Email","SchemaName":"EmailAddress","Type":"email","CtrlType":"email","IsMandatory":"1","DisplayName":"Email","MinLength":"","MaxLength":"100","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"Email","Position":"2,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true},{"Seq":4,"Name":"Phone Number","SchemaName":"Phone","Type":"phone","CtrlType":"textbox","IsMandatory":"0","DisplayName":"Phone Number","MinLength":"0","MaxLength":"20","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"Phone Number","Position":"3,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true},{"Seq":12,"Name":"Source Content","SchemaName":"SourceContent","Type":"text","CtrlType":"textbox","IsMandatory":"0","DisplayName":"IELTS/I-20/VISA","MinLength":"","MaxLength":"200","DefaultValue":"","MaskText":null,"OptionValues":"","FormLabel":"Source Content","Position":"4,1","IsHidden":"0","IsUsedinForm":"1","Height":"0","SMSVerification":"0","AllowOnlyValidData":true}],"Version":"2.0","FormWidth":"185","FormSize":"","FieldLabelColor":"#b4b4b4","FieldLabelFontSize":12,"FieldLabelFontWeight":"normal","FieldLabelFontFamily":"Verdana","FieldHeight":"40","FieldColor":"#b4b4b4","FieldBackgroundColor":"#ffffff","FieldFontFamily":"Lato","FieldBorderColor":"#dedede","FieldBorderWidth":"2","FieldCornerRadius":"4","FieldShadow":"0","ButtonText":"I am Inteterested","ButtonTextFontFamily":"Open Sans","ButtonTextFontSize":16,"ButtonTextFontWeight":"bold","ButtonTextColor":"#ffffff","ButtonColor":"#82aed1","ButtonWidth":"163","ButtonHeight":"48","ButtonCornerRadius":"4","ButtonStyle":"plain","ButtonAlignment":"center","BackgroundColor":"transparent","Layout":"fluid","LabelPlacement":"inside","ContainsCaptcha":false,"ContainsPasswordField":false,"AccountPhoneNumberFormat":"DEFAULT","DefaultCountryCode":""}</textarea></div>
                                </div><input type="hidden" name="MXHOrgCode" value="8634"><input type="hidden" name="MXHLandingPageId" value="3b09fe28-15d1-11e6-b61b-22000aa8e760"><input type="hidden" name="MXHFormBehaviour" value="0"><input type="hidden" name="MXHOutputMessagePosition"
                                    value="0"><input type="hidden" name="MXHFormDataTransfer" value="0"><input type="hidden" name="MXHRedirectUrl" value="/"><input type="hidden" name="MXHAsc" value="5"><input type="hidden" name="MXHFormName" value="FORM 0">
                                <input type="hidden" name="MXHIsExternallyUsed" value="1">
                            </form>
                            <div class="lp-form-footer-wrapper mobilesearchpage">
                                <div class="lp-form-footer-content-wrapper" data-bg-color-type="none" style="filter: none; min-height: 0px; padding-bottom: 8px; padding-top: 4px; background: none;">
                                    <div style="text-align: center; font-size: 12px; color: rgb(64, 64, 64); font-family: 'open sans';"><span style="font-family: 'open sans'; color: rgb(64, 64, 64); font-size: 12px;">Thank you, Team FutureinUSA, www.futureinusa.com</span></div>

                                </div>
                            </div><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form end-->
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="image content">
            <div class="description">
                <div class="ui container">
                    <p style="margin-bottom:23px;"><img class="ui left floated avatar image" src="../img/DiplomaGreen.png"><strong>Safe.</strong> Your scores and GPA are more than those required by this university. You have a high chance of
                        <br>getting admission in this university if you apply on time.</p>
                    <p><img class="ui left floated avatar image" src="../img/DiplomaOracangelite.png"><strong>Moderate.</strong>Your scores and CGPA are just matching the required scores by the university. Your chances
                        <br> of getting a i20 depends on the number of applications already applied and in the queue. Apply as early as
                        <br> you can. If you have strong SoP, LoRs and profile you still have a good chance of getting into this university.</p>
                    <p><img class="ui left floated avatar image" src="../img/DiplomaOrange.png"><strong>Ambitious.</strong>Your scores and CGPA are very less than those required by this university for its previous
                        <br> intake.Unless you have good work experience, strong SOP and a known reference, dont try. You have
                        <br> to make a lot of effort to convince the university to take you in.</p>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        function test() {
            $('#mode').modal('show')
        }
        var refreshId = setTimeout(test, 20000);
    </script>

    <!-- <script>
        function hideShowFun()
        {
            var x = document.getElementById("searchClass");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script> -->
    <!-- <script type="text/javascript">
        function checking()
        {
            if(document.getElementById('favr').checked == true)
            {
                document.getElementById('msg').innerHTML="Added to Compare University";
            }
            else if(document.getElementById('favr').checked == false)
            {
                document.getElementById('msg').innerHTML="Deleted from Compare University";
            }
            else
            {
                document.getElementById('msg').style.display="none";
            }
        }
    </script> -->
</main>
