<!--1-->
<div class="ui stackable grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <h1 style="text-align:left;"><span style="border-bottom:2px solid #096b98">Our Services</span></h1>
        <div class="ui top attached stackable pointing menu">
            <a class="active item teal" style="color:#096b98 !important;" data-tab="unishortlisting">University Shortlisting</a>
            <a class=" item teal" style="color:#096b98 !important;" data-tab="sop">SOP</a>
            <a class=" item teal" style="color:#096b98 !important;" data-tab="visa">VISA Guidance(F1/B2)</a>
            <a class=" item teal" style="color:#096b98 !important;" data-tab="i20">Total I-20 Process</a>
            <a class=" item teal" style="color:#096b98 !important;" data-tab="scholarship">Scholarship Content</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="unishortlisting">
            <h3>University Shortlisting</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>Choosing the right course from the right university is a major step in the application process for MS in US. Students aiming to get into the best university would gain a better chance of securing a better job.</p>
                    <p>The key factor involved in graduating from a best university is choosing the best one.
                            A number of factors are involved in selecting universities for a given profile, apart from references from friends and family members.
                    </p>
                    <p>
                        <ol type="1">
                            <li>Programs available, suiting your field of interest</li>
                            <li>Cost of education</li>
                            <li>Admission criteria</li>
                            <li>Scholarship options</li>
                            <li>Course duration</li>
                            <li>Cost of Living</li>
                            <li>CPT/OPT available</li>
                            <li>University ranking</li>
                        </ol>
                    </p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:100%;" src="img/11.png">
                </div>
            </div><p></p>
            <p>A student must begin working on his or her college application about a year in advance to gain insights into themselves and their desire for a college education. The advice and counsel of parents, teachers and mentors are always useful.
                </p>
            <p>A student must begin his/her application process about a year advance to whichever intake planning for. Advice from friends, family and mentors should always be considered in choosing the right university for the desired course of study.
                </p>
            <p>The list we provide is purely based on the preference of the student which includes preferred state, cost of living, tuition fee, course structure, scholarship opportunities and deadlines along with the academic credentials of the student.</p>
            <p><span style="float:left">We charge a service fee of <strong>Rs 3000</strong> towards university shortlisting for a given major.</span>
                <span style="float:right;padding:1%;color:#023a5b;font-size:18px;border:1px solid #023a5b;border-radius:5px;font-weight:600;">Price : Rs 3000</span>
            </p>
            <br>
            <a href="team@profileevaluator.com">team@profileevaluator.com</a>
            <p>Please feel free to contact us <strong>@7842648127</strong></p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="sop">
            <h3>SOP</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>The statement of purpose - the only essay which tells the review committee of the university the
                            eligibility of a particular candidate for admission to the respective university’s graduate program.</p>
                    <p>One might always think that the resume /CV and all the transcripts provided would explain the profile
                            of the student. It could be partially true .The statement is an interconnection of all your dreams and
                            goals right from the day you started understanding the importance of education and its benefits.</p>
                    <h4>The statement of purpose showcases -</h4>
                    <p>
                        <ol type="mark">
                            <li>Aims and Aspirations of the student</li>
                            <li>Passion to learn</li>
                            <li>Skills possessed for the related major chosen</li>
                            <li>Personality of the student</li>
                            <li>Future career plans</li>
                            <li>How important is the university’s course in shaping your career</li>
                            <li>Value addition to the organization</li>
                        </ol>
                    </p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:80%;" src="img/33.png">
                </div>
            </div><p></p>
            <p>This essay depicts the student as an open book before the admissions office and tells why the
                    respective candidate should be granted admission to their university. A statement of purpose drafted in
                    a convincing manner would definitely get the student into the good books of the decision makers. You
                    don’t need to use all the jargons you learnt for your GRE, a statement written in simple language would
                    definitely carry the necessary weightage.</p>
            <p>Apart from a statement of purpose, there is something called personal statement asked by most of the
                    schools.
            </p>
            <p>How different is a personal statement form a statement of purpose?</p>
            <p>What is the importance of a personal statement?</p>
            <p>Do I need to write different statements for every university applied?</p>
            <p>These are few of the questions that every applicant has.</p>
            <p><span style="float:left">As a professional service, we charge <strong>Rs 3000</strong> towards drafting SOP/LOR</span>
                <span style="float:right;padding:1%;color:#023a5b;font-size:18px;border:1px solid #023a5b;border-radius:5px;font-weight:600;">Price : Rs 3000</span>
            </p>
            <br>
            <p>For more information on the statement and any assistance in drafting a statement of purpose, please
                    feel free to write back.</p>
            <a href="team@profileevaluator.com">team@profileevaluator.com</a>
            <p>contact no.:7842648127</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="visa">
            <h3>VISA Guidance</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>The immediate step after receiving i-20 from the universities is to start the VISA  process.</p>
                    <p>Below are the steps involved in the <strong>VISA process</strong></p>
                    <p>
                        <ul>
                            <li>Filling the DS-160 form.</li>
                            <li>Arranging for the financial documents</li>
                            <li>SEVIS fee payment</li>
                            <li>VISA slot booking</li>
                        </ul>
                    </p>
                    <p>Starting from guiding through the financial documents needed, we assist the student right from filling the DS 160 form to booking the VISA slot along with mock interview sessions.<br><br> We prepare Q&A for the interview based on the university selected and the profile of the student.</p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:100%;" src="img/22.png">
                </div>
            </div><p></p>
            <p>Our VISA services include <strong>F1 and B2 (Visiting VISA).</strong></p>
            <div>
            <p><span style="float:left">We charge <strong>Rs 3000</strong> per applicant for the VISA guidance process.</span>
                <span style="padding:1% !important;margin-left:56% !important;color:#023a5b;font-size:18px;border:1px solid #023a5b;border-radius:5px;font-weight:600;">Price : Rs 3000</span>
            </p>
            </div>
            <br>
            <h2 id="hideHeadInWeb">Documentation</h2>
            <div class="ui stackable grid">
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:100%;" src="img/visapage1.jpg">
                </div>
                <div class="ten wide column">
                    <h2 id="showHeadInWeb">Documentation</h2>
                    <ol type="1"  style="padding:2%;">
                        <li>Guidance in filling DS 160 form.</li>
                        <li>VISA slot booking.</li>
                        <li>Guidance in paying SEVIS fee.</li>
                        <li>Guidance to the students in arranging all their financial documents.</li>
                        <li>Preparing Q&A based on students profile, specializations and university.</li>
                    </ol>
                </div>
            </div>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <h2>Mock interviews</h2>
                    <p>We provide both online and offline sessions</p>
                    <p><strong>Online:</strong> Through Skype</p>
                    <p>Our Skype ID is futureinusa</p>
                    <p><strong>Offline:</strong> One to One interview sessions at our office</p>
                    <h3>Questions to be answered the best at the VISA.</h3>
                    <ol type="1"  style="padding:2%;">
                        <li>Why this university?</li>
                        <li>To whom we can show as our sponsors?</li>
                        <li>Why you’re changing your department in Master’s? (With out any work experience?)</li>
                        <li>How much amount you can as show as savings and how?</li>
                        <li>If the student has one year gap after UG then what would be the best answer to manage that gap?</li>
                    </ol>
                    <p>And many more questions . . .</p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:75%;" src="img/visapage2.jpg">
                </div>
            </div>
            <h2 style="text-align:center;">Our Student's Success Stories</h2>
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <div class="ui card" style="width:100%;">
                        <div class="content">
                            <div class="description">
                            <p style="padding:1%;">
                                <span style="margin-top:-1%;"><img style="width:3%;height:3%;" src="img/leftQuotes.png"></span>
                                <span style="padding:1%;color:#4e4e4e !important">VISA interview is very crucial as it determines whether you enter US or Not.I recommend that every one should take few mock intrviews.Future In USA always guided me from the begining to end.</span>
                                <span style="margin-top:1%;"><img style="width:3%;height:3%;" src="img/rightQ.png"></span>
                            </p>
                            
                        </div>
                        </div>
                        <div class="extra content">
                            <div class="left floated author">
                                <img class="ui avatar image" style="width:20%;height:20%;float:left;" src="img/kavya sree.png">
                                <div class="header" style="font-size: 16px !important;color:#000 !important;font-weight:600;">Kavya Sree</div>
                                <div class="meta">
                                <span class="category">University of Illinois SpringfFeld ,<br>
                                        F1 VISA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui card" style="width:100%;">
                        <div class="content">
                            <div class="description">
                            <p style="padding:1%;">
                                <span><img style="width:3%;height:3%;" src="img/leftQuotes.png"></span>
                                <span style="padding:1% !important;color:#4e4e4e !important">The Mock interviews conducted by Future In USA helped me to understand what kind of questions would be asked by VISA officer.
                                        <br>Finally got my visa,Thank you Future In USA.</span>
                                <span style="margin-top:1%;"><img style="width:3%;height:3%;" src="img/rightQ.png"></span>
                            </p>
                            
                        </div>
                        </div>
                        <div class="extra content">
                            <div class="left floated author">
                                <img class="ui avatar image" style="width:20%;height:20%;float:left;" src="img/gandam.png">
                                <div class="header" style="font-size: 16px !important;color:#000 !important;font-weight:600;margin-left:2%;">Gandam Jagadish Pawan Teja</div>
                                <div class="meta">
                                <span class="category">Southern Arkansas University ,<br>
                                        F1 VISA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <div class="ui card" style="width:100%;">
                        <div class="content">
                            <div class="description">
                            <p style="padding:1%;">
                                <span style="margin-top:-1%;"><img style="width:3%;height:3%;" src="img/leftQuotes.png"></span>
                                <span style="padding:1%;color:#4e4e4e !important">I have only positive things to say about Future In USA and i highly recommended FIU to all students who are planning to go
                                        abroad for their higher studies.</span>
                                <span style="margin-top:1%;"><img style="width:3%;height:3%;" src="img/rightQ.png"></span>
                            </p>
                            
                        </div>
                        </div>
                        <div class="extra content">
                            <div class="left floated author">
                                <img class="ui avatar image" style="width:20%;height:20%;float:left;" src="img/keerthi-kumar.png">
                                <div class="header" style="font-size: 16px !important;color:#000 !important;font-weight:600;">Keerthi Kumar</div>
                                <div class="meta">
                                <span class="category">Oklahoma City University
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui card" style="width:100%;">
                        <div class="content">
                            <div class="description">
                            <p style="padding:1%;">
                                <span style="margin-top:-1%;"><img style="width:3%;height:3%;" src="img/leftQuotes.png"></span>
                                <span style="padding:1%;color:#4e4e4e !important">I got my VISA in the very first attempt. Future In USA is the right place for VISA guidance thanks for the whole team.</span>
                                <span style="margin-top:1%;"><img style="width:3%;height:3%;" src="img/rightQ.png"></span>
                            </p>
                            
                        </div>
                        </div>
                        <div class="extra content">
                            <div class="left floated author">
                                <img class="ui avatar image" style="width:20%;height:20%;float:left;" src="img/akhila.png">
                                <div class="header" style="font-size: 16px !important;color:#000 !important;font-weight:600;">Akhila Annadi</div>
                                <div class="meta">
                                <span class="category">University of Central Missouri
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="team@profileevaluator.com">team@profileevaluator.com</a>
            <p>Please feel free to contact us <strong>@7842648127</strong></p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="i20">
            <h3>I-20 Process at Profileevaluator</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>Around 300+ students processed and received admit in their desired universities. We at FutureInUsa   process the applications keeping the students interests in my mind. We proudly say that we have placed all our students successfully without any tie ups, in the best of the universities at USA, like USC, CMU, ASU, Northeastern University, SUNY Buffalo . . .</p>
                    <h3>Our Process includes:</h3>
                    
                    <h4>University Shortlisting:</h4>
                    <p>The list we provide is purely based on the preference of the student which includes preferred state, cost of living, tuition fee, course structure, scholarship opportunities and deadlines along with the academic credentials of the student.
                        </p>
                    <h4>SOP/LOR</h4>
                    <p>We provide SOP to the student   after a detailed interaction with the student and understanding his/her skills and abilities. The SOP drafted is purely based on the students profile and not a copy of any other drafted SOP. We guide the student in preparing the diversity statement and also personal statement as requested by the university.
                        </p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:80%;" src="img/i20.png">
                </div>
            </div>
            
            <h4>Application Process:</h4>
            <p>The applications submission for the shortlisted universities along with the dispatch of required documents to the university. This is followed by tracking the status of the application until a decision is received from the university. All the login credentials are shared with the student for his/her verification.</p>
            <h4>VISA guidance:</h4>
            <p>Starting from guiding through the financial documents needed, we assist the student right from filling the DS 160 form to booking the VISA slot along with mock interview sessions. We prepare Q&A for the interview based on the university selected and the profile of the student. Our VISA services include F1 and Visiting VISA.
                </p>
            <p><span style="float:left">We charge <strong>Rs 10000-15000*</strong> as a service charge for the entire i-20 process based on the students profile.</span>
                <span style="float:right;padding:1%;color:#023a5b;font-size:18px;border:1px solid #023a5b;border-radius:5px;font-weight:600;">Price : Rs 10000-15000</span>
            </p><br>
            <p style="color:red"><strong>NOTE : Charges negotiable based on the profile.</strong></p>
            <br>
            <a href="team@profileevaluator.com">team@profileevaluator.com</a>
        </div>
        <div class="ui bottom attached tab segment" data-tab="scholarship">
            <h3>Why should International Students Aim for a Scholarship?</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>It is very obvious that most of the international students applying for Master’s abroad need to look out for scholarship options and/or assistantships.</p>
                    <p>Opting for scholarships helps the student in handling the expenses for his/her study at the university, as the cost of education is high at the US. Also the student if eligible for scholarship would be able to make for the living expenses depending on the state chosen.</p>
                    <p>There are good numbers of scholarship options available for international students provided the application reaches the university before the deadline.</p>
                    <h3>Our Process includes:</h3>
                    
                    <h4>Eligibility for Scholarship and/or Assistantship:</h4>
                    <p>Most of the students are under the misconception that GRE, IELTS /TOEFL score play a major role in gaining scholarships. But the fact is that there many other factors involved granting scholarships to the students such as-</p>
                    <ul>
                        <li>Undergraduate/Graduate GPA</li>
                        <li>Paper publications in the previous years of study</li>
                        <li>Internships attended</li>
                        <li>Relevant work experience</li>
                        <li>Extra-curricular activities with National /International recognition (especially for scholarships based on sports and other performance of the student).</li>
                    </ul>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:60%;" src="img/scholar.png">
                </div>
            </div>
            
            <h4>Types of Scholarships:</h4>
            <p>A scholarship offered basically varies from university to university. General scholarships that almost all universities provide are -</p>
            <ul>
                <li>Merit based scholarships</li>
                <li>Departmental Scholarships</li>
                <li>Dean Scholarships</li>
            </ul>

            <h5><u>Graduate Assistantships:</u></h5>
            <p>International students mainly look forward for on campus employment opportunities. Graduate assistantship is a good choice for those who have proven academic skills and can match their research interest with those of the university. </p>
            <h5><u>Research Assistantships:</u></h5>
            <p>Students interested for <strong>research assistantships</strong> initially need to get the details of the respective professor  in the desired field of interest  and schedule an appointment /send a request of interest in joining his/her research work. Applying for research assistantship can be done after completing the 1st semester of education or along with the initial admission application.</p>
            <h5><u>Teaching Assistantships:</u></h5>
            <p>Students interested for teaching assistantships need to demonstrate their prior teaching skills such that the professor recommends the admission committee for the assistantship opportunity and designate the relevant stipend / tuition fee waiver.</p>
            
            <h4>When to Apply??</h4>
            <p>Most students generally miss out on the deadlines for scholarships. Every university offers two deadlines- priority deadline and general application deadline.</p>
            <p>Applications submitted before the priority deadline would be automatically considered for scholarship opportunity by the admissions committee. No separate application would be needed.</p>
            <p>If the application is submitted as per the general deadline, then the student needs to request the University for applying to the scholarship options available, with respect to the department applied to. Here the student needs to prepare a strong scholarship essay stating his/her eligibility for a scholarship from the University.</p>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
<!--form code-->
<div class="ui grid stackable">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <!-- Form start -->
        <student-request-form />
        <!-- Form end-->
    </div>
    <div class="four wide column"></div>
</div>
<!--2-->

<!--<div class="ui grid" style="border:1px solid red;">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <h1 style="text-align:left;"><span style="border-bottom:2px solid #096b98">Our Services</span></h1>
        <br>
        <div class="tab">
            <div class="ui animated button teal" tabindex="0" onclick="openCity(event, 'unShortList')">
                <div class="visible content">University Shortlisting</div>
                <div class="hidden content">
                    <i class="down arrow icon"></i>
                </div>
            </div>
            <div class="ui animated button teal" tabindex="0" onclick="openCity(event, 'sop')">
                <div class="visible content">SOP</div>
                <div class="hidden content">
                    <i class="down arrow icon"></i>
                </div>
            </div>
            <div class="ui animated button teal" tabindex="0" onclick="openCity(event, 'visaGuid')">
                <div class="visible content">VISA Guidance(F1/B2)</div>
                <div class="hidden content">
                    <i class="down arrow icon"></i>
                </div>
            </div>
            <div class="ui animated button teal" tabindex="0" onclick="openCity(event, 'i20Proc')">
                <div class="visible content" >Total I-20 Process</div>
                <div class="hidden content">
                    <i class="down arrow icon"></i>
                </div>
            </div>
        </div>
        
        <div id="unShortList" class="tabcontent" style="padding:1%;">
            <h3>University Shortlisting</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>Choosing the right course from the right university is a major step in the application process for MS in US. Students aiming to get into the best university would gain a better chance of securing a better job.</p>
                    <p>The key factor involved in graduating from a best university is choosing the best one.
                            A number of factors are involved in selecting universities for a given profile, apart from references from friends and family members.
                    </p>
                    <p>
                        <ol type="1">
                            <li>Programs available, suiting your field of interest</li>
                            <li>Cost of education</li>
                            <li>Admission criteria</li>
                            <li>Scholarship options</li>
                            <li>Course duration</li>
                            <li>Cost of Living</li>
                            <li>CPT/OPT available</li>
                            <li>University ranking</li>
                        </ol>
                    </p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:100%;" src="img/unishort.png">
                </div>
            </div><p></p>
            <p>A student must begin working on his or her college application about a year in advance to gain insights into themselves and their desire for a college education. The advice and counsel of parents, teachers and mentors are always useful.
                </p>
            <p>A student must begin his/her application process about a year advance to whichever intake planning for. Advice from friends, family and mentors should always be considered in choosing the right university for the desired course of study.
                </p>
            <p>The list we provide is purely based on the preference of the student which includes preferred state, cost of living, tuition fee, course structure, scholarship opportunities and deadlines along with the academic credentials of the student.</p>
            <p>We charge a service fee of <strong>Rs 3000</strong> towards university shortlisting for a given major.</p>
            <br>
            <a href="lalitha@futureinusa.com">lalitha@futureinusa.com</a>
            <p>Please feel free to contact us <strong>@7842648127</strong></p>
        </div>
        
        <div id="sop" class="tabcontent" style="display:none;padding:1%;">
            <h3>SOP</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>The statement of purpose - the only essay which tells the review committee of the university the
                            eligibility of a particular candidate for admission to the respective university’s graduate program.</p>
                    <p>One might always think that the resume /CV and all the transcripts provided would explain the profile
                            of the student. It could be partially true .The statement is an interconnection of all your dreams and
                            goals right from the day you started understanding the importance of education and its benefits.</p>
                    <h4>The statement of purpose showcases -</h4>
                    <p>
                        <ol type="mark">
                            <li>Aims and Aspirations of the student</li>
                            <li>Passion to learn</li>
                            <li>Skills possessed for the related major chosen</li>
                            <li>Personality of the student</li>
                            <li>Future career plans</li>
                            <li>How important is the university’s course in shaping your career</li>
                            <li>Value addition to the organization</li>
                        </ol>
                    </p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:80%;" src="img/sop.png">
                </div>
            </div><p></p>
            <p>This essay depicts the student as an open book before the admissions office and tells why the
                    respective candidate should be granted admission to their university. A statement of purpose drafted in
                    a convincing manner would definitely get the student into the good books of the decision makers. You
                    don’t need to use all the jargons you learnt for your GRE, a statement written in simple language would
                    definitely carry the necessary weightage.</p>
            <p>Apart from a statement of purpose, there is something called personal statement asked by most of the
                    schools.
            </p>
            <p>How different is a personal statement form a statement of purpose?</p>
            <p>What is the importance of a personal statement?</p>
            <p>Do I need to write different statements for every university applied?</p>
            <p>These are few of the questions that every applicant has.</p>
            <p>As a professional service, we charge <strong>Rs 3000</strong> towards drafting SOP/LOR</p>
            <br>
            <p>For more information on the statement and any assistance in drafting a statement of purpose, please
                    feel free to write back.</p>
            <a href="lalitha@futureinusa.com">lalitha@futureinusa.com</a>
            <p>contact no.:7842648127</p> 
        </div>
        <div id="visaGuid" class="tabcontent" style="display:none;padding:1%;">
            <h3>VISA Guidance</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>The immediate step after receiving i-20 from the universities is to start the VISA  process.</p>
                    <p>Below are the steps involved in the <strong>VISA process</strong></p>
                    <p>
                        <ul>
                            <li>Filling the DS-160 form.</li>
                            <li>Arranging for the financial documents</li>
                            <li>SEVIS fee payment</li>
                            <li>VISA slot booking</li>
                        </ul>
                    </p>
                    <p>Starting from guiding through the financial documents needed, we assist the student right from filling the DS 160 form to booking the VISA slot along with mock interview sessions.<br><br> We prepare Q&A for the interview based on the university selected and the profile of the student.</p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:100%;" src="img/visa.png">
                </div>
            </div><p></p>
            <p>Our VISA services include <strong>F1 and B2 (Visiting VISA).</strong></p>
            <p>We charge <strong>Rs 3000</strong> per applicant for the VISA guidance process.</p>
            <br>
            <a href="lalitha@futureinusa.com">lalitha@futureinusa.com</a>
            <p>Please feel free to contact us <strong>@7842648127</strong></p>
        </div>
        <div id="i20Proc" class="tabcontent" style="display:none;padding:1%;">
            <h3>I-20 Process at Profileevaluator</h3>
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <p>Around 300+ students processed and received admit in their desired universities. We at FutureInUsa   process the applications keeping the students interests in my mind. We proudly say that we have placed all our students successfully without any tie ups, in the best of the universities at USA, like USC, CMU, ASU, Northeastern University, SUNY Buffalo . . .</p>
                    <h3>Our Process includes:</h3>
                    
                    <h4>University Shortlisting:</h4>
                    <p>The list we provide is purely based on the preference of the student which includes preferred state, cost of living, tuition fee, course structure, scholarship opportunities and deadlines along with the academic credentials of the student.
                        </p>
                    <h4>SOP/LOR</h4>
                    <p>We provide SOP to the student   after a detailed interaction with the student and understanding his/her skills and abilities. The SOP drafted is purely based on the students profile and not a copy of any other drafted SOP. We guide the student in preparing the diversity statement and also personal statement as requested by the university.
                        </p>
                </div>
                <div class="six wide column">
                    <img class="ui stackable image" style="width:100%;height:80%;" src="img/i20.png">
                </div>
            </div>
    
            <h4>Application Process:</h4>
            <p>The applications submission for the shortlisted universities along with the dispatch of required documents to the university. This is followed by tracking the status of the application until a decision is received from the university. All the login credentials are shared with the student for his/her verification.</p>
            <h4>VISA guidance:</h4>
            <p>Starting from guiding through the financial documents needed, we assist the student right from filling the DS 160 form to booking the VISA slot along with mock interview sessions. We prepare Q&A for the interview based on the university selected and the profile of the student. Our VISA services include F1 and Visiting VISA.
                </p>
            <p>We charge <strong>Rs 12000-15000*</strong> as a service charge for the entire i-20 process based on the students profile.</p>
            <p style="color:red"><strong>NOTE : Charges negotiable based on the profile.</strong></p>
            <br>
            <a href="lalitha@futureinusa.com">lalitha@futureinusa.com</a>
            <p>contact no.:7842648127</p>
        </div>
    </div>
    <div class="one wide column"></div>
</div>
-->


<!-- <script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script> -->
<!-- <script>
   $('.ui.accordion').accordion('refresh');
</script> -->
<script>
    $('.menu .item')
       .tab();
  /*    $('.ui.menu a.item').on('click', function() {   
  $(this)
    .addClass('active')
    .siblings()
    .removeClass('active'); 
})*/
</script>
