<modal ng-model='signup_modal' class="ui small modal login">
    <i ng-click="close_modal()" class="close icon"></i>
    <div class="header">
        Sign in to Evaluation your Profile
    </div>
    <div class="ui segment">
        <div class="ui two column middle aligned relaxed fitted stackable grid">
            <div class="column">
                <div class="ui form segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui blue submit button">Login
                    </div>
                    <button class="ui inverted blue button" id="forgot">Forgot Password</button>

                </div>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
            <div class="top aligned column">
                <h2>Login With</h2>
                <div class="ui facebook button">
                    <i class="facebook icon"></i>
                </div>
                <div class="ui google plus button">
                    <i class="google plus icon"></i>
                </div>
            </div>
        </div>
    </div>
</modal>