<form class="ui form" ng-submit="onFormSubmit()">
    <h4 class="ui dividing header">Looking for any help in SOP/LOR or choosing universities or VISA guidance?</h4>
    <div class="ui ignored info message" ng-if="message">
        {{message}}
    </div>
    <div class="field">
        <label>Name</label>
        <input type="text" ng-model="request.name"/>
    </div>
    <div class="field">
        <label>Email</label>
        <input type="text" ng-model="request.email"/>
    </div>
    <div class="field">
        <label>Mobile</label>
        <input type="text" ng-model="request.phoneNumber"/>
    </div>
    <div class="field">
        <label>Services Looking for</label>
        <select class="ui fluid dropdown" ng-model="request.serviceType">
            <option value="">Select Service Type</option>
            <option value="Full Process">Full Process</option>
            <option value="SOP/LOR">SOP/LOR</option>
            <option value="VISA">VISA</option>
            <option value="Other Services">Other Services</option>
        </select>
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>