

 <!--style="background-color:#096b98;"-->

<div class="ui stackable grid">
        <div class="two wide column"></div>
        <div class="twelve wide column segment">
            <div class="ui piled segment">
                <h2 class="ui header" style="text-align:center;">Terms & conditions</h2>
            </div>
            <div class="ui raised segment" style="text-align:justify;">
                <h3>Website Name: <a href="www.profileevaluator.com"> www.profileevaluator.com</a></h3>
                <h3>Profile Evaluator USER AGREEMENT:</h3>
                <p> 
                   Welcome to www.profileevaluator.com (“Website”) owned and operated by CV Corporate Services Private Limited (CVCORP), a Hyderabad based company.

Before you may use the Website, you must read all of the terms and conditions (“Terms”) By using CVCORP’s products, software, services and Website (“Services”), you understand and agree that CVCORP will treat your use of the Services as acceptance of these terms from such point of usage. You may not use the Services if you do not accept the Terms. If you do not agree to be bound by these Terms, you may not use the Website in any way. It is strongly recommended for you to return to this page periodically to review the most current version of the Terms. CVCORP reserves the right at any time, at its sole discretion, to change or otherwise modify the Terms without prior notice, and your continued access or use of this Website signifies your acceptance of the updated or modified Terms. If you object to these Terms or any subsequent modifications to these Terms or become dissatisfied with the Website in any way, your only recourse is to immediately terminate use of the Website. 
                </p>
               
                <p>Welcome to Profile Evaluator, an on-line service owned by CVCorp, that provides a variety of services to prospective University or Students. Profile Evaluator allows prospective university or students to create profiles, get matched with and recruited by universities, and learn about application and other products and services that may be of interest to University or graduate school bound students.  By using the Profile Evaluator Services, you agree to be bound by this Agreement, whether you are a "Visitor" (which means that you simply browse profileevaluator.com) or you are a "Member" (which means that you have registered with profileevaluator.com as a student, a university, or a third party educational non-profit including, but not limited to educational foundations, or another third party). </p>
                <p>If you use this Site in a manner that requires you to set up an account with a user name and password, you are responsible for maintaining the confidentiality of that user name and password and for restricting access to your computer. Any use by you of another user’s information, personal or otherwise, for any commercial purpose or to obtain direct financial gain (including, but not limited to, use for mass marketing purposes), shall be deemed to be a violation of these Terms. The Site is to be used by you for your personal use only. Commercial uses of the Site are strictly prohibited unless prior written consent from CVCorp has been granted. You agree that you will not use the Site for chain letters, junk mail, “spamming,” solicitations (commercial or non-commercial) or bulk communications of any kind, including but not limited to, distribution lists to any person who has not given specific permission to be included in such a list.</p>

                <p>
                    By registering in the  Website, and furnishing your personal/contact details, you hereby agree that you are interested in our services. You hereby agree that Profile Evaluator team may contact you either electronically or through phone, to understand your interest in the selected products and Services and to offer your services. You specifically understand and agree that by using the Website you authorise Profile Evaluator and its affiliates and partners ( Universities, Educational Loan Consultants, Application processing agencies to contact you for any follow up calls in relation to the Services provided through the Website. You expressly waive the Do Not Call registrations on your phone/mobile numbers for contacting you for this purpose. You also agree that Profile Evaluator reserves the right to make your details available to partners and you may be contacted by the partners for information and for sales through email, telephone and/or sms. You agree to receive promotional materials and/or special offers from Profile Evaluator through emails or sms.
                    </p>
                <p>You represent and warrant to CVCorp that nothing submitted by you to the Site shall contain any content which</p>
                <ol type="i">
                    <li>is harassing, libelous, defamatory, abusive, threatening, harmful, vulgar, obscene, profane, sexually oriented, racially offensive, inaccurate, or otherwise objectionable</li>
                    <li>violates any law, rule or regulation</li>
                    <li>infringes, misappropriates or otherwise violates any copyright, trademark or other intellectual property right, right of privacy, right of publicity or any other right of any entity or person</li>
                    <li>encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law or regulation,</li>
                    <li>advertises or otherwise solicits funds or is a solicitation for goods or services or</li>
                    <li>encourages the use of controlled substances. CVCorp reserves the right to delete any such material from the Site.</li>
                </ol>
                <p>You agree not to impersonate any other person or entity, whether actual or fictitious, including impersonating an employee or consultant of CVCorp or use an inappropriate user name of any kind. The unauthorized submission or distribution of copyrighted or other proprietary content is illegal and could subject you to personal liability or criminal prosecution. If you believe that your copyrighted work or the copyrighted works of others have been infringed, please send a written notification of claimed infringement to CVCorp’s copyright agent with the following information:</p>
                <ol type="i">
                    <li>an electronic or physical signature of the person authorized to act on behalf of the copyright owner;</li>
                    <li>a description of the copyrighted work that you claim has been infringed;</li>
                    <li>a description of where the allegedly infringing material is located on the Site;</li>
                    <li>your telephone number, address and e-mail address;</li>
                    <li>a statement that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent or the law and</li>
                    <li>a statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
                </ol>
                <h3 style="text-align:center;">USE OF 'PROFILEEVALUATOR.COM' AND THE WEB SITE CONTENT</h3>
                <p>Profile Evaluator authorizes you to view and access the Web Site solely for your personal, non-commercial use. You shall not copy or adapt the underlying HTML code that with respect to any portion of the Web Site or the content appearing therein.</p>
                <p>The contents of this Web Site and all other websites under Profile Evaluator’s control which are accessible through this Web Site (www.profileevaluator.com), including all text, images, graphics, logos, links, button icons, software and other content (collectively, "Web Site Content"), copyright, trademark and other laws. You are prohibited from using the Web Site in violation of any applicable foreign, domestic, federal or state laws, rules or regulations or in a manner that that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others. </p>
                <h3>CVCORP SITE SECURITY RULES</h3>
                <p>You are prohibited from violating or attempting to violate the security of any CVCorp Site, including, without limitation,</p>
                <ol type="a">
                    <li>intercepting or accessing data not intended for such user or logging into a server or account which the user is not authorized to access,</li>
                    <li>attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without prior express written authorization,</li>
                    <li>attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to any CVCorp Site, overloading, "flooding", "denial of service attacking", "spamming", "mailbombing" or "crashing",</li>
                    <li>sending unsolicited e-mail, including promotions and/or advertising of products or services, or</li>
                    <li>forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil or criminal liability.</li>
                </ol>
                <h3>PERMITTED USES</h3>
                <p>            CVCorp Sites may be used only for lawful purposes by individuals seeking information about colleges and universities, the application process to such institutions, scholarships and financial aid. CVCorp specifically prohibits any other use of the Web Site. By using the Web Site you agree not to take any of the following actions with respect to any CVCorp Site:</p>
                <ul>
                    <li>Using any device, software or routine to interfere or attempt to interfere with the proper working of any CVCorp Site or any activity being conducted on the Web Site;</li>
                    <li>Not withstanding anything to the contrary contained herein, using or attempting to use any engine, software, tool, agent or other device or mechanism (including, without limitation, customized browsers, spiders, robots, avatars or intelligent agents) to navigate or search any CVCorp Site other than the search engine and software available from CVCorp on such CVCorp Site and other than generally available third party web browsers such as Microsoft Explorer is strictly prohibited;</li>
                    <li>Attempting to decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making up a part of any CVCorp Site;</li>
                    <li>Taking any action which imposes an unreasonable or disproportionately large load on any CVCorp Site's infrastructure, including, without limitation, denial of service attacks</li>
                </ul>
                <!--<h3>USER INFORMATION</h3>
                <p>When you register for the Web Site, you will be asked to provide CVCorp with certain information including, a valid email address, mobile number and your educational details (your "Personal Information"). In addition to the terms and conditions that may be set forth in CVCorp Privacy Policy on this Web Site, you understand and agree that CVCorp may disclose to third parties, on an anonymous basis, certain aggregate information based on the information you provide to CVCorp and your usage of the Web Site. CVCorp will not disclose to any third party your name or other Personal Information without your prior consent, except to the extent necessary or appropriate to comply with applicable laws, subpoena, or other legally compelled disclosure. Any communication about the services provided by CVCorp will be done from the organisation to a verified User, only and if only CVCorp finds any suitable/appropriate requirement for the User. We are not responsible for any data collection and practices of non affiliated third-parties that are linked to from our Web Site.</p>
                <h3>PASSWORD</h3>-->
                <!--<p>When you register at the CVCorp Site, you will be requested to enter a password which will provide you with access to the CVCorp Site, our services and your account. You are responsible for maintaining the secrecy of your password. In the event of a lost password, you agree that CVCorp may email such password to the email address in our records and associated with your account. You agree that CVCorp shall not be liable for any misuse as a result thereof.</p>-->
                <h3>POLICY REGARDING PERSONS WHO VIOLATE THESE TERMS OF USE OR INFRINGE THE INTELLECTUAL PROPERTY RIGHTS OF OTHERS</h3>
                <p>Any violation of these Terms of Use may result in the immediate denial of access to the CVCorp Site and use of the CVCorp Services. CVCorp and our affiliated companies respect the intellectual property of others, and we request that our Users and content partners to do the same. As a condition to your use of this Web Site, you agree not to use the Web Site or any other CVCorp Site to infringe the privacy or intellectual property rights of others in any way. We may terminate the accounts of any account holders, and block access to our Web Site and/or the other CVCorp Sites of any users, who improperly access or use the Personal Information of others or infringe on the copyrights or other intellectual property rights of others. You are deemed to be responsible for all actions taken by persons to whom you grant access to your account.</p>
                <!--<h3>INTERACTIONS WITH OTHER USERS</h3>
                <p>The CVCorp Site may initially and/or in the future contain chat rooms, public posting forums or one-to-one communication forums permitting direct communications with other Users (each a "Public Access Area"). Any information provided by you in these rooms or forum is deemed to be information available for public viewing, not subject to any disclosure restrictions or representations. We are not responsible for any information posted and/or viewed in such portions of our website.</p>
                <p>The information and opinions expressed in materials posted in a Public Access Area are not those of CVCorp, and CVCorp makes no representations or warranties regarding such posted materials. Users should be aware that any information disclosed or posted in any Public Access Area is public, not a private communication. When you voluntarily disclose personal information in a Public Access Area, that information can be collected and used by others and may result in unsolicited messages from other people. You shall not submit, upload or post to a Public Access Area any content which:</p>
                <ul>
                    <li>libels, defames, invades privacy, or threatening;</li>
                    <li>infringes any intellectual property or other right of any person or entity, including but not limited to, violating anyone's copyrights or trademarks;</li>
                    <li>falsifies or deletes author attributions, legal notices or other proprietary designations;</li>
                    <li>violates any law or advocates illegal activity;</li>
                    <li>knowingly contains viruses, corrupted files, or other materials that may cause damage to another's computer, or</li>
                    <li>advertises or otherwise solicits funds or sales of goods or services.</li>
                </ul>-->
                <p>CVCorp reserves the right to remove any content from any Public Access Area at any time and without notice. By posting any content in a Public Access Area, you automatically agree to indemnify CVCorp and its affiliates, members, officers, employees and agents, from and against any and all third party claims, demands, liabilities, costs or expenses, including reasonable attorneys' fees, resulting from your breach of these posting restrictions. By posting in a Public Access Area any content authored or owned by you, you automatically</p>
                <ul>
                    <li>grant to all other Public Access Area participants, and any other person or entity affiliated with the Public Access Area, a perpetual, royalty-free, irrevocable and unrestricted worldwide right and license to use, reproduce, and distribute the posted content for the limited purposes of discussion and commentary,</li>
                    <li>grant to CVCorp and its affiliates a perpetual, royalty-free, irrevocable and unrestricted worldwide right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from and distribute the posted content or incorporate the posted content into any form, medium, or technology now known or later developed, for any purposes deemed appropriate by CVCorp.</li>
                </ul>
                <h3>NO WARRANTIES</h3>
                <p>     This Web Site acts as a venue for students to search select and apply to universities CVCorp is not involved in the actual admission process between universities and students, or any transactions with advertisers appearing on the Web Site or in newsletters. As a result, CVCorp has no control over the quality, safety or legality of the offers, the truth or accuracy of the listings, the intent or ability of colleges and universities to offer admission. CVCorp is in no way responsible for the ability of university to provide a quality education. CVCorp is not responsible for the information or recommendations appearing on any forum or chat room associated with any CVCorp Site. 
                Certain portions of the Web Site Content may indicate to you your likelihood of admission to a particular university. Such services are intended to be for directional purposes only and should not be relied upon exclusively in your college search process. Always talk to experts such as college admissions personnel and high school counsellors if you are unsure of your chances of admission to a particular college or university. You assume all risks regarding your use of this tool and furthermore understand that any decision to apply or not to apply to any particular college or university and the resulting consequences are your sole responsibility. CVCorp does not warrant that any CVCorp site will operate error-free or that any CVCorp site and its servers are free of computer viruses or other harmful mechanisms. if your use of any CVCorp site results in the need for servicing or replacing equipment or data, CVCorp is not responsible for those costs. the CVCorp sites and web site content are provided on an "as is" basis without any warranties of any kind. to the fullest extent permitted by law, CVCorp disclaims all warranties, whether express or implied, including the warranty of merchantability, fitness for particular purpose and non-infringement.
                </p>
                <h3>LIMITATION ON DAMAGES</h3>
                <p>In no event shall CVCorp, its affiliated entities, its suppliers, or any third parties mentioned on any CVCorp site be liable for any damages whatsoever (including, without limitation, incidental and consequential damages, lost profits, or damages resulting from lost data or business interruption) resulting from the use or inability to use any CVCorp site and the web site content, whether based in contract, tort, or any other legal theory, and whether or not CVCorp is advised of the possibility of such damages.</p>
                <p>Use of the Web Site is not an application to colleges and universities. The Web Site merely assists Users in evaluating alternative colleges and universities as part of the college application process. Students are encouraged to use CVCorp.com as a guide to assist them in determining which schools they should consider applying to link to other Sites.</p>
                <p>The Web Site and the other CVCorp Sites contain links to third party web sites. These links are provided solely as a convenience to you and not as an endorsement by CVCorp of the contents on such third-party Web sites. CVCorp is not responsible for the content of linked third-party sites and does not make any representations regarding the content or accuracy of materials on such third party Web sites. If you decide to access linked third party Web sites through a CVCorp Site, you do so at your own risk."POWERED BY" CONTENT CVCorp may embed certain features, functionality and content of third party sites within the CVCorp site. Such integrations will be labeled as "Powered By," "Provided By," or similar language to that effect. As with links to other sites CVCorp is not responsible for the content of embedded third-party sites and does not make any representations regarding the content or accuracy of materials. If you decide to interact with such embedded content or functionality, you do so at your own risk.</p>
                <h3>NO RESALE OR UNAUTHORIZED COMMERCIAL USE</h3>
                <p>You agree not to resell or assign your rights or obligations under these Terms of Use. You also agree not to make any unauthorized commercial use of any  CVCorp Site. INDEMNITY  You agree to defend, indemnify, and hold harmless CVCorp its members, officers, directors, employees and agents, from and against any claims, actions or demands, including, without limitation, reasonable legal and accounting fees, arising from or resulting to your use of any CVCorp Site or your breach of these Terms of Use. CVCorp shall provide notice to you promptly of any such claim, suit, or proceeding and shall assist you, at your expense, in defending any such claim, suit or proceeding. </p>
                <h3>ADDITIONAL TERMS OF USE</h3>
                <p>Certain areas of this Web Site and the other CVCorp Sites are subject to additional terms of use. By using such areas, or any part thereof, you agree to be bound by the additional terms of use applicable to such areas.</p>
                <p>Without limiting any of the other disclaimers of warranty set forth in these Terms of Use, CVCorp does not provide or make any representations, warranties or guarantees as to the quality or nature of any of the products or services purchased through Web Site or any other CVCorp Site. Any such representation, warranty or guaranty would be furnished solely by the provider of the product or service, under the terms agreed to by the provider.</p>
            </div>

        </div>
        <div class="two wide column"></div>
</div>