
<form class="result-body form" ng-submit="saveUniversity(university)">
    <div class="ui grid">
        <!-- <div class="one wide column"></div> -->
        <div class="sixteen wide column sectionContainer" style="">
            <div class="ui grid stackable universityMainDiv">
                <div class="three wide column"></div>
                <div class="ten wide column segment fluid">
                    <h4 class="universityHomeText1">Home > University Search > {{university.UniversityName}}</h4>
                    <h2 class="universityHomeText2">
                        {{university.UniversityName}} -<small>{{university.Place}}, {{university.State}}</small>
                    </h2>
                        <div class="ui top attached tabular menu universityTabNav">
                            <div class="active item" data-tab="introduction" style="cursor:pointer" style="">Introduction</div>
                            <div class="item" data-tab="deadlines" style="cursor:pointer" style="margin-left:0.5%;">DeadLines</div>
                            <div class="item" data-tab="programmes" style="cursor:pointer">Programmes</div>
                        </div>
                        <div style="display:none">
                            <button class="ui button checkUrChancesBtn" style="">CHECK YOUR CHANCES</button>
                        </div>

                </div>
                <div class="three wide column"></div>
            </div>
        </div>
        <!-- <div class="one wide column"></div> -->
    </div>
    <div class="ui grid stackable mainSubDiv">
        <div class="three wide column"></div>
        <div class="ten wide column segment fluid" style="background-color:#f1f1f1 !important;">
            <!--Introduction-->
            <div class="ui bottom attached active tab" data-tab="introduction">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <h3 class="headsInMobile">ABOUT UNIVERSITY</h3>
                    </div>
                    <div class="five wide column">
                        <h4>
                            <span>Rating : </span><span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                            <span>Rank : </span><span><b>{{university.Ranking || 'N.A'}}</b></span>
                        </h4>
                    </div>
                </div>
                <div class="ui stackable fluid segment"  style="background-color:#fff;">    
                <img class="ui small left floated image" style="width:10%;height:10%;margin-top:1%;clear:both;" ng-src="{{university.Logo}}">
                    <p style="white-space: pre-wrap;text-align:justify;">
                        {{university.Description}}
                    </p>
                </div>
                <p class="improveText">
                    <a href="mailto:charan@futureinusa.com?subject=Suggenstion to improve contents of University of Vermont,Burlington,VERMONT">Improve the content !</a>
                </p>
        
                <br>
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h3>SCORES</h3>
                    </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="eight wide column">
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                <h4>Required Scores</h4>
                                <h5>
                                    <div class="ui grid">
                                        <div class="four wide column">
                                            GRE:<br>
                                            TOEFL:<br>
                                            IELTS:<br>
                                            PTE:<br>
                                            GPA:
                                        </div>
                                        <div class="twelve wide column">
                                            {{university.GRE}}<br>
                                            {{university.TOEFL}}<br>
                                            {{university.IELTS}}<br>
                                            {{university.PTE}}<br>
                                            {{university.GPA}}
                                        </div>
                                    </div>
                                    <!--GRE : <span style="padding-left:10%;"></span><br>
                                    TOEFL : <span style="padding-left:6.35%;"></span><br>
                                    IELTS : <span style="padding-left:8.4%;">{{university.IELTS}}</span><br>
                                    PTE : <span style="padding-left:11%;">{{university.PTE}}</span><br>
                                    GPA : <span style="padding-left:10%;">{{university.GPA}}</span>
                                    GRE<span style="padding-left:8%">:</span><span style="padding-left:10%;">{{university.GRE}}</span><br>
                                    TOEFL<span style="padding-left:4%">:</span><span style="padding-left:10%;">{{university.TOEFL}}</span><br>
                                    IELTS<span style="padding-left:6%">:</span><span style="padding-left:10%;">{{university.IELTS}}</span><br>
                                    PTE<span style="padding-left:8.3%">:</span><span style="padding-left:10%;">{{university.PTE}}</span><br>
                                    GPA<span style="padding-left:8%">:</span><span style="padding-left:10%;">{{university.GPA}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>    
                    <div class="eight wide column">
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                <h4>Your Scores</h4>
                                <h5 ng-if="isLoggedin">
                                    <div class="ui grid">
                                        <div class="four wide column">
                                            <span style="color:{{university.GRE < searchParams.greScore ? '#27ae60' : university.GRE == searchParams.greScore ? '#ff8322' : 'red'}}">GRE:</span><br>
                                            <span style="color:{{university[searchParams.exam] < searchParams.examScore ? '#27ae60' : university[searchParams.exam] == searchParams.examScore ? '#ff8322' : 'red'}}">{{searchParams.exam}}:</span><br>
                                            <span style="color:{{university.GPA < searchParams.gpa ? '#27ae60' : university.GPA == searchParams.gpa ? '#ff8322' : 'red'}}">GPA:</span>
                                        </div>
                                        <div class="twelve wide column">
                                            <span style="color:{{university.GRE < searchParams.greScore ? '#27ae60' : university.GRE == searchParams.greScore ? '#ff8322' : 'red'}}">{{searchParams.writtenGRE === 'Yes' ? searchParams.greScore : searchParams.greExpectedScore}}</span><br>
                                            <span style="color:{{university[searchParams.exam] < searchParams.examScore ? '#27ae60' : university[searchParams.exam] == searchParams.examScore ? '#ff8322' : 'red'}};">{{searchParams.writtenEnglishTest === 'Yes' ? searchParams.examScore : searchParams.expectedExamScore}}</span><br>
                                            <span style="color:{{university.GPA < searchParams.gpa ? '#27ae60' : university.GPA == searchParams.gpa ? '#ff8322' : 'red'}};">{{searchParams.gpa}}</span>
                                        </div>
                                    </div>
                                </h5>
                                <a ng-if="!isLoggedin" ui-sref="home">
                                    <p style="background-color:#023a5b;color:#fff;padding:2%;font-size:16px;border-radius:5px;text-align:center;width:30%;">Login</p> 
                                    <p>to view your chances for this University.</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="ui grid">
                        <div class="sixteen wide column" id="implinksForWeb">
                            <h3>IMPORTANT LINKS</h3>
                        </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="sixteen wide column" id="implinksForWeb">
                        <h5>
                                <!-- <div class="ui grid">
                                        <div class="four wide column">
                                            <p>Web Site:</p>
                                            <p>DeadLine Link:</p>
                                            <p>Scholarship Link:</p>
                                            <p>Scores Link:</p>
                                            <p>Courses Link:</p>
                                        </div>
                                        <div class="twelve wide column">
                                            <p><a target="_blank" href="{{university.WebSiteLink}}">{{university.WebSiteLink}}</a></p>
                                            <p><a target="_blank" href="{{university.DeadlineLink}}">{{university.DeadlineLink}}</a></p>
                                            <p><a target="_blank" href="{{university.ScholarShipURL}}">{{university.ScholarShipURL}}</a></p>
                                            <p><a target="_blank" href="{{university.ScoresLink}}">{{university.ScoresLink}}</a></p>
                                            <p><a target="_blank" href="{{university.CoursesLink}}">{{university.CoursesLink}}</a></p>
                                        </div>
                                    </div> -->
                            <p style="float:left;">Web Site: </p><p style="margin-left:18%;word-wrap:break-word;"> <a target="_blank" href="{{university.WebSiteLink}}">{{university.WebSiteLink}}</a></p>
                            <p style="float:left;">DeadLine Link: </p><p style="margin-left:18%;word-wrap:break-word;"><a target="_blank" href="{{university.DeadlineLink}}">{{university.DeadlineLink}}</a></p>
                            <p style="float:left;">Scholarship Link: </p><p style="margin-left:18%;word-wrap:break-word;"><a target="_blank" href="{{university.ScholarShipURL}}">{{university.ScholarShipURL}}</a></p>
                            <p style="float:left;">Scores Link: </p><p style="margin-left:18%;word-wrap:break-word;"><a target="_blank" href="{{university.ScoresLink}}">{{university.ScoresLink}}</a></p>
                            <p style="float:left;">Courses Link: </p><p style="margin-left:18%;word-wrap:break-word;"><a target="_blank" href="{{university.CoursesLink}}">{{university.CoursesLink}}</a></p>
                        </h5>
                    </div>    
                </div>
                

                <!--this code is for mobile start-->
                <div class="ui grid implinksForMob">
                        <div class="sixteen wide column">
                            <h3>IMPORTANT LINKS</h3>
                        </div>
                </div>
                <div class="ui grid fluid segment implinksForMob" style="background-color:#fff;">
                    <div class="sixteen wide column">
                        <h5>
                            Web Site:<br>
                            <a target="_blank" href="{{university.WebSiteLink}}">Click here</a><br>
                            DeadLine Link:<br>
                            <a target="_blank" href="{{university.DeadlineLink}}">Click here</a><br>
                            Scholarship Link:<br>
                            <a target="_blank" href="{{university.ScholarShipURL}}">Click here</a><br>
                            Scores Link:<br>
                            <a target="_blank" href="{{university.ScoresLink}}">Click here</a><br>
                            Courses Link:<br>
                            <a target="_blank" href="{{university.CoursesLink}}">Click here</a><br>
                        </h5>
                    </div>    
                </div>
                    <!--this code is for mobile end-->
                <div class="ui grid">
                        <div class="sixteen wide column">
                            <h3>LOCATION</h3>
                        </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="sixteen wide column">
                        <!--for web start-->
                        <h5 id="locationWeb">
                            <div class="ui grid">
                                <div class="three wide column">
                                    ESTD Year:<br>
                                    Type:<br>
                                    TOEFL Code:<br>
                                    GRE Code:<br>
                                    Setting:<br>
                                    Calender:<br>
                                    Temperature:<br>
                                    Address:
                                </div>
                                <div class="thirteen wide column">
                                    {{university.EstdYear}}<br>
                                    {{university.UniversityType}}<br>
                                    {{university.TOEFL_ETSCode}}<br>
                                    {{university.GRE_ETSCode}}<br>
                                    {{university.Setting}}<br>
                                    {{university.Calender}}<br>
                                    23<sup>o</sup>F<br>
                                    {{university.Address}}<br>
                                    
                                </div>
                            </div>
                            <span style="float:right;">
                                <a class="ui facebook tiny icon button" target="_blank" ng-href="{{university.FBLink}}">
                                    <i class="facebook icon"></i>
                                </a>
                                <a class="ui twitter tiny icon button" target="_blank" ng-href="{{university.TwitterLink}}">
                                    <i class="twitter icon"></i>
                                </a>
                                <a class="ui youtube tiny icon button" target="_blank" ng-href="{{university.YouTubeLink}}">
                                    <i class="youtube icon"></i>
                                </a>
                            </span>
                        </h5>
                        <!--for web end-->

                        <!--for mobile start-->
                        <h5 id="locationMob">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        ESTD Year:<br>
                                        Type:<br>
                                        TOEFL Code:<br>
                                        GRE Code:<br>
                                        Setting:<br>
                                        Calender:<br>
                                        Temperature:<br>
                                        Address:
                                    </div>
                                    <div class="ten wide column">
                                        {{university.EstdYear}}<br>
                                        {{university.UniversityType}}<br>
                                        {{university.TOEFL_ETSCode}}<br>
                                        {{university.GRE_ETSCode}}<br>
                                        {{university.Setting}}<br>
                                        {{university.Calender}}<br>
                                        23<sup>o</sup>F<br>
                                        {{university.Address}}<br>
                                        
                                    </div>
                                </div>
                                <span style="float:right;">
                                    <a class="ui facebook tiny icon button" target="_blank" ng-href="{{university.FBLink}}">
                                        <i class="facebook icon"></i>
                                    </a>
                                    <a class="ui twitter tiny icon button" target="_blank" ng-href="{{university.TwitterLink}}">
                                        <i class="twitter icon"></i>
                                    </a>
                                    <a class="ui youtube tiny icon button" target="_blank" ng-href="{{university.YouTubeLink}}">
                                        <i class="youtube icon"></i>
                                    </a>
                                </span>
                            </h5>
                        <!--for mobile end-->
                    </div>    
                </div>
            </div> 
            <!--Introduction end-->
            <!--Deadlines-->
            <div class="ui bottom attached tab" data-tab="deadlines">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h3>DEADLINES</h3>
                    </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="four wide column">
                        <h5>
                            Fall :<br>
                            Spring :<br>
                            Summer :
                        </h5>
                    </div>    
                    <div class="twelve wide column">
                        <h5>
                            {{university.FallDeadline}}<br>
                            {{university.SpringDeadline}}<br>
                            {{university.SummerDeadline}}
                        </h5>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h3>FEE</h3>
                    </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="four wide column">
                        <h5>
                            <p>Application :</p>
                            <p>Tuition (2 years - Considering number of Credits):</p>
                        </h5>
                    </div>    
                    <div class="twelve wide column">
                        <h5>
                            <p>{{university.ApplicationFee|currency}}</p>
                            <p class="padInMob" style="">{{university.TutionFee|currency}}</p>
                        </h5>
                    </div>
                </div>
            
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h3>SCHOLARSHIP DETAILS</h3>
                    </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="eight wide column">
                        <span style="float:left;"><h5>WES</h5></span><span style="margin-left:10%;"><i class="large box circle icon" ng-class="university.WESIndicator ? 'check' : 'remove'"></i></span>
                    </div>    
                    <div class="eight wide column">
                        <span style="float:left;"><h5>Scholarship</h5></span><span style="margin-left:10%;"><i class="large box circle icon " ng-class="university.ScholarshipIndicator ? 'check' : 'remove'"></i></span>
                    </div>
                </div>
            </div>
            <!--Dealines end-->
            <!--programmes-->
            <div class="ui bottom attached tab" data-tab="programmes">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h3>DEPARTMENTS</h3>
                    </div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="sixteen wide column">
                        <div class="ui top attached tabular menu">
                            <a class="active item" style="color:#4e4e4e !important;" data-tab="first">MS</a>
                            <a class=" item" style="color:#4e4e4e !important;" data-tab="second">ME</a>
                            <a class=" item" style="color:#4e4e4e !important;" data-tab="third">Ph.d</a>
                        </div>
                        <div class="ui bottom attached active tab segment custom-scroll" data-tab="first">
                            <div class="list-of-course">
                                <div class="course" ng-repeat="course in university.CoursesOfferedSpringMS">
                                    {{course}}
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment custom-scroll" data-tab="second">
                            <div class="list-of-course">
                                <div class="course" ng-repeat="course in university.CoursesOfferedSpringME">
                                    {{course}}
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment custom-scroll" data-tab="third">
                            <div class="list-of-course">
                                <div class="course" ng-repeat="course in university.CoursesOfferedSpringPHD">
                                    {{course}}
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>

                <!-- <div class="ui grid">
                    <div class="five wide column">
                        <h3>SCORES</h3>
                    </div>
                    <div class="six wide column"></div>
                    <div class="five wide column"></div>
                </div>
                <div class="ui grid fluid segment" style="background-color:#fff;">
                    <div class="eight wide column">
                        <div class="ui grid">
                            <div class="eight wide column">
                                <h4>Your Scores</h4>
                                <h5>
                                    GRE :<br>
                                    TOEFL :<br>
                                    IELTS :<br>
                                    PTE :<br>
                                    GPA :
                                </h5>
                            </div>
                            <div class="eight wide column">
                                <br>
                                <h5>
                                    {{university.GRE}}<br>
                                    {{university.TOEFL}}<br>
                                    {{university.IELTS}}<br>
                                    {{university.PTE}}<br>
                                    {{university.GPA}}
                                </h5>
                            </div>
                        </div>
                    </div>    
                    <div class="eight wide column">
                        
                    </div>
                </div> -->
            </div>

            <!--programmes end-->
        </div>
        <div class="three wide column">
            <a href="https://www.credila.info/psites/profile-evaluator/" target="_blank" style="font-size:12px;text-align:center;">
                <img class="addImage" src="/img/hdfc_credila.jpg">
                <p class="addText">OUR EDUCATIONAL LOAN PARTNER</p>
            </a>
        </div>
    </div>
<br><br>
    <!-- <div class="five column stackable ui grid">
        <div class="column" style="border:1px solid red;">
          <img>
        </div>
        <div class="column" style="border:1px solid green">
          <img>
        </div>
        <div class="column" style="border:1px solid black;">
          <img>
        </div>
        <div class="column" style="border:1px solid red;">
          <img>
        </div>
        <div class="column" style="border:1px solid blue;">
          <img>
        </div>
    </div>     -->
<!--======================================================================================================-->

    <!--<div class="stackable ui grid">
        <div class="eight wide column uni-data" style="position:relative;">
            <div class="ui stackable fluid segment custom-scroll">
                <img class="ui small left floated image" ng-src="{{university.Logo}}">
                <h3>{{university.UniversityName}} -<small>{{university.Place}}, {{university.State}} 
                    </small>
                </h3>
                <p style="white-space: pre-wrap;">{{university.Description}}</p>
                <!--<textarea rows="7" style="min-width: 100%" data-ng-model="university.Description"></textarea>-->
                <!--<button type="submit">Save</button>-->
            <!--</div>
            <p style="float:right;position: absolute;bottom: 40px;right: 10px;">
                <a href="mailto:charan@futureinusa.com?subject=Suggenstion to improve contents of University of Vermont,Burlington,VERMONT">Improve the content !</a>
            </p>
        </div>
        <div class="three wide column imp-data">
            <div class="ui stackable card small" style="width:100% !important;">
                <div class="content">
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.FallDeadline}} </h5>
                    </div>
                    <span>Fall</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.SpringDeadline}} </h5>
                    </div>
                    <span>Spring</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.SummerDeadline}} </h5>
                    </div>
                    <span>Summer</span>
                    <br>
                    <div class="ui divider"></div>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.GRE}}</h5>
                    </div>
                    <span>GRE</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header"> {{university.TOEFL}}</h5>
                    </div>
                    <span>TOEFL</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.IELTS}}</h5>
                    </div>
                    <span>IELTS</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header"> {{university.PTE}}</h5>
                    </div>
                    <span>PTE</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.GPA}}</h5>
                    </div>
                    <span>GPA</span>
                    <br>
                    <div class="ui divider"></div>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.ApplicationFee|currency}}</h5>
                    </div>
                    <span>Application</span>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header">{{university.TutionFee|currency}}</h5>
                    </div>
                    <span>Tuition</span>
                    <br>
                    <div class="ui divider"></div>
                    <div class="right floated meta">
                        <h5 class="ui header"><i class="box circle icon" ng-class="university.WESIndicator ? 'check' : 'remove'"></h5></i>
                    </div>
                    <span>WES</span>
                    <br>
                    <br>
                    <div class="right floated meta">
                        <h5 class="ui header"><i class="box circle icon" ng-class="university.ScholarshipIndicator ? 'check' : 'remove'"></h5></i>
                    </div>
                    <span>Scholarship</span>
                </div>
            </div>
        </div>
        <div class="five wide column map-course">
            <div id="map" map-box-map="" data-lat="university.LatLng.latitude" data-lng="university.LatLng.longitude" data-zoom-level="13" data-map-id="'mapbox.streets'" data-markers="[[university.LatLng.latitude, university.LatLng.longitude]]"></div>
            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="first">MS</a>
                <a class=" item" data-tab="second">ME</a>
                <a class=" item" data-tab="third">Ph.d</a>
            </div>
            <div class="ui bottom attached active tab segment custom-scroll" data-tab="first">
                <div class="list-of-course">
                    <div class="course" ng-repeat="course in university.CoursesOfferedSpringMS">
                        {{course}}
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment custom-scroll" data-tab="second">
                <div class="list-of-course">
                    <div class="course" ng-repeat="course in university.CoursesOfferedSpringME">
                        {{course}}
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment custom-scroll" data-tab="third">
                <div class="list-of-course">
                    <div class="course" ng-repeat="course in university.CoursesOfferedSpringPHD">
                        {{course}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable fluid grid extra-info">
        <div class="seven column row">
            <div class="ui column" style="padding-left: 0px;">
                <div class="ui message">
                    <span>ESTD Year-</span><b>{{university.EstdYear}}</b>
                </div>
            </div>
            <div class="ui column">
                <div class="ui message">
                    <span>Type-</span><b>{{university.UniversityType}}</b>
                </div>
            </div>
            <div class="ui column">
                <div class="ui message">
                    <span>Setting-</span><b>{{university.Setting}}</b>
                </div>
            </div>
            <div class="ui column">
                <div class="ui message" style="padding-right: 19px;padding-left: 19px;">
                    <span>Calendar-</span><b>{{university.Calender}}</b>
                </div>
            </div>
            <div class="ui column">
                <div class="ui message" style="padding-right: 19px;padding-left: 19px;">
                    <span>Temperature-</span><b>23<sup>o</sup>F</b>
                </div>
            </div>
            <div class="ui column">
                <div class="ui message">
                    <span>TOEFL Code-</span><b>{{university.TOEFL_ETSCode}}</b>
                </div>
            </div>
            <div class="ui column">
                <div class="ui message">
                    <span>GRE Code-</span><b>{{university.GRE_ETSCode}}</b>
                </div>
            </div>
        </div>
    </div>

    <div class="ui stackable grid imp-links">
        <div class="ui five wide column">
            <h3>Address</h3>
            <p>{{university.Address}}</p>
            <a class="ui facebook tiny icon button" target="_blank" ng-href="{{university.FBLink}}">
                <i class="facebook icon"></i>
            </a>
            <a class="ui twitter tiny icon button" target="_blank" ng-href="{{university.TwitterLink}}">
                <i class="twitter icon"></i>
            </a>
            <a class="ui youtube tiny icon button" target="_blank" ng-href="{{university.YouTubeLink}}">
                <i class="youtube icon"></i>
            </a>
        </div>
        <div class="ui seven wide column">
            <h3>Important Links</h3>
            <h4 style="margin-top: 10px;margin-bottom: 3px;word-wrap:break-word;">Web Site-<a target="_blank" href="{{university.WebSiteLink}}">{{university.WebSiteLink}}</a></h4>
            <h4 style="margin-top: 0px; margin-bottom: 3px;word-wrap:break-word;">DeadLine Link-<a target="_blank" href="{{university.DeadlineLink}}">{{university.DeadlineLink}}</a></h4>
            <h4 style="margin-top: 0px;margin-bottom: 3px;word-wrap:break-word;">Scholarship Link-<a target="_blank" href="{{university.ScholarShipURL}}">{{university.ScholarShipURL}}</a></h4>
            <h4 style="margin-top: 0px;margin-bottom: 3px;word-wrap:break-word;">Scores Link-<a target="_blank" href="{{university.ScoresLink}}">{{university.ScoresLink}}</a></h4>
            <h4 style="margin-top: 0px;word-wrap:break-word;">Courses Link-<a target="_blank" href="{{university.CoursesLink}}">{{university.CoursesLink}}</a></h4>
        </div>
        <div class="ui four wide column">
            <!--<img style="width:100%" src="https://lh5.googleusercontent.com/-OkoDK-GZgog/Vxt79aqZ0hI/AAAAAAAA9DM/iRBl94F8awsHE3qP1FoHe94wy3bP6yZGQCL0B/w1044-h556-no/2016-04-23.jpg">-->
        <!--<p ng-if="university.SponsoredBy">
                Supported By:
                <a target="_blank" ng-href="{{university.SponsorLink}}">
                    <img ng-if="university.SponsorLogo1" style="height:100px;" ng-src="{{university.SponsorLogo1}}">
                    <span ng-if="!university.SponsorLogo1">{{university.SponsoredBy}}</span>
                </a>
            </p>
        </div>
    </div>-->
</form>

<!-- <div class="container-fluid" style="margin-top:-1.09% !important;">
        <div class="container-fluid sectionContainer">
                <div><p class="paraHomeProfile">Home > University Search > {{university.UniversityName}}</p>
                <p class="subHeadProfile">{{university.UniversityName}} -<small style="font-size:16px;">{{university.Place}}, {{university.State}}</p>
                <span class="checkBtnHideInWeb"><button class="checkYourChancesbtn">CHECK YOUR CHANCES</button></span>
              </div><br>
                <!--nav tabs start-->
                <!--<div class="row">
                  <div class="col-md-2 col-sm-0 col-xs-0"></div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <div style="float: left !important;">
                      <ul class="nav nav-tabs">
                            <li class="active navLinks"><a data-toggle="pill" style="font-family:'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;" href="#intro">Introduction</a></li>
                            <li class="navLinks"><a data-toggle="pill" style="font-family:'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;" href="#deadlines">DeadLines</a></li>
                            <li class="navLinks" style="margin-left: -2px !important;font-family:'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;"><a data-toggle="pill" href="#programs">Programmes</a></li>              
                      </ul>
                    </div>
                    <span class="btnSpan checkBtnHideInMob"><button class="checkYourChancesbtn">CHECK YOUR CHANCES</button></span>
                  </div>
                  <div class="col-md-2 col-sm-0 col-xs-0"></div>
                </div>
        </div>
                <!--nav tabs end-->
             <!-- section 1 end-->
            
             <!-- section 2 start-->
            <!--<div class="container-fluid" style="border:1px solid red;">
               <!--tab panes start-->
               <!--<div class="row">
                  <div class="col-md-2 col-sm-0 col-xs-0"></div>
                  <div class="col-md-8 col-sm-12 col-xs-12" style="background-color: #ecf0f1;">
                    <div class="tab-content">
                        <div id="intro" class="tab-pane fade in active">
                                <p class="navTabPara" style="float:left;font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;margin-bottom:1%;">ABOUT UNIVERSITY</p>
                          <div style="float:right;">
                                <span>Rating : </span><span><div class="ui star rating" data-ratings="university.Rating" data-max-rating="5" data-readonly="true"></div></span>
                                <span>Rank : </span><span><b>{{university.Ranking || 'N.A'}}</b></span>
                            </div>
                          <div class="row navTabRow">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: white;">
                                <img class="ui small left floated image" style="width:10%;height:10%;margin-top:1%;" ng-src="{{university.Logo}}">
                                <p class="largText" style="font-family:'Open Sans'!important;">{{university.Description}}</p>
                                <p style="float:right;position: absolute;bottom: 0px;right: 10px;font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;font-size: 14px;">
                                    <a href="mailto:charan@futureinusa.com?subject=Suggenstion to improve contents of University of Vermont,Burlington,VERMONT">Improve the content !</a>
                                </p>
                            </div>
                          </div>
                          <p class="navTabPara">SCORES</p>
                          <div class="row navTabRow">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: white;">
                                    <div class="row"style="margin-top:2%;" >
                                            <div class="col-md-6 col-xs-6">
                                              <p class="navTabSubPara">Required Scores</p>
                                              <div class="row">
                                                  <div class="col-md-6 col-xs-6">
                                                    <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                    GRE :<br>
                                                    TOEFL :<br>
                                                    IELTS :<br>
                                                    PTE :<br>
                                                    GPA :
                                                    </p><br>
                                                  </div>
                                                  <div class="col-md-6 col-xs-6">
                                                    <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                        {{university.GRE}}<br>
                                                        {{university.TOEFL}}<br>
                                                        {{university.IELTS}}<br>
                                                        {{university.PTE}}<br>
                                                        {{university.GPA}}
                                                    </p><br>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                              <p class="navTabSubPara" >Your Scores</p>
                                              <div class="row">
                                                    <div class="col-md-6 col-xs-6">
                                                      <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                      GRE :<br>
                                                      TOEFL :<br>
                                                      IELTS :<br>
                                                      PTE :<br>
                                                      GPA :
                                                      </p><br>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6">
                                                      <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                          {{university.GRE}}<br>
                                                          {{university.TOEFL}}<br>
                                                          {{university.IELTS}}<br>
                                                          {{university.PTE}}<br>
                                                          {{university.GPA}}
                                                      </p><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                              <!-- <hr style="border: solid 1px #979797 !important;">
                              <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                  <p class="navTabParaScores">Your Scores</p>
                                    <div class="scoresClass">
                                      <p class="coloredScores colorGreen">GRE: 295 </p>
                                      <p class="coloredScores colorRed">TOEFL: 79 </p>
                                      <p class="coloredScores colorRed">IELTS: 6.5 </p>
                                      <p class="coloredScores colorGreen" style="margin-left: 5%;">GPA: 3 </p>
                                    </div>
                                 </div>
                                 <div class="col-md-4 col-sm-12 col-xs-12">
                                  <p class="navTabParaScores" style="float: right;">University Type for You</p>
                                  <p class="AMBITIOUS">AMBITIOUS</p>
                                 </div>
                              </div> -->
                            <!--</div>
                          </div>

                          <p class="navTabPara">IMPORTANT LINKS</p>
                          <div class="row navTabRow">
                            <div class="col-md-12 col-sm-12 col-xs-12 rowSubBlock" style="background-color: white;">
                                  <div class="row" style="margin-bottom: 1%;">
                                     <div class="col-md-4 col-xs-5">
                                                  <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;margin-left: 0px !important;">
                                                  WebSite :<br>
                                                  DeadLien Link :<br>
                                                  Scholarship Link :<br>
                                                  Scores Link :<br>
                                                  Coureses Link :
                                                  </p>
                                              </div>
                                              <div class="col-md-8 col-xs-7">
                                                  <p class="navTabSubParaText" style="word-wrap: break-word !important;">
                                                  <a target="_blank" href="{{university.WebSiteLink}}">{{university.WebSiteLink}}</a><br>
                                                  <a target="_blank" href="{{university.DeadlineLink}}">{{university.DeadlineLink}}</a><br>
                                                  <a target="_blank" href="{{university.ScholarShipURL}}">{{university.ScholarShipURL}}</a><br>
                                                  <a target="_blank" href="{{university.ScoresLink}}">{{university.ScoresLink}}</a><br>
                                                  <a target="_blank" href="{{university.CoursesLink}}">{{university.CoursesLink}}</a>'
                                                  </p><br>
                                              </div>
                                          </div>
                                        <br>
                                </div>
                          </div>

                          <p class="navTabPara">LOCATION</p>
                          <div class="row navTabRow">
                            <div class="col-md-12 col-sm-12 col-xs-12 rowSubBlock" style="background-color: white;">
                              <div class="row" style="margin-top: 3%;margin-bottom: 2%;">
                                <!--<div class="col-md-4 col-xs-12">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.4207539259214!2d78.3974189500191!3d17.48741710445744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb918bdf1f715f%3A0xda9e84b0696e4697!2sCVCORP!5e0!3m2!1sen!2sin!4v1495191772166" width="100%" height="212" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>-->
                                <!--<div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                              <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                            ESTD Year :<br>
                                            Type :<br>
                                            Setting :<br>
                                            Calender :<br>
                                            Temperature :<br>
                                            TOEFL Code :<br>
                                            GRE Code :<br>
                                            Address :
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                              <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                              {{university.EstdYear}}<br>
                                              {{university.UniversityType}}<br>
                                              {{university.Setting}}<br>
                                              {{university.Calender}}<br>
                                              23<sup>o</sup>F<br>
                                              {{university.TOEFL_ETSCode}}<br>
                                              {{university.GRE_ETSCode}}<br>
                                              {{university.Address}}<br>
                                              <span style="float:right;">
                                                  <a class="ui facebook tiny icon button" target="_blank" ng-href="{{university.FBLink}}">
                                                      <i class="facebook icon"></i>
                                                  </a>
                                                  <a class="ui twitter tiny icon button" target="_blank" ng-href="{{university.TwitterLink}}">
                                                      <i class="twitter icon"></i>
                                                  </a>
                                                  <a class="ui youtube tiny icon button" target="_blank" ng-href="{{university.YouTubeLink}}">
                                                      <i class="youtube icon"></i>
                                                  </a>
                                              </span>
                                              </p><br>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div id="deadlines" class="tab-pane fade">
                                <p class="navTabPara" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">DATES & FEE DETAILS</p>
                                <div class="row navTabRow">
                                  <div class="col-md-12 col-sm-12 col-xs-12 rowSubBlock" style="background-color: white;">
                                    <div class="row"style="margin-top:2%;" >
                                        <div class="col-md-6 col-xs-6">
                                          <p class="navTabSubPara">DeadLines</p>
                                              <div class="row">
                                                  <div class="col-md-6 col-xs-6">
                                                        <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                        Fall :<br>
                                                        Spring :<br>
                                                        Summer :
                                                        </p><br>
                                                  </div>
                                                  <div class="col-md-6 col-xs-6">
                                                        <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                        {{university.FallDeadline}}<br>
                                                        {{university.SpringDeadline}}<br>
                                                        {{university.SummerDeadline}}
                                                        </p><br>
                                                  </div>
                                              </div>
                                          <br>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                          <p class="navTabSubPara" >Fee</p>
                                          <div class="row">
                                              <div class="col-md-6 col-xs-6">
                                                <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                    Application :<br>
                                                    Tuition :
                                                </p><br>
                                              </div>
                                              <div class="col-md-6 col-xs-6">
                                                <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                    {{university.ApplicationFee|currency}}<br>
                                                    {{university.TutionFee|currency}}
                                                </p><br>
                                              </div>
                                          </div>
                                        <br>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <p class="navTabPara" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">SCHOLARSHIP DETAILS</p>
                                <div class="row navTabRow">
                                  <div class="col-md-12 col-sm-12 col-xs-12 rowSubBlock" style="background-color: white;">
                                    <div class="row"style="margin-top:2%;" >
                                        <div class="col-md-6">
                                        <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                            <span>WES</span><span style="float:right;margin-right:10%;"><i class="box circle icon" ng-class="university.WESIndicator ? 'check' : 'remove'"></i></span>
                                        </p><br>
                                        </div>
                                        <div class="col-md-6">
                                        <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                            <span>Scholarship</span><span style="float:right;margin-right:10%;"><i class="box circle icon" ng-class="university.ScholarshipIndicator ? 'check' : 'remove'"></i></span>
                                        </p><br>
                                        </div>
                                    </div>
                                  </div>
                                </div>    
                              </div>
                              <br>
                        <div id="programs" class="tab-pane fade">
                                <p class="navTabPara" style="margin-top: 1% !important;font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">DEPARTMENTS</p>
                                <div class="row navTabRow">
                                  <div class="col-md-12 col-sm-12 col-xs-12 rowSubBlock" style="background-color: white;">
                                            <div class="ui top attached tabular menu" style="margin-top:1%;">
                                                <a class="active item" style="font-size:14px;font-weight:600;font-family: 'Segoe UI','Open Sans' !important;" data-tab="first">MS</a>
                                                <a class=" item" style="font-size:14px;font-weight:600;font-family: 'Segoe UI','Open Sans' !important;" data-tab="second">ME</a>
                                                <a class=" item" style="font-size:14px;font-weight:600;font-family: 'Segoe UI','Open Sans' !important;" data-tab="third">Ph.d</a>
                                            </div>
                                            <div class="ui bottom attached active tab segment custom-scroll" style="margin-bottom:1%;" data-tab="first">
                                                <div class="list-of-course">
                                                    <div class="course" style="font-family: 'Segoe UI','Open Sans' !important;" ng-repeat="course in university.CoursesOfferedSpringMS">
                                                        {{course}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui bottom attached tab segment custom-scroll" style="margin-bottom:1%;" data-tab="second">
                                                <div class="list-of-course">
                                                    <div class="course" style="font-family: 'Segoe UI','Open Sans' !important;" ng-repeat="course in university.CoursesOfferedSpringME">
                                                        {{course}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui bottom attached tab segment custom-scroll" style="margin-bottom:1%;" data-tab="third">
                                                <div class="list-of-course">
                                                    <div class="course" style="font-family: 'Segoe UI','Open Sans' !important;" ng-repeat="course in university.CoursesOfferedSpringPHD">
                                                        {{course}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                <p class="navTabPara" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">SCORES</p>
                                <div class="row navTabRow">
                                  <div class="col-md-12 col-sm-12 col-xs-12 rowSubBlock" style="background-color: white;">
                                        <div class="row"style="margin-top:2%;" >
                                                <div class="col-md-12 col-xs-12">
                                                  <p class="navTabSubPara">Required Scores</p>
                                                  <div class="row">
                                                      <div class="col-md-6 col-xs-6">
                                                        <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                        GRE :<br>
                                                        TOEFL :<br>
                                                        IELTS :<br>
                                                        PTE :<br>
                                                        GPA :
                                                        </p><br>
                                                      </div>
                                                      <div class="col-md-6 col-xs-6">
                                                        <p class="navTabSubParaText" style="font-weight: 700!important;font-size: 16px!important;font-family: 'Segoe UI','Open Sans' !important;">
                                                            {{university.GRE}}<br>
                                                            {{university.TOEFL}}<br>
                                                            {{university.IELTS}}<br>
                                                            {{university.PTE}}<br>
                                                            {{university.GPA}}
                                                        </p><br>
                                                      </div>
                                                  </div>
                                                </div>
                                                <!--<div class="col-md-6 col-xs-6">
                                                  <p class="navTabSubPara" >Your Scores</p>
                                                  <div class="row">
                                                        <div class="col-md-6 col-xs-6">
                                                          <p class="navTabSubParaText">
                                                          GRE :<br>
                                                          TOEFL :<br>
                                                          IELTS :<br>
                                                          PTE :<br>
                                                          GPA :
                                                          </p><br>
                                                        </div>
                                                        <div class="col-md-6 col-xs-6">
                                                          <p class="navTabSubParaText">
                                                              {{university.GRE}}<br>
                                                              {{university.TOEFL}}<br>
                                                              {{university.IELTS}}<br>
                                                              {{university.PTE}}<br>
                                                              {{university.GPA}}
                                                          </p><br>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            <!--</div>
                                    <!--<hr style="border: solid 1px #979797 !important;">
                                    <div class="row">
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <p class="navTabParaScores">Your Scores</p>
                                          <div class="scoresClass">
                                            <p class="coloredScores colorGreen">GRE: 295 </p>
                                            <p class="coloredScores colorRed">TOEFL: 79 </p>
                                            <p class="coloredScores colorRed">IELTS: 6.5 </p>
                                            <p class="coloredScores colorGreen" style="margin-left: 5%;">GPA: 3 </p>
                                          </div>
                                       </div>
                                       <div class="col-md-4 col-sm-12 col-xs-12">
                                        <p class="navTabParaScores" style="float: right;">University Type for You</p>
                                        <p class="AMBITIOUS">AMBITIOUS</p>
                                       </div>
                                    </div>-->
                                  <!--</div>
                                </div>
                              </div>
                        <br>
                        </div>
                        <br>
                      </div>
                     </div>
                  <div class="col-md-2 col-sm-0 col-xs-0"></div>
    </div>
    <!--tab panes end-->
<!--</div> -->
<!-- section 2 end-->   


<script>
    $('.menu .item')
        .tab();
</script>


