<!--
<div class="ui text container" style="padding-left:15px; border-left:3px solid #888 !important; background-color: #F5F5F5 !important; text-align:justify !important; font-family:Segoe UI, Open Sans !important;">
<p>Know more about the university before applying. we have gathered all the necessary information of 350+ universities that a student has to know in prior. Compare universities with our search tool. Use the options below to search for universities by State, Place and name.</p>   
</div>
-->
<div class="ui container ng-scope">
    <div class="ui right aligned fluid category search item" id="search-bar" style="height: 46px;font-size:20px; border-radius:8px;">
        <i class="search icon" style="color:black; font-size:20px;"></i>
        <div class="ui transparent icon input" style="padding-top: 7px; border-bottom: 1px solid #bbb;padding-bottom: 2px;">
            <input ng-model="filter_univs" class="prompt" type="text" placeholder="Search Universities by State, Place or University Name" style="width: 850px; background-color:green;">
        </div>
        <div class="results"></div>
    </div>
    <br>
    <br>
    <div class="ui four column relaxed stackable grid">
        <div class="column" ng-repeat="state in states|filterStates:filter_univs:universitiesByStates">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        <div class="header" style="font-family: Segoe UI, Open Sans !important; font-size:12px;">{{state}}</div>
                        <small style="font-family: Segoe UI, Open Sans !important; font-size:13px;">Has {{universitiesByStates[state].length}} Universities</small>
                        <div class="list">
                            <div class="item" ng-repeat="univ in universitiesByStates[state]|filter:filter_univs" ng-init="univ.fav=univ.fav||0">
                                <i class="icon star" ng-class="!univ.favouriteIndicator && 'empty'" style="padding-top:3px;" ng-click="addToWish(univ);"></i>
                                <div class="content">
                                    <a class="header" target="_blank" style="font-family: Segoe UI, Open Sans !important; text-transform: capitalize; font-size:14px;" ui-sref="universitybydetails({name: replaceSpaces(univ.UniversityName), location:replaceSpaces(univ.Place), state:replaceSpaces(univ.State)})">{{univ.UniversityName}}</a>
                                    <small class="description">{{univ.Place}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>