<div class="ui three column grid" ng-if="!User.details.FullName">
    <div class="ui row">
        <div class="column"></div>
        <div class="ui tall stacked segment column">
            <form class="ui form" name="FindUser" ng-submit="User.find(params)">
                <div class="field">
                    <label>Email</label>
                    <input type="email" ng-model="params.email" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <label>Mobile</label>
                    <input ng-model="params.phone" type="text" name="phone" placeholder="Mobile">
                </div>
                <div class="field">
                    <label style="float:right;">Any one parameter is required....</label>
                </div>
                <button ng-disabled="!params.email && !params.phone" class="ui button" type="submit">Find</button>
            </form>
        </div>
    </div>
</div>
<div ng-if="User.details.FullName" class="ui ten column grid">
    <div class="column"></div>
    <div class="four wide column">
        <div class="ui stacked segments">
            <h3 class="header">Basic Details</h3>
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <div class="header">FullName</div>
                        {{User.details.FullName}}
                    </div>
                    <div class="item">
                        <div class="header">Email</div>
                        {{User.details.email}}
                    </div>
                    <div class="item">
                        <div class="header">Phone</div>
                        {{User.details.phone}}
                    </div>
                    <div class="item">
                        <div class="header">City</div>
                        {{User.details.City}}
                    </div>
                    <div class="item">
                        <div class="header">Created Date</div>
                        {{User.details.createdAt|date}}
                    </div>
                    <div class="item">
                        <div class="header">Update Date</div>
                        {{User.details.updatedAt|date}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui stacked segments">
            <div class="ui segment">
                <h3 class="header">Last Search Params</h3>
                <div class="ui list">
                    <div class="item" ng-repeat="(key, value) in User.details.LastSearchParams">
                        <div class="header">{{key}}</div>
                        <pre>{{value}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui stacked segments">
            <div class="ui segment">
                <h3 class="header">Favourite Universities</h3>
                <div class="ui list">
                    <div class="item" ng-repeat="univ in User.favourites">
                        <div class="header">{{univ.UniversityName}}</div>
                        <p>{{univ.Address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>